{#
  phone number macro
  removes all characters except numbers and + character
#}
{% macro formatPhoneNumber(str) %}
{% spaceless %}
  {{ str|replace('/[^0-9\+]/', '') }}
{% endspaceless %}
{% endmacro %}

{#
  googleMapsUrl macro
  Return google maps direction url by passing through the address
#}
{% macro googleMapsUrl(address) %}
{% spaceless %}
https://www.google.com/maps/dir/Current+Location/{{ address|trim|replace({' ': '+'}) }}
{% endspaceless %}
{% endmacro %}

{# embed vimeo or youtube from url #}
{% macro embedVideo(videoLink) %}

  {% set videoRegexString = '/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/' %}
  {% set videoID = videoLink|replace(videoRegexString, '$6') %}
  {% set service = videoLink|lower|replace(videoRegexString, '$3') %}

  {% if 'youtu' in service %}
    <iframe src="https://www.youtube.com/embed/{{ videoID }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
    <iframe src="https://player.vimeo.com/video/{{ videoID }}?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {% endif %}

{% endmacro %}


{% macro makeLink(string) %}
{% spaceless %}
  {%- if ('http://' not in string and 'https://' not in string) -%}
    {%- set string = "http://#{string}" -%}
  {%- endif -%}
{{ string }}
{% endspaceless %}
{% endmacro %}

{% macro addNodeToNavigation(node, index) %}
  {% set nodeClasses = [] %}
  {% if node.hasChildren %}
    {% set nodeClasses = nodeClasses|merge(['has-children']) %}
  {% endif %}
  {% if node.active or node.hasActiveChild %}
    {% set nodeClasses = nodeClasses|merge(['active']) %}
  {% endif %}
  {% if node.level == 1 and index == 1 %}
    {% set nodeClasses = nodeClasses|merge(['first']) %}
  {% endif %}
  {% if node.listClass|length %}
    {% set nodeClasses = nodeClasses|merge([node.listClass]) %}
  {% endif %}

  <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
    <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
    {% if node.hasChildren %}
      <ul class="nav__level{{ (node.level + 1) }}">
        {% for subnode in node.children %}
          {{ _self.addNodeToNavigation(subnode, loop.index) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}


{% macro googleCalendar(start, end, location, title, description) %}
{% spaceless %}
https://www.google.com/calendar/render?action=TEMPLATE&amp;text={{ title }}&dates={{ start|date('Ymd') }}T{{ start|date('His') }}/{{ end|date('Ymd') }}T{{ end|date('His') }}&details={{ description }}&location={{ location }}&sprop=&sprop=name:
{% endspaceless %}
{% endmacro %}

{% macro outlookCalendar(start, end, location, title, description) %}
{% spaceless %}
data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0APRODID:-//{{ siteUrl }} v1.0//EN%0ABEGIN:VEVENT%0ADTSTAMP:{{ start|date('Ymd') }}T{{ start|date('His') }}%0ADTSTART:{{ start|date('Ymd') }}T{{ start|date('His') }}%0ADTEND:{{ end|date('Ymd') }}T{{ end|date('His') }}%0ASTATUS:CONFIRMED%0ASUMMARY:{{ title }}%0ADESCRIPTION:{{ description }}%0ALOCATION:{{ location }}%0AEND:VEVENT%0AEND:VCALENDAR
{% endspaceless %}
{% endmacro %}

{% macro yahooCalendar(start, end, location, title, description) %}
{% set duration = (date(start).timestamp - date(end).timestamp)|abs %}
{% set duration  = duration / 60 %}
{% set duration = duration|round(1, 'floor')%}
{% set minute = (duration % 60 < 10) ? '0' ~ (duration % 60) : duration % 60 %}
{% set duration = (duration / 60)|round(1, 'floor') %}
{% set hour = (duration < 10) ? '0' ~ duration : duration %}
{% set yahooDuration = hour ~ minute %}
{% spaceless %}
http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title={{ title }}&st={{ start|date('Ymd') }}T{{ start|date('His') }}&dur={{ yahooDuration }}&desc={{ description }}&in_loc={{ location }}
{% endspaceless %}
{% endmacro %}

{% macro icalCalendar(start, end, location, title, description) %}
{% spaceless %}
data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0APRODID:-//{{ siteUrl }} v1.0//EN%0ABEGIN:VEVENT%0ADTSTAMP:{{ start|date('Ymd') }}T{{ start|date('His') }}%0ADTSTART:{{ start|date('Ymd') }}T{{ start|date('His') }}%0ADTEND:{{ end|date('Ymd') }}T{{ end|date('His') }}%0ASTATUS:CONFIRMED%0ASUMMARY:{{ title }}%0ADESCRIPTION:{{ description }}%0ALOCATION:{{ location }}%0AEND:VEVENT%0AEND:VCALENDAR
{% endspaceless %}
{% endmacro %}

{% macro liveCalendar(start, end, location, title, description) %}
{% spaceless %}
https://bay02.calendar.live.com/calendar/calendar.aspx?rru=addevent&amp;dtstart={{ start|date('Ymd') }}T{{ start|date('His') }}&dtend={{ end|date('Ymd') }}T{{ end|date('His') }}&summary={{ title }}&location={{ location }}&description={{ description }}
{% endspaceless %}
{% endmacro %}

{% macro calendarLinks(start, end, location, title, description) %}
  <ul>
    <li>
      <a href="{{ _self.googleCalendar(start, end, location, title, description) }}" target="_blank">Google<span>+</span></a>
    </li>
    <li>
      <a href="{{ _self.outlookCalendar(start, end, location, title, description) }}" target="_blank">Outlook<span>+</span></a>
    </li>
    <li>
      <a href="{{ _self.yahooCalendar(start, end, location, title, description) }}" target="_blank">Yahoo<span>+</span></a>
    </li>
    <li>
      <a href="{{ _self.icalCalendar(start, end, location, title, description) }}" target="_blank">iCal<span>+</span></a>
    </li>
    <li>
      <a href="{{ _self.liveCalendar(start, end, location, title, description) }}" target="_blank">Live<span>+</span></a>
    </li>
  </ul>
{% endmacro %}

{#
  excerpt
  pass through the content and add the number of words that you want visible
#}
{% macro excerpt(content, amount) %}
  {% set amount = (amount|length) ? amount : 60 %}
  {% set plainTextContent = content|striptags %}
  {% set words = plainTextContent|split(" ") %}
  {% if words|length < amount %}
    {% set excerpt = plainTextContent %}
  {% else %}
    {% set excerpt = words|slice(0, amount)|join(" ") ~ '...' %}
  {% endif %}
  {{ excerpt|raw }}
{% endmacro %}

{% macro getDms(val) %}
  {% set deg = val|round(0, 'floor') %}
  {% set min = ((val - deg) * 60)|round(0, 'floor') %}
  {% set sec = ((val - deg - min / 60) * 3600)|round(3) %}

  {{ deg ~ '°' ~ min ~ "'" ~ sec ~ '"' }}
{% endmacro %}

{% macro ddToDms(latLng) %}
  {% set latLng = latLng|replace(' ','') %}
  {% set latLngArray = latLng|split(',') %}

  {% set lat = latLngArray[0] %}
  {% set lng = latLngArray[1] %}

  {% set latResult = _self.getDms(lat) %}
  {% set latDir = (lat >= 0) ? 'N' : 'S' %}

  {% set lngResult = _self.getDms(lng) %}
  {% set lngDir = (lng >= 0) ? 'E' : 'W' %}

  {{ "#{latResult} #{latDir} #{lngResult} #{lngDir}"|raw }}

{% endmacro %}

{% macro getPlaceholder(stringHandle) %}
{% spaceless %}
  {% if craft.fields.getFieldByHandle(stringHandle)|length %}
    {% set string = craft.fields.getFieldByHandle(stringHandle).attributes.settings.placeholder %}
  {% else %}
    {# the field does not excist, show the handle #}
    {% set string = (craft.config.devMode == true) ? "@@ #{stringHandle} @@" : stringHandle %}
  {% endif %}
{{ string }}
{% endspaceless %}
{% endmacro %}

{% macro linkTypeSwitch (item) %}
  {%- spaceless -%}
    {% switch item.type %}
      {% case "internalLink" %}
        {% set linkUrl = (item.linkInternal|length) ? item.linkInternal.one.url : '#' %}
      {% case "externalLink" %}
        {% set linkUrl = (item.linkExternal|length) ? item.linkExternal : '#' %}
      {% case "categoryLink" %}
        {% set linkUrl = (item.linkCategory|length) ? item.linkCategory.one.url : '#' %}
      {% case "assetLink" %}
        {% set linkUrl = (item.linkAsset|length) ? item.linkAsset.one.url : '#' %}
      {% default %}
        {% set linkUrl = "#" %}
    {% endswitch %}
    {{ linkUrl|raw }}
  {%- endspaceless -%}
{% endmacro %}

{% macro translate(phrase, lang, translationsTable) %}
{% spaceless %}
  {% set output = phrase %}
  {% for translatedPhrase in translationsTable if translatedPhrase.en == phrase %}
    {% set output = translatedPhrase[lang]|length ? translatedPhrase[lang] : output %}
  {% endfor %}
  {{output|raw}}
{% endspaceless %}
{% endmacro %}

{% macro getCategoriesIcon(id, size) %}
{% spaceless %}
  {% if size is defined and size == 'small' %}
    {% if id == 'datasheets' %}
      {% set iconType = "_icons/_icon-whitepaper.svg" %}
    {% elseif id == 'whitepaper' %}
      {% set iconType = "_icons/_icon-whitepaper.svg" %}
    {% elseif id == 'pressrelease' %}
      {% set iconType = "_icons/_icon-press-release.svg" %}
    {% elseif id == 'releasenotes' %}
      {% set iconType = "_icons/_icon-release-notes.svg" %}
    {% endif %}
  {% else %}
    {% if id == 'career' %}
      {% set iconType = "_icons/_icon-open-position.svg" %}
    {# Category id: 2371: Guides, 234: Datasheets, 1798: Tips and tricks, 176: Tutorials  #}
    {% elseif id == 1798  %}
      {% set iconType = "_icons/_icon-tips-and-tricks_big.svg" %}
    {% elseif id == 234 %}
      {% set iconType = "_icons/_icon-datasheets_big.svg" %}
    {% elseif id == 2371 %}
      {% set iconType = "_icons/_icon-guides_big.svg" %}
    {% else %}
      {% set iconType = "_icons/_icon-tutorial_big.svg" %}
    {% endif %}
  {% endif %}
  {{iconType|raw}}
{% endspaceless %}
{% endmacro %}