.accordion-section {
  padding-bottom: $gutter * 2;
  position: relative;
  overflow: hidden;
  #hero__tower--one {
    position: absolute;
    top: 300px;
    left: 100px;
    opacity: 0.3;
    display: none;
    z-index: 0;
    pointer-events: none;
    width: 300px;
    height: 1102px;
    svg {
      width: 100%;
    }
  }
  #hero__tower--two {
    position: absolute;
    right: 150px;
    top: -30px;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
    width: 300px;
    height: 1525px;
    svg {
      width: 100%;
    }
  }
  &__header {
    max-width: $containerWidth;
    margin: 0 auto;
    text-align: center;
    color: $white;
    padding: $gutter * 4 $gutter * 2 $gutter * 3 $gutter * 2;
    h1 {
      margin: 0;
      padding-bottom: $gutter;
    }
  }
  &__description {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.625;
  }
  @include mq(medium) {
    padding: $gutter * 2 0 $gutter * 4 0;
  }
  @include mq(large) {
    #hero__tower--one {
      display: inherit;
    }
  }
}

.accordion {
  margin: 0 auto;
  padding: 0 $gutter;
  &-tab {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $white;
    box-shadow: $shadow;
    margin-bottom: $gutter / 2;
    padding: $gutter * 2;
    @include roboto-light;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.625;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      box-shadow: $shadowHover;
    }
    &__question {
      width: 100%;
      color: $grey-dark;
    }
    &__solibri,
    &__solibri__lower {
      width: 100%;
      padding-top: $gutter;
      box-sizing: border-box;
      color: $blue;
      @include roboto;
      font-size: 14px;
      letter-spacing: 0.017em;
      svg {
        margin-left: $gutter;
        transition: all 0.15s ease-in;
        .is-open & {
          transform: rotate(180deg);
        }
        g {
          fill: $blue;
        }
      }
    }
    &__solibri__lower {
      display: none;
    }
    &__answer {
      width: 100%;
      color: $grey-dark;
      padding-top: $gutter;
      box-sizing: border-box;
      display: none;
      font-size: 14px;
      span {
        padding-right: 10px;
      }
    }
  }
  @include mq(medium) {
    padding: 0 $gutter * 2;
  }
  @include mq(large) {
    max-width: 800px;
    &-tab {
      &__question {
        width: 75%;
      }
      span {
        padding-top: 0;
      }
      &__solibri {
        padding-left: $gutter * 4;
        width: 25%;
      }
      &__solibri__upper {
        opacity: 1;
        transition: opacity 0.1s ease-in;
        .is-open & {
          opacity: 0;
        }
      }
      .accordion-tab__solibri__lower {
        display: inline-block;
        width: auto;
      }
      &__answer {
        max-width: 75%;
      }
    }
  }
}
