// -------   Alert Styles    ------

#alerts {
  max-width: 340px;
  width: 100%;
  top: $gutter;
  right: 0;
  z-index: 9999;
  padding: 0 $gutter;
  box-sizing: border-box;
  @include mq(medium) {
    top: $gutter*2;
  }
}

.alerts--wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  opacity: 0;
  transition: opacity 0.2s ease-in; 
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: 0.2;
  }
  &.alert--open {
    opacity: 1;
    visibility: visible;
  }
}

.alert {
  position:relative;
  padding: 28px 24px;
  margin-bottom: $gutter;
  border-radius: 3px;
  box-shadow: $shadow;
  opacity:0;
  transition: top 0.2s ease-in, opacity  0.2s ease-in, transform 0.2s ease-in; 
  &--title {
    @include roboto-light;
    font-size: 21px;
    color: $grey-dark;
    letter-spacing: 0.02em;
    line-height: 1.38;
    display: block;
  }
  &--message {
    @include roboto;
    margin-top: $gutter;
    color: $grey-dark;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.017em;
  }
  &--dismiss {
    @include roboto;
    margin-top: $gutter;
    color: $buttonGrey;
    font-size: 13px;
    letter-spacing: 0.016em;
    line-height: 1.375;
  }
  &--block {
    text-align: center;
  }
  &--success {
    color: $buttonGreyColor;
    background-color: $white;
  }
  &.open {
    opacity:1;
    cursor: pointer;
    transition: top 0.2s ease-in 0.1s, opacity 0.2s ease-in;
  }
  @include mq(medium) {
    top: 0;
    &.open {
      top: $gutter*2;
    }
  }
}