$article-meta: #a7a7a7;

.article-wrapper {
  display: flex;
  max-width: $containerWidth;
  margin: 0 auto;
  flex-wrap: wrap;
  @include mq(large) {
    flex-wrap: nowrap;
  }
  .loading-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.2);
    .loader {
      z-index: 1;
    }
    .inner {
      text-align: center;
      .reset-button {
        color: $error-color;
        span {
          cursor: pointer;
          padding: $gutter/2;
          border-bottom: 1px solid $error-color !important;
          transition: padding-bottom 0.2s ease-in;
          &:hover {
            padding-bottom: $gutter/4;
          }
        }
      }
    }
    &.is-loading {
      display: flex;
    }
  }
}

.article {
  width: 100%;
  text-align: left;
  header {
    margin-top: $gutter * 2;
    padding: $gutter $mobileGutter;
    padding-top: 0;
    max-width: $containerWidthSmall;
    h1 {
      color: $grey-dark;
    }
  }
  &__image {
    padding: 0 16px;
    max-width: 600px;
    figcaption {
      @include roboto;
      font-size: 13px;
      color: #8e8e8e;
      line-height: 1.69;
      padding-top: $gutter;
    }
  }
  &__description {
    @include roboto-light;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.022em;
    padding-bottom: $gutter * 2;
    color: $grey-dark;
    margin-bottom: 0;
  }
  &__meta {
    display: flex;
    flex-wrap: wrap;
    color: $article-meta;
    line-height: 1.69;
    letter-spacing: 0.016em;
    font-size: 13px;
    align-items: center;
    padding-bottom: $gutter * 2;
  }
  .divider {
    padding: 0 $gutter;
  }
  &__category {
    color: $article-meta;
    &:hover {
      color: $grey-dark;
    }
  }
  @include mq(large) {
    width: 70%;
    &__description {
      font-size: 23px;
      line-height: 1.34;
    }
  }
}

.article-side {
  width: 100%;
  display: block;
  padding: $gutter $mobileGutter;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0;
    margin: 0 0 $gutter * 2 0;
    list-style-type: none;
  }
  @include mq(medium) {
    padding: $gutter * 2;
    header {
      margin-top: $gutter * 6;
    }
  }
  @include mq(large) {
    display: block;
    width: 30%;
    padding: 0;
    padding-right: $gutter;
  }
}

.author {
  &__content {
    display: flex;
    align-items: center;
  }
  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: $gutter;
  }
  &__name {
    padding: 0 $gutter 0 0;
  }
  &__divider {
    padding-right: $gutter;
  }
  @include mq(medium) {
    &__divider {
      padding-right: $gutter;
    }
  }
}

.event-details {
  &__content {
    padding: $gutter * 2 $gutter 0 $gutter;
    th {
      font-weight: normal;
    }
  }
  &__date,
  &__location {
    position: relative;
    padding-left: $gutter * 2;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 0;
    svg {
      position: absolute;
      left: 0;
      padding-top: 3px;
      g {
        fill: $blue;
      }
    }
  }
  &__location {
    svg {
      width: 13px;
      height: 18px;
    }
  }
  &__map {
    width: 100%;
    height: 40vh;
    max-width: 600px;
    min-height: 360px;
    padding: 0 16px;
    box-sizing: border-box;
    .map {
      height: 100%;
    }
  }
}
