.article-list-section {
  padding: $gutter * 4 0;
  &__header {
    text-align: center;
    padding-bottom: $gutter * 4;
  }
  &__title {
    padding: 0;
    margin: 0;
  }
  &__footer {
    padding-top: $gutter * 4;
    text-align: center;
  }
}

.article-list {
  padding: 0;
  &__item {
    padding: 0 $gutter;
  }
  @include mq(medium) {
    display: flex;
    max-width: $containerWidth;
    margin: auto;
    padding: 0 $gutter;
  }
}
