.banner {
  @extend .blue-gradient;
  display: flex;
  flex-wrap: wrap;
  padding: $gutter;
  background-color: $blue;
  position: relative;
  overflow: hidden;
  #banner__tower {
    position: absolute;
    top: -100px;
    right: -190px;
    opacity: 0.3;
    pointer-events: none;
    //display: none;
    width: 300px;
    height: 1102px;
    svg {
      width: 100%;
    }
  }
  &__content {
    max-width: $containerWidthLarge;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: $gutter * 4 $gutter * 2 $gutter * 2;
  }
  &__text {
    color: $white;
    @include scout;
    width: 100%;
    max-width: 325px;
    margin: 0 auto;
    padding-bottom: $gutter * 3;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 0.011em;
    line-height: 0.97;
  }
  .button.has-outline.is-white {
    width: 100%;
    &:hover {
      background-color: $yellow;
      border-color: $yellow;
    }
  }
  @include mq(medium) {
    padding: $gutter * 2;
    #banner__tower {
      top: -100px;
      right: 50px;
    }
    &__content {
      padding: 0;
    }
    &__text {
      max-width: $containerWidth;
      padding-bottom: 0;
      padding-right: $gutter * 2;
      text-align: left;
      margin: initial;
      font-size: 40px;
      line-height: 1.25;
      letter-spacing: 0.011em;
      margin-top: -5px;
    }
    .button.has-outline.is-white {
      width: auto;
    }
  }
  @include mq(large) {
    padding: $gutter * 6 $gutter * 7;
    #banner__tower {
      top: -100px;
      right: 250px;
    }
    &__content {
      flex-wrap: nowrap;
      min-height: inherit;
      flex-direction: row;
    }
    &__text {
      max-width: 800px;
      padding-bottom: 0;
      font-size: 50px;
      line-height: 1;
      letter-spacing: 0.011em;
      margin-top: -10px;
    }
  }
}

aside {
  .banner {
    #banner__tower {
      bottom: -1000px;
      right: -100px;
    }
  }
  @include mq(large) {
    margin-top: $gutter * 4;
    .banner {
      min-height: 350px;
      padding: $gutter * 2;
      .button {
        width: 100% !important;
        align-self: flex-end;
      }
      &__content {
        flex-wrap: wrap;
      }
      &__text {
        width: 100%;
        align-self: flex-start;
        padding-right: 0;
        br {
          display: none;
        }
      }
    }
  }
}
