.button {
  @include roboto;
  user-select: none;
  touch-callout: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: $blue;
  color: $white;
  padding: 18px 28px;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  &:hover {
    background-color: tint($blue, 15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }
  &:active {
    background-color: shade($blue, 5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    transform: translateY(0);
  }
}

.button.is-yellow {
  background-color: $yellow;
  color: $white;
  &:hover {
    background-color: tint($yellow, 15);
  }
  &:active {
    background-color: shade($yellow, 5);
  }
}

.button.has-outline {
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    border-color: transparent;
    background-color: tint($blue, 15);
    color: $white;
  }
  &:active {
    border-color: transparent;
    background-color: shade($blue, 5);
    color: $white;
  }
}

.button.has-outline.is-yellow {
  color: $lightyellow;
  border-color: $lightyellow;
  &:hover {
    border-color: transparent;
    background-color: $yellow;
    color: $white;
  }
  &:active {
    border-color: transparent;
    background-color: shade($yellow, 5);
    color: $white;
  }
}

.button.has-outline.is-white {
  color: $white;
  border-color: $white;
  &:hover {
    border-color: transparent;
    background-color: tint($yellow, 15);
    color: $white;
  }
  &:active {
    border-color: transparent;
    background-color: shade($yellow, 5);
    color: $white;
  }
}

.button.has-outline.is-grey {
  color: $buttonGreyColor;
  border-color: $buttonGrey;
  &:hover {
    background-color: tint($blue, 15);
    border-color: transparent;
    color: $white;
  }
  &:active {
    background-color: shade($blue, 5);
    border-color: transparent;
    color: $white;
  }
}

.button.has-outline.is-dark-grey {
  color: $grey-dark;
  border-color: $buttonDarkGrey;
  &:hover {
    border-color: transparent;
    background-color: tint($yellow, 15);
    color: $white;
  }
  &:active {
    border-color: transparent;
    background-color: shade($yellow, 5);
    color: $white;
  }
}

.button.is-wide {
  min-width: 180px;
}

.button.is-expanded {
  width: 100%;
}

.button.is-disabled {
  opacity: 0.69;
  cursor: not-allowed;
  pointer-events: none;
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button.is-bigger {
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.333;
  padding: $gutter * 2 $gutter * 5;
}