$sectionSecondary: #f0f0f0;

.cards-section {
  padding: $gutter * 4 0 $gutter * 4 0;
  background-color: $sectionSecondary;
  overflow: hidden;
  &.white {
    background-color: $white;
  }
  &__header {
    //width: 100%;
    padding: 0 $gutter * 2 $gutter * 4 $gutter * 2;
    text-align: center;
    line-height: 1;
    max-width: 730px;
    margin: 0 auto;
    h3 {
      margin: 0;
      color: $grey-dark;
      padding: 0 $gutter * 2;
    }
  }
  &__content {
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    li {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: $gutter;
      padding: 0 $gutter;
    }
    .carousel-cell {
      width: 80%;
      padding: 0;
      padding-right: $gutter;
      > div,
      > a {
        height: 100%;
      }
    }
  }
  &__footer {
    width: 100%;
    color: $grey-dark;
    max-width: $containerWidth;
    margin: 0 auto;
    text-align: center;
    padding: $gutter * 2 0 0 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    max-width: 250px;
  }
  &__cta {
    padding-top: $gutter * 2;
    color: $blue;
    width: 100%;
    text-align: center;
    svg {
      display: block;
      margin: 0 auto;
      margin-top: $gutter * 2;
      fill: $blue;
      position: relative;
      top: 3px;
      animation: cta_moving ease-in-out 1.6s infinite alternate;
    }
  }
  @include mq(medium) {
    padding: $gutter * 4 $gutter $gutter * 4 $gutter;
    &__header {
      padding-bottom: $gutter * 2;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      li,
      .carousel-cell {
        width: 50%;
        padding: $gutter;
      }
    }
    &__footer {
      padding: $gutter * 2 0 0 0;
      max-width: none;
    }
    &__cta {
      padding-top: $gutter * 4;
      text-decoration: none;
      &:hover {
        svg {
          transform: translateX($gutter);
          animation-play-state: paused;
        }
      }
      svg {
        display: inline-block;
        padding-left: $gutter;
        transition: all 0.7s cubic-bezier(0, 0, 0.32, 1.04);
        margin: auto;
        margin-top: 0;
      }
    }
  }
  @include mq(large) {
    padding: $gutter * 7 $gutter $gutter * 7 $gutter;
    &__header {
      padding-bottom: $gutter * 5;
    }
    &__content {
      li,
      .carousel-cell {
        width: 33.3333%;
      }
    }
  }
}


@keyframes cta_moving {
  100% { transform: translateX(0); }
  0% { transform: translateX(10px); }
}

.cards-section {
  .fade-in__item {
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.7s cubic-bezier(0, 0, 0.32, 1.04),
                opacity 0.7s cubic-bezier(0, 0, 0.32, 1.04);
  }
  &.in-view {
    .fade-in__item {
      opacity: 1;
      transform: translateY(0);
      &:nth-child(1) {
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        transition-delay: 0.6s;
      }
      &:nth-child(4) {
        transition-delay: 0.8s;
      }
    }
  }
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: white;
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09f;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60); /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30); /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}
