.card {
  position: relative;
  display: block;
  min-height: 100%;
  background-color: $white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: $shadow;
  text-align: left;
  padding-bottom: $gutter * 2;
  transition: all 0.2s ease-in;
  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
  }
  &__image {
    position: relative;
    background-color: $blue;
    overflow: hidden;
    &__bg {
      width: 100%;
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
      opacity: 0;
      transition: opacity 0.2s linear;
      &.b-loaded {
        opacity: 1;
      }
    }
  }
  &__content {
    padding: $gutter * 2;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    color: $grey-dark;
    font-size: 21px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    margin: 0;
    padding-bottom: $gutter * 2;
    @include roboto-light;
  }
  &__description {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
    color: $black;
  }
  &__meta {
    @include roboto;
    font-size: 13px;
    line-height: 1.69em;
    letter-spacing: 0.016em;
    color: $buttonGrey;
    display: block;
    position: absolute;
    bottom: 19px;
    width: 100%;
    .divider {
      padding: 0 $gutter / 2;
    }
  }
  &__cta {
    @include roboto;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: black;
    padding: 25px;
  }
  &__duration {
    position: relative;
    padding-left: $gutter * 2;
    &__icon {
      position: absolute;
      left: 2px;
      top: 0;
      svg g {
        fill: $blue;
      }
    }
  }
}
