.cards-modal {
  padding: 20px 24px;
  box-shadow: $shadow;
  border-radius: 3px;
  background: $white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  &:hover {
    box-shadow: $shadowHover;
  }
  p {
    @include roboto;
    font-size: 16px;
    color: $buttonGreyColor;
    letter-spacing: 0.02em;
    line-height: 1.437;
  }
  @include mq(medium) {
    padding: 28px 32px;
  }
}
