.cards-list-section {
  padding: $gutter * 2 0 $gutter * 2;
  background-color: #f2f2f2;
  &__content {
    max-width: $containerWidth;
    margin: 0 auto;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px $gutter * 2;
    .has-description & {
      width: 100%;
      flex-wrap: wrap;
    }
    a {
      color: $blue;
    }
  }
  &__title {
    margin: 0;
    line-height: 1;
    color: $grey-dark;
    .has-description & {
      width: 100%;
      text-align: center;
      padding-bottom: $gutter * 2;
      @include scout;
      font-size: 32px;
      font-weight: normal;
      letter-spacing: 0.011em;
    }
  }
  &__link {
    .has-description & {
      display: none;
    }
  }
  &__description {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: $gutter * 2;
  }
  &__cta {
    font-size: 13px;
    letter-spacing: 0.016em;
    padding: $gutter;
    padding-right: 0;
    &:hover {
      color: tint($blue, 20);
    }
  }
  .cards-list {
    &__item {
      width: 100%;
      padding: 0 $mobileGutter;
      margin-bottom: $mobileGutter;
      box-sizing: border-box;
    }
  }
  &__footer {
    padding: 0 $mobileGutter $gutter * 4 $mobileGutter;
    text-align: center;
    margin: 0 auto;
    max-width: $containerWidth;
    a {
      color: $blue;
      &:hover {
        color: tint($blue, 20);
      }
    }
  }
  @include mq(medium) {
    padding: $gutter * 4 0 $gutter * 2;
    .list-items-list {
      padding-bottom: $gutter * 4;
      .newsLanding-template & {
        padding-bottom: 0;
      }
    }
    &__header {
      padding-bottom: $gutter * 3;
      padding-right: 12px;
      padding-left: 12px;
      align-items: flex-end;
    }
    &__title {
      .has-description & {
        font-size: 40px;
        line-height: 1.25;
      }
    }
    .cards-list {
      display: flex;
      flex-wrap: wrap;
      &__item {
        width: 50%;
        margin-bottom: $gutter * 2;
        padding-right: $gutter;
        padding-left: $gutter;
      }
    }
  }
  @include mq(large) {
    padding-bottom: $gutter * 6;
    .cards-list {
      &__item {
        width: 33.3333%;
      }
    }
    &__title {
      .has-description & {
        font-size: 50px;
        line-height: 1;
      }
    }
  }
}
