$careersSecondary: #8e8e8e;

.careers-section {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: $gutter;
  background-color: #f2f2f2;
  &__header {
    max-width: $containerWidth;
    margin: 0 auto;
    max-width: 680px;
    margin: 0 auto;
    padding: $gutter * 4 $gutter * 2 $gutter;
    h2 {
      color: $grey-dark;
      text-align: center;
      margin: 0;
    }
  }
  &__content {
    padding: $gutter * 2 0;
  }
  @include mq(medium) {
    &__header {
      padding: $gutter * 4 0;
    }
  }
}

.careers-navigation {
  position: relative;
  padding-top: $gutter * 3;
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 200;
    height: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: $blue;
  }
  ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: $gutter * 2;
    li {
      margin-right: $gutter * 3;
      a {
        color: $careersSecondary;
      }
    }
  }
}

.careers {
  max-width: $containerWidth;
  margin: 0 auto;
}
.careers-tab {
  //display: none;
  display: flex;
  flex-wrap: wrap;
  &.active {
    //display: flex;
    //flex-wrap: wrap;
  }
  &__position {
    width: 100%;
    padding: $gutter / 2 $gutter;
    box-sizing: border-box;
  }
  @include mq(medium) {
    padding: $gutter;
    &__position {
      width: 50%;
    }
  }
}
