.category-card {
  background-color: $white;
  display: block;
  padding: $gutter * 2;
  box-shadow: $shadow;
  transition: all 0.2s ease-in;
  height: 100%;
  border-radius: 4px;
  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    padding-bottom: $gutter * 2;
    height: 100%;
    width: 100%;
  }
  &__icon {
    padding-right: $gutter;
    vertical-align: middle;
    position: relative;
    padding-right: 30px;
    svg {
      position: absolute;
      left: 0;
      top: -3px;
      g {
        fill: $blue;
      }
    }
  }
  &__category {
    color: $buttonGrey;
    padding-bottom: $gutter * 2;
    font-size: 13px;
    letter-spacing: 0.016em;
    line-height: 1.375;
  }
  &__title {
    width: 100%;
    color: $grey-dark;
    padding-bottom: $gutter * 2;
    @include roboto-light;
    margin: 0;
  }
  &__date {
    width: 100%;
    color: $buttonGrey;
    font-size: 13px;
    letter-spacing: 0.016em;
    line-height: 1.375;
    position: absolute;
    bottom: 0;
  }
  @include mq(medium) {
    padding: $gutter * 2;
  }
}
