.contact-headquarters {
  width: 100%;
  background-color: $grey-light;
  box-sizing: border-box;
  &__header {
    max-width: $containerWidth;
    margin: auto;
    text-align: center;
    color: $grey-dark;
    padding: $gutter * 2;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
  &__global {
    max-width: $containerWidth;
    margin: auto;
    padding: 0 $gutter;
  }
  &__global-map {
    height: 200px;
    position: relative;
    background-color: $grey;
    .map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/solibri-map-new.png');
      background-size: cover;
      background-position: center center;
      svg {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        * {
          fill: $blue;
        }
      }
    }
  }
  &__global-office {
    padding: $gutter * 2 $gutter $gutter $gutter;
  }
  &__offices-container {
    padding-bottom: $gutter;
    max-width: $containerWidth;
    margin: auto;
    padding: 0 $gutter;
  }
  &__office {
    padding: $gutter $gutter;
  }
  @include mq(medium) {
    &__global {
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: $gutter * 2;
    }
    &__global-office {
      padding: $gutter * 2 $gutter * 2 $gutter $gutter * 2;
    }
    &__offices-items {
      display: flex;
      flex-wrap: wrap;
      padding: $gutter * 2 0;
    }
    &__office {
      width: 50%;
      padding: $gutter $gutter * 2;
    }
  }
  @media only screen and (min-width: 600px) {
    &__global {
      display: flex;
    }
    &__global-map {
      width: 50%;
      height: auto;
    }
    &__global-office {
      padding-bottom: $gutter * 2;
      width: 50%;
      padding-left: $gutter * 4;
    }
  }
  @include mq(large) {
    &__header {
      padding: $gutter * 6;
    }
    &__global {
      padding-bottom: $gutter * 6;
    }
    &__global-office {
      padding: $gutter * 4 $gutter * 6;
    }
    &__offices-items {
      padding: $gutter * 4 $gutter * 2;
      justify-content: space-between;
    }
    &__office {
      width: 25%;
      padding: 0;
    }
  }
  @media only screen and (min-width: $containerWidth+24) {
    &__offices-items {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
