.cookie-banner {
  background-color: $darkblue;
  color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
  padding: $gutter $gutter * 2;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: opacity 0.35s linear,
    transform 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  &.is-shown {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0%);
  }
  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__content {
    padding: 0;
    padding-right: $gutter;
    margin: 0 auto 0 0;
    font-size: 14px;
    * {
      padding: 0;
      margin: 0;
    }
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__cta {
    padding: 0;
    margin: 0 0 0 auto;
    a {
      color: $white;
      font-size: 14px;
      &:hover {
        opacity: 0.8;
      }
      border-bottom: 1px solid $white;
    }
  }
  @include mq(large) {
    padding: $gutter $gutter * 4;
  }
}
