.ctaSection {
  background-color: $grey-light;
  &__content {
    max-width: $containerWidth;
    margin: auto;
  }
  &__item {
    border-top: 1px solid #d0d0d0;
    padding: $gutter * 2;
  }
  &__item-content {
    max-width: 350px;
  }
  &__icon {
    padding: $gutter 0;
    svg {
      * {
        fill: $blue;
      }
    }
  }
  &__title {
    @include roboto-light;
    color: #525c62;
    font-size: 21px;
    line-height: 1.33;
    margin: 0;
    padding: $gutter 0 0 0;
  }
  &__description {
    @include roboto-light;
    font-size: 16px;
    line-height: 1.62;
    color: #4a4a4a;
    margin: 0;
    padding: $gutter/2 0 0 0;
  }
  &__cta {
    @include roboto;
    font-size: 14px;
    line-height: 1.53;
    color: $blue;
    padding: $gutter 0;
    display: flex;
    align-items: center;
    margin-top: $gutter;
    svg {
      margin-left: $gutter;
      * {
        fill: $blue;
      }
    }
    &:hover {
      svg {
        animation: lookRight 1.5s ease-in-out infinite;
      }
    }
  }
  @media only screen and (min-width: 600px) {
    padding: $gutter * 2 0;
    &__content {
      display: flex;
      padding: $gutter * 2 0;
      justify-content: space-between;
    }
    &__item {
      padding: 0 $gutter * 2;
      width: 50%;
      border-top: 0;
    }
  }
  @include mq(large) {
    padding-bottom: $gutter * 5;
    &__item {
      padding: 0 $gutter * 4;
    }
  }
}
