.error-page {
  background-image: url('../img/error_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: $gutter;
  min-height: 55vh;
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 $gutter * 2;
  }
  &__header {
    max-width: 660px;
    text-align: center;
    color: $white;
    width: 100%;
    h2 {
      margin-bottom: 0;
    }
  }
  &__cta {
    text-align: center;
    padding-bottom: $gutter * 4;
    width: 100%;
  }
}
