.feature-icons {
  padding: $gutter * 4 $gutter * 2 0;
  &__content {
    display: flex;
    flex-wrap: wrap;
    max-width: $containerWidth;
    margin: 0 auto;
  }
  &__icon {
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $grey-dark;
    padding-bottom: $gutter * 6;
    svg {
      width: 100%;
      padding-bottom: $gutter;
    }
  }

  @include mq(medium) {
    padding: $gutter * 2 $gutter * 2 0;
    &__icon {
      width: 25%;
      padding-bottom: $gutter * 2;
    }
  }
  @include mq(large) {
    padding-top: 0;
  }
}