#feature-block-tower {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 500px;
  height: 2185px;
  opacity: 0.17;
  svg {
    g {
      width: 100%;
    }
  }
  @include mq(medium) {
    display: block;
    right: 100px;
  }
}

.feature-block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: $gutter * 4 $gutter * 2;
  position: relative;
  overflow: hidden;
  &.first {
    padding-top: 160px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
  &__content {
    width: 100%;
    max-width: $containerWidth;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &__title,
  &__title-colored {
    @include scout;
    margin: 0;
    width: 100%;
    padding-right: $gutter * 4;
    padding-top: $gutter;
    color: #4a4a4a;
  }
  &__title {
    padding-bottom: $gutter * 4;
  }
  &__title-colored {
    &.blue {
      color: $cyan;
    }
    &.red {
      color: #f2687d;
    }
    &.green {
      color: #7cc576;
    }
    &.purple {
      color: #9d88f8;
    }
  }
  &__list {
    color: $white;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 26px;
    padding-right: $gutter * 2;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  &__list-item {
    width: 100%;
    margin-bottom: $gutter * 4;
    opacity: 0;
    transform: translateY(10px);
    transition-delay: 2s;
    transition: transform 0.7s cubic-bezier(0, 0, 0.32, 1.04),
                opacity 0.7s cubic-bezier(0, 0, 0.32, 1.04);
  }
  &.is-active {
    .feature-block__list-item {
      opacity: 1;
      transform: translateY(0);
      &:nth-child(1) {
        transition-delay: 0.2s;
      }
      &:nth-child(2) {
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        transition-delay: 0.6s;
      }
      &:nth-child(4) {
        transition-delay: 0.8s;
      }
    }
  }
  &__icon {
    height: 60px;
    display: flex;
    align-items: center;
  }
  &__feature {
    display: flex;
    padding: $gutter * 2 0 $gutter * 2 0;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;
    color: #4a4a4a;
    @include roboto-light;
    &:last-child {
      padding-bottom: 0;
    }
    svg {
      flex-shrink: 0;
      height: 25px;
      width: 25px;
      margin-right: $gutter;
      vertical-align: middle;
    }
  }
  @include mq(medium) {
    //min-height: 40vh;
    align-content: center;
    padding: $gutter * 8;
    &__title {
      padding-bottom: $gutter * 6;
    }
    &__list {
      flex-wrap: nowrap;
    }
    &__list-item {
      width: 50%;
      padding-right: $gutter * 2;
      margin-bottom: 0;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  @include mq(large) {
    //min-height: 60vh;
    align-content: center;
    padding: $gutter * 10;
    &__title {
      padding-top: 0;
    }
    &__list-item {
      width: 33.3333%;
      max-width: 290px;
      padding-right: $gutter * 4;
      &:last-child {
        padding-right: 0;
      }
    }
    &__feature svg {
      width: 50px;
      height: 50px;
      margin-right: $gutter * 2;
    }
  }
}

.feature-mobile-icon {
  align-items: center;
  &__content {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 26px;
    padding-bottom: $gutter * 2;
    svg {
      padding-right: $gutter;
    }
  }
}

.features-section {
  position: relative;
  overflow: hidden;
}

.features-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  padding: $gutter * 4 $gutter * 2;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  transition: background-color 0.2s linear;
  display: none;
  z-index: 5;
  &__content {
    display: none;
  }
  &.is-sticky {
    position: fixed;
    box-shadow: $shadow;
  }
  &__item {
    display: flex;
    padding-right: $gutter * 2;
    position: relative;
    cursor: pointer;
    color: $black;
  }
  @include mq(medium) {
    padding: $gutter;
  }
  @include mq(large) {
    display: none;
    &__content {
      display: flex;
      max-width: $containerWidth;
      margin: 0 auto;
    }
    &__item {
      align-items: center;
      padding-right: $gutter * 4;
      svg {
        transition: opacity 0.15s ease-in;
        padding-right: $gutter;
      }
      .is-sticky & {
        color: #7a818f;
        svg {
          opacity: 0.3;
        }
        &.is-active {
          color: $black;
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
