.featured-articles {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: $mobileGutter $mobileGutter 0;
  margin-bottom: $gutter * 4;
  box-sizing: border-box;
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__main {
    width: 100%;
    padding-bottom: $gutter * 2;
  }
  &__list {
    width: 100%;
    &__header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: $gutter * 2 0;
    }
    &__title {
      color: $grey-dark;
      margin: 0;
      line-height: 1;
    }
    &__cta {
      color: $blue;
      font-size: 13px;
      letter-spacing: 0.016em;
      &:hover {
        color: tint($blue, 20);
      }
    }
    &__news li {
      margin-bottom: $mobileGutter;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include mq(medium) {
    padding-top: $gutter * 4;
    padding-bottom: $gutter * 8;
    margin-bottom: 0;
    &__content {
      flex-wrap: nowrap;
    }
    &__main {
      width: 50%;
      padding-bottom: 0;
    }
    &__list {
      width: 50%;
      &__header {
        padding-bottom: $gutter * 3;
      }
    }
    &__news {
      padding-left: $gutter * 2;
      width: 50%;
    }
  }
}

.featuredArticle-item {
  background-color: $white;
  box-shadow: $shadow;
  padding: $mobileGutter $gutter * 2 20px $gutter * 2;
  transition: all 0.2s ease-in;
  display: block;
  border-radius: 4px;
  border-top: 4px solid $white;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
    border-top: 4px solid $lightyellow;
  }
  &__meta {
    color: $buttonGrey;
    padding-bottom: $gutter / 2;
    font-size: 13px;
    letter-spacing: 0.016em;
    line-height: 1.69;
  }
  &__title {
    color: $grey-dark;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.43;
  }
}

.featured-learn-items {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  li {
    width: 100%;
    margin: 0;
    padding-bottom: $gutter;
  }
  @include mq(medium) {
    li {
      width: 50%;
    }
  }
}

.featuredLearn-item {
  background-color: $white;
  box-shadow: $shadow;
  padding: $gutter * 2;
  transition: all 0.2s ease-in;
  display: block;
  border-top: 4px solid $white;
  border-radius: 4px;
  height: 100%;
  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
    border-top: 4px solid $lightyellow;
    .featuredLearn-item__duration svg g {
      fill: $blue;
    }
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: $gutter * 2;
    height: 30px;
    width: 30px;
    align-self: flex-start;
    svg g {
      fill: $blue;
    }
  }
  &__title {
    margin-top: -5px;
    padding-right: $gutter * 4;
    color: $grey-dark;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.43;
  }
  &__duration,
  &__subTitle {
    color: $buttonGreyColor;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1, 438;
    margin-left: auto;
    align-self: flex-start;
    svg {
      width: 7px;
      height: 10px;
    }
  }
}
