$featuredPrimary: #4a4a4a;
$featuredSecondary: #a7a7a7;

.featured-card {
  box-shadow: $shadow;
  transition: all 0.2s ease-in;
  display: block;
  height: 100%;
  background-color: $white;
  border-radius: 4px;
  overflow: hidden;
  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
  }
  &__content {
    padding: $gutter * 2;
    background-color: $white;
    h4 {
      margin: 0;
      padding-top: $gutter;
    }
  }
  &__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $blue;
    //height: 350px;
    padding-bottom: 60%;
  }
  &__category {
    color: $featuredSecondary;
    font-size: 13px;
    letter-spacing: 0.016em;
    line-height: 1.69;
  }
  &__title {
    color: $featuredPrimary;
    padding-bottom: $gutter * 2;
  }
  &__author {
    display: flex;
    align-items: center;
    &__portrait {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: $gutter;
    }
    &__title {
      font-size: 13px;
      letter-spacing: 0.016em;
      line-height: 1.69;
      color: $featuredSecondary;
    }
  }
  @include mq(medium) {
    &__image {
      height: 350px;
      padding-bottom: 0;
    }
  }
}
