$footer-primary: #919eab;
$footer-secondary: #5f686f;
$footer-border: #142633;
$footer-background: #001422;

.site-footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: $gutter * 2;
  padding-top: $gutter;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $footer-background;
  align-items: flex-start;
  a {
    color: $footer-primary;
    font-size: 16px;
    letter-spacing: 0.021em;
  }
  @include mq(large) {
    padding: $gutter * 4;
    flex-wrap: nowrap;
    &__logo {
      padding-bottom: $gutter * 2;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.footer-navigation {
  width: 100%;
  li {
    padding: $gutter 0;
    border-bottom: 1px solid $footer-border;
    position: relative;
  }
  &__child-items {
    display: none;
    padding: $gutter 0;
    &.is-active {
      display: block;
    }
    & > li {
      padding: $gutter 0;
      border: 0;
      a {
        padding: $gutter/2 0 $gutter/2 $gutter * 2;
        &:hover {
          color: $footer-primary;
        }
      }
    }
  }
  &__grandchild-items {
    display: none;
    padding-left: $gutter;
    padding-top: $gutter;
    li {
      border: 0;
    }
    &.is-active {
      display: block;
    }
  }
  .toggle-child-nav {
    position: absolute;
    color: $footer-primary;
    top: 10px;
    right: 0;
    display: block;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transform-origin: center center;
    &.is-active {
      transform: rotate(45deg);
    }
  }
  @include mq(large) {
    order: 2;
    align-self: flex-start;
    display: flex;
    &-main {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      max-width: 1080px;
      padding-right: $gutter * 8;
      .toggle-child-nav {
        display: none;
      }
    }
    &__grandchild-items {
      padding-top: 0;
    }
    .has-children {
      flex-grow: 1;
      max-width: 150px;
      a {
        font-size: 13px;
        letter-spacing: 0.02em;
        line-height: 1.3;
      }
    }
    ul {
      li {
        display: block;
        border: 0;
        padding: 0;
        line-height: 1;
        font-size: 13px;
        margin-bottom: 3px;
        a {
          line-height: 1;
        }
      }
    }
    &__child-items {
      display: block;
      padding: $gutter $gutter $gutter 0;
      .toggle-child-nav {
        display: block;
        color: $footer-secondary;
        font-size: 16px;
        padding: 5px;
        top: -7px;
      }
      li a {
        padding: 0;
        color: $footer-secondary;
      }
      .has-children a {
        padding-right: $gutter;
      }
    }
  }
  @media only screen and (min-width: $large-min) and (max-width: 1045px) {
    &-main {
      & > li {
        width: 50%;
      }
    }
  }
}

.footer-contact {
  letter-spacing: 0.025em;
  span {
    display: block;
  }
  a {
    color: $footer-secondary;
    letter-spacing: 0.025em;
    display: block;
    &:hover {
      color: $footer-primary;
    }
  }
  &__social {
    width: 100%;
  }
  &__logo {
    margin-bottom: $gutter;
  }
  &__name {
    color: $footer-primary;
    margin-bottom: $gutter;
  }
  &__title {
    color: $footer-secondary;
  }
  &__address {
    margin-bottom: $gutter;
    display: block;
  }
  @include mq(large) {
    order: 1;
    padding-right: $gutter * 8;
    font-size: 13px;
    letter-spacing: 0.02em;
    line-height: 1.3;
    flex-shrink: 0;
    a {
      font-size: 13px;
      letter-spacing: 0.02em;
    }
  }
}

.footer-language {
  margin-bottom: $gutter * 4;
  width: 100%;
  position: relative;
  border-bottom: 0 !important;
  padding: $gutter 0;
  .toggle-child-nav {
    position: absolute;
    top: 10px;
    color: $footer-secondary;
    text-align: center;
    transform: none;
    pointer-events: none;
    svg {
      height: 12px;
      width: 12px;
      * {
        fill: $footer-primary;
        width: 15px;
      }
    }
  }
  select {
    padding: 0;
    background-color: transparent;
    line-height: 1;
    height: auto;
    border: 0;
  }
  .holder {
    border: 0;
    line-height: 1;
    height: auto;
    background-color: transparent;
    color: $footer-primary;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.021em;
    box-shadow: none;
    &:after {
      display: none;
    }
  }
  @include mq(large) {
    width: auto;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-right: $gutter * 2;
    line-height: 0;
    .toggle-child-nav {
      display: block;
      right: $gutter * 2;
      top: 4px;
      svg {
        height: 6px;
        width: 10px;
      }
    }
    .holder {
      height: auto;
      font-size: 13px;
      letter-spacing: 0.02em;
      line-height: 1.15;
      padding-right: $gutter * 2;
    }
    select {
      padding: 0;
    }
  }
}

.footer-copy {
  color: $footer-secondary;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  letter-spacing: 0.07em;
  background-color: $footer-background;
  padding: $gutter * 2 0 $gutter * 2 $gutter * 2;
  a {
    color: $footer-secondary;
    &:hover {
      color: $footer-primary;
    }
  }
  @include mq(large) {
    padding: $gutter * 4;
    padding-right: 0;
    font-size: 11px;
    letter-spacing: 0.06em;
    line-height: 1.18;
  }
}
