.stylizedForm-section {
  padding: $gutter * 4 $gutter * 2;
  position: relative;
  overflow: hidden;
  &__header {
    max-width: $containerWidthSmall;
    h2 {
      color: $white;
    }
  }
  &__content {
    padding-bottom: $gutter * 4;
    max-width: $containerWidth;
    margin: 0 auto;
  }
  #stylizedForm {
    max-width: $containerWidthSmall;
    position: relative;
    form {
      input,
      textarea {
        border: 0;
        padding: 17px 20px;
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      input[type='text'],
      input[type='email'] {
        height: 56px;
      }
      input[type='text'],
      input[type='email'],
      textarea {
        background-color: #2a7feb;
        //opacity: 0.75;
      }
      // .fileupload {
      //   position: relative;
      //   //overflow: hidden;
      //   background: red;
      //   border-radius: 0.5em;
      //   float: left;
      //   padding: 0.5em;
      //   .heading {
      //     display: block;
      //   }
      // }
      input[type='file'] {
        width: 50%;
        box-sizing: border-box;
        // display: block;
        // min-height: 100%;
        // min-width: 100%;
        // //opacity: 0;
        // position: absolute;
        // right: 0;
        // text-align: right;
        // top: 0;
        // cursor: pointer;
      }
      .file-upload-input {
        padding: 0;
      }
      .file-upload-button {
        min-width: 0;
        color: $white;
        border: 0;
        margin-left: 0;
        svg g {
          fill: $white;
        }
        &:hover {
          background-color: transparent;
          opacity: 0.7;
        }
      }
      .heading {
        display: none;
      }
      .singleline,
      .email {
        box-sizing: border-box;
      }
      .paragraph {
        box-sizing: border-box;
      }
      .multiplechoice {
        margin: 0;
        box-sizing: border-box;
        padding: 17px 20px 17px 5px;
        .heading {
          display: inline-block;
          float: left;
          margin-bottom: 6px;
          legend {
            color: $white;
            padding-right: $gutter;
            font-size: 14px;
            line-height: 1.42;
            text-transform: capitalize;
          }
        }
        label {
          margin-bottom: 0;
          top: -3px;
          font-size: 14px;
          line-height: 1.82;
          float: left;
          .dummy {
            top: 4px;
          }
        }
      }
      .checkboxes {
        display: block;
        margin: $gutter / 2 0 0 0;
        .label-text {
          opacity: 0.8;
        }
        a {
          opacity: 0.8;
        }
        .dummy {
        }
        label {
          font-size: 11px;
          line-height: 1.8;
          margin-bottom: 0;
          a {
            color: $white;
            text-decoration: underline;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      textarea {
        min-height: 140px;
        height: auto;
      }
      label {
        color: $white;
      }
      .tab {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .dummy {
        &:before {
          background-color: $white;
          box-shadow: none;
        }
        &:after {
          background-color: $white;
        }
      }
      .submit {
        text-align: center;
        padding-top: $gutter * 2;
      }
      button {
        background-color: transparent;
        border: 1px solid $white;
        min-width: 200px;
        margin: 0 auto;
        &:hover {
          background-color: $yellow;
          border-color: $yellow;
        }
      }
    }
  }
  .stylizedForm__image {
    position: absolute;
    right: 150px;
    top: -300px;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
    svg {
      opacity: 0.3;
      width: 100%;
    }
    .contact-template & {
      width: 248px;
      height: 597px;
    }
    .careers-template & {
      width: 309px;
      height: 1305px;
    }
  }
  @include mq(medium) {
    background-position: 85% -50%;
    padding-top: $gutter * 6;
    padding-bottom: $gutter * 6;
    &__content {
      padding: 0 $gutter * 2 $gutter * 6;
    }
    .submit {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      box-sizing: border-box;
      padding-left: $gutter / 2;
      padding-top: 0;
      text-align: right !important;
      button {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

// career form
.form2-form {
  .submit {
    button {
      width: auto;
      min-width: 220px;
    }
  }
}

// want to hear more form
#form3-form {
  .submit > button {
    position: relative;
    top: 15px;
  }
}
