$form-border: #dadada;
$form-label: #a7a7a7;
$form-text: #4a4a4a;
$select-fill: #f0f1f3;
$error-color: #f2687d;

$checkbox-height: 14px;
$checked-color: $blue;
$duration: 0.4s;

.form-section {
  padding: $gutter * 4 $gutter;
  box-sizing: border-box;
  &__content {
    max-width: $containerWidth;
    margin: auto;
  }
  .article & {
    header {
      margin-top: 0;
      padding: 0;
      padding-top: 0;
      max-width: none;
    }
  }
  .error-text {
    margin-left: auto;
    margin-bottom: 3px;
    align-self: flex-end;
    font-size: 11px;
    color: $error-color;
    letter-spacing: 0.014px;
    line-height: 1.692;
  }
}

@mixin select {
  @include roboto;
  appearance: none;
  width: 100%;
  display: block;
  background-color: $select-fill;
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 15px;
  margin: 0;
  color: $form-text;
  font-size: 14px;
  letter-spacing: 0;
  /* Sharp shadow for select */
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
}

select {
  @include select;
  &:focus {
    @include select;
  }
  &[multiple] {
    height: auto;
    padding: 15px;
    line-height: auto;
  }
}

.select-wrapper {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  vertical-align: middle;
  width: 100%;
  select {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _nofocusline: expression(this.hideFocus=true);
    opacity: 0;
  }
  .holder {
    @include select;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: -1;
    padding-right: 30px;
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 6px;
      top: 50%;
      right: 15px;
      padding: 0;
      margin-top: -3px;
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='10px' height='6px' viewBox='0 0 10 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Page-1-Copy-4' fill='%234A4A4A' points='9.04615972 0 5.01538657 4.03077314 0.984613428 0 2.84217094e-13 0.984613428 4.03115463 5.01538657 5.01538657 6 6 5.01538657 10.0307731 0.984613428'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }
}

@mixin input {
  @include roboto;
  appearance: none;
  width: 100%;
  display: block;
  background-color: transparent;
  border: 1px solid $form-border;
  border-radius: 5px;
  height: 50px;
  line-height: 40px;
  padding: 0 $gutter;
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.04em;
  color: $form-text;
  box-shadow: none;
  outline: none;
  &:placeholder {
    color: inherit;
  }
  &:hover {
    background-color: transparent;
    box-shadow: none;
    color: $form-text;
    &:placeholder {
      color: $black;
    }
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
    color: $form-text;
    &:placeholder {
      color: $black;
    }
  }
}

form {
  header {
    color: $form-text;
    p {
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.625;
    }
  }
  a {
    color: $blue;
    &:hover {
      opacity: 0.5;
    }
  }
  .fields {
    .tab {
      display: block;
      padding: 0 0 15px 0;
      margin: 0 0 15px 0;
      h3 {
        @extend .heading-4;
        color: inherit;
        margin-bottom: $gutter * 2;
      }
    }
    .text {
      @include roboto;
      position: relative;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.016em;
      line-height: 1.692;
    }
    .field {
      display: block;
      padding: 0;
      margin-bottom: 12px;
      border: none;
      .heading {
        @include roboto;
        justify-self: flex-end;
        font-size: 21px;
        color: inherit;
        letter-spacing: 0.04em;
        overflow: hidden;
        label,
        legend {
          @include roboto;
          font-size: 14px;
          color: $form-text;
          letter-spacing: 0.037em;
          text-transform: uppercase;
        }
        p {
          @include roboto;
          font-size: 13px;
          color: $form-text;
          letter-spacing: 0.016em;
          line-height: 1.692;
          margin-top: 0;
          margin-bottom: 2px;
          white-space: pre-wrap;
          &.instructions {
            margin: $gutter * 2/3 0 $gutter;
          }
        }
        legend {
          & + .error-text {
            justify-self: flex-end;
            margin-left: $gutter;
          }
        }
        .error-text {
          margin-left: auto;
          margin-bottom: 3px;
          align-self: flex-end;
          font-size: 11px;
          color: $error-color;
          letter-spacing: 0.014px;
          line-height: 1.692;
        }
      }
      .input {
        position: relative;
        display: block;
      }
      [type='text'],
      [type='password'],
      [type='date'],
      [type='datetime'],
      [type='datetime-local'],
      [type='month'],
      [type='week'],
      [type='email'],
      [type='number'],
      [type='search'],
      [type='tel'],
      [type='time'],
      [type='url'],
      [type='color'],
      textarea {
        @include input;
      }
      textarea {
        height: 120px;
        max-height: 120px;
        min-height: 120px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        line-height: 1.692;
      }
      &.radiobuttons,
      &.checkboxes,
      &.multiplechoice {
        label {
          @include roboto;
          position: relative;
          color: inherit;
          display: flex;
          width: 100%;
          margin: 0 12px 6px 0;
          cursor: pointer;
          font-size: 13px;
          color: $form-text;
          letter-spacing: 0.016em;
          line-height: 1.692;
          .dummy {
            flex-shrink: 0;
          }
          input {
            margin: 0 5px 0 0;
            padding: 0;
          }
          &.styled {
            input {
              opacity: 0;
              margin: 0;
              display: none;
              visibility: hidden;
              width: 0;
              height: 0;
              overflow: hidden;
              & + span {
                position: relative;
                top: 2px;
                display: inline-block;
                min-width: 14px;
                width: 14px;
                height: 14px;
                margin-top: 1px;
                margin-right: $gutter;
                background-color: transparent;
                border: 1px solid $form-border;
                z-index: 1;
                border-radius: 2px;
                &:before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 0%;
                  z-index: -1;
                  background-color: #525c62;
                }
              }
              &[type='checkbox'] {
                & + span {
                  &:before,
                  &:after {
                    content: ' ';
                    position: absolute;
                    height: 0;
                    width: $checkbox-height * 0.15;
                    background-color: $checked-color;
                    display: inline-block;
                    transform-origin: left top;
                    box-sizing: border-box;
                    transition: opacity ease 0.5;
                  }
                  &:before {
                    top: $checkbox-height * 0.72;
                    left: $checkbox-height * 0.41;
                    transform: rotate(-135deg);
                  }
                  &:after {
                    top: $checkbox-height * 0.37;
                    left: $checkbox-height * 0.05;
                    transform: rotate(-45deg);
                  }
                }
                &:checked {
                  & + span {
                    &:before {
                      height: $checkbox-height * 1;
                      animation: dothatopcheck $duration ease 0s forwards;
                    }
                    &:after {
                      height: $checkbox-height * 0.5;
                      animation: dothabottomcheck $duration/2 ease 0s forwards;
                    }
                  }
                }
              }
              &[type='radio'] {
                & + span {
                  top: -1px;
                  margin-right: 6px;
                }
                &:checked {
                  & + span {
                    width: 18px;
                    height: 18px;
                    &:before {
                      width: 10px;
                      height: 10px;
                    }
                  }
                }
                & + span {
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  &:before {
                    transition: width 0.2s ease-in, height 0.2s ease-in;
                    margin: auto;
                    width: 0;
                    height: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
      &.sproutfields_notes {
        padding: 25px;
        .heading {
          label {
            color: $black;
          }
        }
        .input {
          border: none;
          font-size: 12px;
        }
      }
      &.sproutfields_email,
      &.sproutfields_link,
      &.sproutfields_phone {
        .input {
          &:before {
            font-family: 'mow';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 25px 15px 25px 25px;
            vertical-align: bottom;
            font-size: 18px;
            color: inherit;
          }
          input {
            padding-left: 55px;
          }
          &.focusing {
            &:before {
              color: $black;
            }
          }
        }
      }
      &.required {
        .heading {
          label {
            &:after {
              content: '*';
            }
          }
        }
      }
      &.heading--lowercase {
        .heading {
          label,
          legend {
            font-size: 13px;
            color: $form-label;
            letter-spacing: 0.016em;
            text-transform: none;
          }
        }
      }
      &.heading--hide {
        .heading {
          label,
          legend {
            display: none;
          }
        }
      }
      .file-upload-input {
        height: 0;
        border: 0;
        padding: 0;
        background-color: transparent !important;
        max-width: 300px !important;
        &.has-file {
          height: auto;
        }
      }
      .file-upload-button {
        min-width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 2px;
        padding-left: 0;
        color: $buttonGreyColor;
        font-size: 13px;
        letter-spacing: 0.016em;
        line-height: 1.692;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        svg {
          margin-right: 4px;
        }
        span {
          border-bottom: 1px solid;
        }
        &:hover {
          background-color: transparent;
          opacity: 0.7;
        }
      }
    }
  }
  .submit {
    display: block;
    text-align: center;
    button {
      @extend .button;
    }
  }
  .is-error {
    input,
    textarea {
      border-bottom: 3px solid $error-color !important;
    }
    &.field.checkboxes {
      .dummy {
        border-bottom: 3px solid $error-color !important;
      }
    }
  }
  @include mq(medium) {
    .submit {
      text-align: right;
    }
    .fields {
      .field {
        &.input--half {
          width: calc(50% - #{$gutter / 2});
          display: inline-block;
          align-self: flex-end;
        }
        &.input--right {
          float: right;
        }
        &.radiobuttons,
        &.checkboxes,
        &.multiplechoice {
          label {
            width: auto;
          }
        }
      }
    }
  }
}

.trial-download form {
  .tab {
    &:first-child {
      margin-bottom: 0;
    }
  }
  .fields {
    .field {
      margin-bottom: $gutter;
      &.approveAll-field {
        padding-bottom: $gutter / 2;
        margin-bottom: $gutter;
        border-bottom: 1px solid $form-border;
        .label-text {
          font-size: 14px;
          color: $form-text;
          letter-spacing: 0.037em;
          text-transform: uppercase;
        }
      }
      &.input--half {
        width: 100%;
      }
      .heading {
        display: flex;
        label,
        legend {
          @include roboto;
          font-size: 13px;
          color: $form-label;
          letter-spacing: 0.016em;
          line-height: 1.692;
          margin-bottom: 2px;
          text-transform: none;
        }
      }
      &.heading--none {
        .heading {
          label,
          legend {
            display: none;
          }
        }
      }
      &.heading--uppercase {
        .heading {
          label,
          legend {
            font-size: 14px;
            color: $form-text;
            letter-spacing: 0.037em;
            text-transform: uppercase;
          }
        }
      }
      &.checkboxes {
        .heading {
          legend {
            margin-left: 26px; // Width of the checkbox + margin between
          }
        }
      }
    }
  }
  .wrapped {
    border: 1px solid $form-border;
    border-radius: 5px;
    padding: $gutter;
    margin-bottom: $gutter;
    .field.text {
      margin-bottom: 0;
    }
  }
  @include mq(medium) {
    .fields {
      .field {
        margin-bottom: $gutter * 2;
        &.input--half {
          width: calc(50% - #{$gutter});
        }
      }
    }
    .wrapped {
      padding: $gutter * 2;
    }
  }
}

/* Checkmark style starts */

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: $checkbox-height/2;
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: $checkbox-height * 1;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
