$pswp__show-hide-transition-duration: 333ms;
$pswp__controls-transition-duration: 333ms;
$pswp__background-color: #000;
$pswp__placeholder-color: #222;
$pswp__box-sizing-border-box: true; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500;
$pswp__assets-path: '../img/photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #ccc; // "Image not loaded" text color
$pswp__include-minimal-style: true;

@import '../../../node_modules/photoswipe/src/css/main.scss';
@import '../../../node_modules/photoswipe/src/css/default-skin/default-skin.scss';

.pswp {
  @include roboto;
  &__bg {
    background-color: $black;
  }
  &__button {
    &--arrow--left,
    &--arrow--right {
    }
    &--arrow--left {
      &:before {
      }
    }
    &--arrow--right {
      &:before {
      }
    }
  }
  &--open {
    z-index: 9999;
  }
  &__caption__center {
    text-align: center;
    color: $white;
    font-size: 12px;
  }
}

.gallery-section {
  padding: $gutter * 2 0;
  max-width: $containerWidthSmall;
}

.gallery {
  text-align: center;
  margin-bottom: $gutter;
  box-sizing: border-box;
  max-width: $containerWidth;
  margin: auto;
  ul {
    list-style-type: none;
    padding: 0 $gutter/2;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      flex-grow: 0;
      flex-shrink: 0;
      width: 50%;
      padding: $gutter;
      position: relative;
    }
  }
  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 56.6%;
    background-color: $grey;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    position: relative;
    &:after {
      transition: opacity 0.2s linear;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $black;
      opacity: 1;
    }
    .pre-loader {
      z-index: 1000;
    }
    &.b-loaded {
      &:after {
        opacity: 0;
      }
      .pre-loader {
        display: none;
      }
    }
    &:hover {
      .gallery__overlay {
        opacity: 0.8;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    color: $white;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }
  .show-gallery {
    margin: $gutter/2 auto;
    display: none;
  }
  &__caption {
    padding: 0 18px;
    figcaption {
      padding-top: 0;
    }
  }
}
