//Styles
$headerColor: #e0e0e0;

//Site header
.site-header {
  display: block;
  position: static;
  width: 100%;
  height: $smallHeaderHeight;
  z-index: 6000;
  &__content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $smallHeaderHeight;
    background-color: $darkblue;
    z-index: 6000;
    transition: background 0.35s linear 200ms,
      height 0.35s cubic-bezier(0.77, 0, 0.175, 1);
    box-sizing: border-box;
  }
  .trialDownload-template & {
    &__content {
      position: absolute;
    }
  }
  .modal-is-active & {
    z-index: 0;
  }
  @include mq(large) {
    height: $largeHeaderHeight;
    &__content {
      height: $largeHeaderHeight;
      display: flex;
      position: static;
      transform: translateY(0);
      &.headroom--not-top {
        position: fixed;
        transform: translateY(-100%);
        .how-it-works-template & {
          position: relative;
        }
        &.headroom--pinned {
          transform: translateY(0%);
          transition: height 0.35s cubic-bezier(0.77, 0, 0.175, 1),
            transform 0.35s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
    }
  }
}

//Site title
.site-logo {
  transition: color 0.35s linear;
  padding-right: $gutter * 2;
  display: flex;
  height: $smallHeaderHeight;
  svg {
    margin: auto 0;
    width: 162px;
    padding-top: 4px;
    * {
      fill: #fefefe;
    }
  }
  @include mq(large) {
    height: $largeHeaderHeight;
    position: static;
    z-index: 2000;
  }
}

//Site navigation
.site-navigation {
  position: absolute;
  top: $smallHeaderHeight;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  transition: visibility 0s linear 1s;
  display: flex;
  flex-direction: column;
  @include mq(large) {
    position: static;
    top: 0;
    margin: 0;
    height: $largeHeaderHeight;
    visibility: visible;
    transition: none;
    overflow: visible;
    overflow-y: visible;
    flex-direction: row;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background-color: $darkblue;
      pointer-events: none;
      transition: box-shadow 0.2s linear 0.2s;
      .search-is-open & {
        transition: box-shadow 0.2s linear 0s;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.primary-navigation {
  display: block;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    padding: 0;
    margin: 0;
    a {
      color: #e0e0e0;
      font-size: 17px;
      line-height: 1.1;
      letter-spacing: 0.01em;
      display: block;
      padding: $gutter 0;
      margin: 0 $gutter * 2;
      border-bottom: 1px solid rgba($headerColor, 0.2);
    }
  }
  .underline {
    display: none;
  }
  @include mq(large) {
    display: inline-block;
    height: $largeHeaderHeight;
    z-index: 2000;
    ul {
      height: 100%;
    }
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-left: $gutter;
      height: 100%;
      display: inline-flex;
      align-items: center;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: #e0e0e0;
        font-size: 15px;
        border: none;
        padding: $gutter $mobileGutter;
        margin: 0;
      }
    }
    .underline {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 200;
      height: 0;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      background-color: $lightyellow;
    }
  }
  @media only screen and (min-width: 900px) {
    padding-left: 81px;
    li {
      a {
        padding: $gutter $gutter * 2;
      }
    }
  }
}

//Toggle navigation button
.site-navigation-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: $smallHeaderHeight;
  cursor: pointer;
  span {
    width: 22px;
    height: 1px;
    background-color: $headerColor;
    display: block;
    position: absolute;
    right: $gutter * 2;
    top: $smallHeaderHeight/2;
    transition: background 0.35s linear,
      transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    &:nth-child(1) {
      transform: translateY(-6px) rotate(0deg);
    }
    &:nth-child(2) {
      transform: scale(1) rotate(0deg);
    }
    &:nth-child(3) {
      transform: translateY(6px) rotate(0deg);
    }
  }
  @include mq(large) {
    display: none;
  }
}

.site-navigation-status {
  display: none;
}

//Open the navigation
@include mq(medium-down) {
  .site-navigation-status:checked {
    & ~ .site-header__content {
      background-color: $darkblue;
      height: 100%;
      transition: background 0.35s linear,
        height 0.35s cubic-bezier(0.77, 0, 0.175, 1) 200ms;
      .site-navigation-toggle {
        span {
          transition: background 0.35s linear,
            transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0) rotate(45deg);
          }
          &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
          }
        }
      }
      .site-navigation {
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }
}

.secondary-navigation {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include mq(large) {
    position: static;
    z-index: 2000;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $largeHeaderHeight;
    padding: 0 $gutter * 2;
  }
}

.site-search-toggle {
  //margin: 0 0 auto 0;
  margin-top: 0;
  order: 2;
  &__button {
    font-size: 17px;
    color: $headerColor;
    padding: $gutter 0;
    margin: 0 $gutter * 2;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid $headerColor;
    display: flex;
    &:hover {
      svg * {
        fill: $white;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      margin-right: $gutter;
      pointer-events: none;
      * {
        fill: $headerColor;
      }
    }
  }
  @include mq(large) {
    margin: auto;
    order: 1;
    &__button {
      border: 0;
      margin: 0;
      svg {
        * {
          fill: #7a818f;
        }
      }
      span {
        display: none;
      }
    }
  }
}

@mixin language-select {
  @include roboto;
  appearance: none;
  width: auto;
  display: block;
  background-color: transparent;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0 $gutter * 2;
  color: $headerColor;
  font-size: 15px;
  letter-spacing: 0;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba($headerColor, 0.2);
  box-sizing: border-box;
  @include mq(large) {
    border: 0;
    color: #7a818f;
    margin: 0 $gutter;
  }
}

.language-switcher {
  position: relative;
  //margin: auto 0 0 0;
  margin-top: 0;
  order: 1;
  select {
    @include language-select;
    &:focus {
      @include language-select;
    }
  }

  .select-wrapper {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    vertical-align: middle;
    width: 100%;
    select {
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      cursor: pointer;
      outline: none;
      /* CSS hacks for older browsers */
      _nofocusline: expression(this.hideFocus=true);
      opacity: 0;
      width: 100%;
    }
    .holder {
      @include language-select;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: -1;
      padding-right: 30px;
      font-size: 17px;
      letter-spacing: 0.01em;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 6px;
        top: 50%;
        right: 15px;
        padding: 0;
        margin-top: -3px;
        @include arrow-background($headerColor);
        background-repeat: no-repeat;
        @include mq(large) {
          @include arrow-background(#7a818f);
        }
      }
    }
  }
  @include mq(large) {
    display: inline-block;
    margin: auto;
    width: 72px;
    order: 2;
    .select-wrapper .holder {
      font-size: 15px;
      letter-spacing: normal;
    }
  }
}

.site-cta {
  padding: $gutter * 2;
  box-sizing: border-box;
  order: 3;
  a {
    width: 100%;
  }
  @include mq(large) {
    padding: 0;
    margin: auto;
    order: 3;
    a {
      padding: 13px 25px;
    }
  }
}

.site-search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  @include mq(large) {
    margin-top: $largeHeaderHeight;
    z-index: 0;
    background-color: $darkblue;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.1);
    &__content {
      max-width: $containerWidth;
      margin: auto;
      padding-bottom: $gutter * 3;
    }
  }
}

.site-search {
  &__content {
    display: flex;
    border-bottom: 1px solid $headerColor;
    margin: 0 $gutter * 2;
  }
  &__input {
    font-size: 17px;
    color: $white;
    padding: $gutter 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    &::placeholder {
      color: $headerColor;
    }
  }
  &__submit {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    appearance: none;
    box-shadow: none;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 1000;
    svg {
      width: 20px;
      height: 20px;
      margin-right: $gutter;
      * {
        fill: $headerColor;
      }
    }
  }
  &__close {
    padding: 0 0 0 $gutter;
    margin: 0;
    border: none;
    background-color: transparent;
    appearance: none;
    box-shadow: none;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 1000;
    svg {
      width: 11px;
      height: 11px;
      * {
        fill: $white;
      }
    }
  }
  @include mq(large) {
    &__content {
      height: 82px;
    }
    &__input {
      padding: $gutter * 2 0;
      font-size: 15px;
    }
  }
}

.site-search-result {
  padding: $gutter * 2;
  &__content {
    margin-bottom: $gutter * 2;
  }
  &__title {
    @include roboto;
    color: $white;
    font-size: 15px;
    margin: 0 0 $gutter 0;
    padding: 0;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-stype-type: none;
  }
  &__list-item {
    padding: $gutter 0;
  }
  &__link {
    @include roboto-light;
    display: block;
    color: #a7a7a7;
    font-size: 17px;
    display: flex;
    svg {
      width: 20px;
      height: 20px;
      margin: auto $gutter auto 0;
      * {
        fill: #a7a7a7;
      }
    }
    &.is-active {
      color: $yellow;
    }
  }
  @include mq(large) {
    &__link {
      font-size: 22px;
      &:hover {
        color: $yellow;
        svg {
          * {
            fill: $yellow;
          }
        }
      }
    }
  }
}

//Different states of search
@include mq(medium-down) {
  .language-switcher,
  .site-cta {
    opacity: 1;
    transition: opacity 0.2s linear 0.2s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  .primary-navigation,
  .secondary-navigation {
    transform: translateY(0);
    visibility: visible;
    transition: visibility 0s linear 0s,
      transform 0.35s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  .site-search-container {
    visibility: hidden;
    opacity: 0;
    width: 0%;
    height: 0%;
    z-index: 0;
    overflow: hidden;
  }

  .site-search-container__content {
    opacity: 0;
    transition: opacity 0.2s linear 0s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  .site-search-result {
    opacity: 0;
    transition: opacity 0.1s linear 0.2s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  //Search is open
  .search-is-open {
    .language-switcher,
    .site-cta {
      opacity: 0;
      transition: opacity 0.2s linear 0s;
    }

    .primary-navigation,
    .secondary-navigation {
      transform: translateY(-131px);
      visibility: hidden;
      transition: visibility 0s linear 0.4s,
        transform 0.35s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
    }

    .site-search-container {
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: 100%;
      z-index: 1000;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .site-search-container__content {
      opacity: 1;
      transition: opacity 0s linear 0.4s;
    }

    .site-search-result {
      opacity: 1;
      transition: opacity 0.2s linear 0.4s;
    }
  }
}

@include mq(large) {
  .site-search-container {
    visibility: hidden;
    transform: translateY(-100%);
    transition: visibility 0s linear 0.4s,
      transform 0.35s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
  }
  .site-search-container__content {
    opacity: 0;
    transition: opacity 0.2s linear 0.1s;
  }
  .search-is-open {
    .site-search-container {
      visibility: visible;
      transform: translateY(0%);
      transition: visibility 0s linear 0s,
        transform 0.35s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    }
    .site-search-container__content {
      opacity: 1;
      transition: opacity 0.2s linear 0.1s;
    }
  }
}
