.hero {
  position: relative;
  width: 100%;
  padding: $gutter * 8 40px;
  box-sizing: border-box;
  color: $white;
  @extend .blue-gradient;
  overflow: hidden;
  &__content {
    position: relative;
    z-index: 1000;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: $containerWidth;
    &-inner {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__title {
    padding: 0;
    margin: auto;
    margin-bottom: $gutter * 2;
    color: inherit;
    width: 100%;
    max-width: 700px;
    line-height: 0.97;
  }
  &__text {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.625;
    padding-bottom: $gutter * 2;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__cta {
    padding: 0;
    margin: 0;
    width: 100%;
    .button {
      width: 100%;
    }
    &--scroll {
      display: none;
    }
    .button.is-white.has-outline.is-wide {
      &:hover {
        background-color: $yellow;
        border-color: $yellow;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    video {
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      pointer-events: none;
    }
  }
  #hero__tower--one {
    position: absolute;
    top: 300px;
    left: 100px;
    opacity: 0.3;
    display: none;
    z-index: 0;
    pointer-events: none;
    width: 300px;
    height: 1102px;
    svg {
      width: 100%;
    }
  }
  #hero__tower--two {
    position: absolute;
    right: 150px;
    top: 20px;
    opacity: 0.3;
    display: none;
    z-index: 0;
    pointer-events: none;
    width: 300px;
    height: 1525px;
    svg {
      width: 100%;
    }
  }
  @include mq(medium) {
    display: flex;
    padding: $gutter * 8 $gutter * 2;
    #hero__tower--one,
    #hero__tower--two {
      display: block;
    }
    #hero__tower--two {
      position: absolute;
      right: 150px;
      top: -30px;
      opacity: 0.3;
    }
    &__title {
      margin-bottom: $gutter * 3;
      max-width: 400px;
    }
    &__text {
      padding-bottom: $gutter * 3;
      max-width: 400px;
      margin: 0 auto;
    }
    &__content {
      padding: 0 $gutter;
    }
    &__buttons {
      .hero__cta {
        width: auto;
        margin: 0 $gutter / 2;
        &--scroll {
          display: inline-block;
        }
      }
    }
  }
  @include mq(large) {
    height: calc(90vh - #{$largeHeaderHeight});
    min-height: 500px;
    max-height: 800px !important;
    &__content {
      max-width: 1100px;
      padding: $gutter * 4 0;
    }
    &__title {
      margin-bottom: $gutter * 4;
      max-width: 700px;
    }
    &__text {
      font-size: 16px;
      padding-bottom: $gutter * 4;
      max-width: 100%;
      max-width: 540px;
    }
  }
}

.hero {
  .hero__content {
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.7s cubic-bezier(0, -0.04, 0.37, 1.09),
      opacity 0.8s cubic-bezier(0, 0, 0.42, 1.08);
  }
  #hero__tower--one,
  #hero__tower--two {
    opacity: 0;
    transform: translateY(70px);
    transition: transform 0.7s cubic-bezier(0, 0, 0.42, 1.08) 0.3s,
      opacity 0.8s cubic-bezier(0, 0, 0.42, 1.08) 0.3s;
  }
  &.in-view {
    .hero__content {
      opacity: 1;
      transform: translateY(0);
    }
    #hero__tower--one,
    #hero__tower--two {
      opacity: 0.3;
      transform: translateY(0);
    }
  }
  &.in-view--done {
    .hero__content {
      transform: none !important;
    }
    #hero__tower--one,
    #hero__tower--two {
      transition: none;
    }
  }
}
