$imageTextPrimary: #757575;
$imageTextSecondary: #f0f0f0;
.imageText {
  position: relative;
  //padding: 0 $gutter * 2;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $imageTextSecondary;
  flex-wrap: wrap;
  &__wrapper {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
  }
  &__text {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
  }
  &__title {
    max-width: $containerWidthSmall;
    width: 100%;
    text-align: center;
    margin-bottom: $gutter * 2;
    margin-top: 0;
    padding-top: $gutter * 2;
    color: $grey-dark;
  }
  &__description {
    padding-bottom: $gutter * 2;
    max-width: $containerWidthSmall;
    width: 100%;
    text-align: center;
    color: $grey-dark;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.625;
    margin: 0;
  }
  &__buttons {
    width: 100%;
    display: flex;
    padding-bottom: $gutter * 2;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    .scroll-to {
      display: none;
    }
    .button {
      cursor: pointer;
      width: 100%;
      margin-bottom: $gutter;
      margin-right: 0;
      margin-left: 0;
    }
    .imageText__button-one.button.has-outline.is-white {
      &:hover {
        background-color: $blue;
        border-color: $blue;
      }
    }
  }
  &__image {
    display: flex;
    margin-top: $gutter * 2;
    //align-items: flex-start;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    .homepage-template & {
      display: none;
    }
    .image-center & {
      align-items: center;
      //justify-content: center;
    }
    img {
      width: 80%;
      max-width: 700px;
    }
  }
  @include mq(medium) {
    display: flex;
    &__text {
      max-width: 420px;
      display: flex;
      flex-wrap: wrap;
      padding: $gutter * 2 0;
    }
    &__buttons {
      width: auto;
      flex-wrap: nowrap;
      .scroll-to {
        display: inline-block;
      }
      .button {
        width: auto;
        margin-bottom: 0;
        &:first-child {
          margin-right: $gutter;
        }
      }
    }
    &__image {
      .homepage-template & {
        display: inherit;
      }
    }
  }
  @include mq(large) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    .how-it-works-template & {
      height: calc(90vh - #{$largeHeaderHeight});
      min-height: 500px;
      max-height: 800px !important;
    }
    //new stuff
    &__wrapper {
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;
    }
    &__text {
      width: 50%;
      margin: 0;
      padding: $gutter * 6 0;
      padding-left: $gutter;
      //new stuff
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
    }
    &__title {
      width: 100%;
      margin-bottom: $gutter * 3;
      padding-top: 0;
      text-align: left;
      max-width: 460px;
    }
    &__description {
      width: 100%;
      max-width: 400px;
      padding-bottom: $gutter * 3;
      text-align: left;
    }
    &__buttons {
      width: 100%;
      justify-content: flex-start;
    }
    &__image {
      height: 550px;
      align-self: center;
      align-items: flex-end;
      width: 50%;
      margin-top: 0;
      margin-left: auto;
      z-index: 0;
      //new stuff
      position: absolute;
      right: 0;
      img {
        width: 100%;
        align-self: center;
      }
      .image-bottom & {
        align-self: flex-end;
        img {
          align-self: flex-end;
        }
      }
      .homepage-template & {
        bottom: 0;
      }
    }
  }
}

.imageTextSimple {
  background-color: #f2f2f2;
  padding: $gutter * 3 40px;
  &__content {
    max-width: 1440px;
    margin: 0 auto;
  }
  &__text {
    width: 100%;
    order: 1;
    color: #757575;
    padding-bottom: $gutter;
  }
  &__title {
    width: 100%;
    max-width: 440px;
    margin: auto 0;
    margin-bottom: $gutter * 2;
  }
  &__description {
    width: 100%;
    max-width: 440px;
    margin-top: 0;
    line-height: 1.625;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  &__image {
    width: 100%;
    order: 2;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    transform: translateX($gutter * 2);
  }
  @include mq(medium) {
    padding: $gutter * 3 $gutter * 2;
    &__content {
      display: flex;
      justify-content: space-between;
      padding: 0 $gutter * 2;
      align-items: center;
    }
    &__text {
      width: 50%;
      padding: 0 $gutter * 2 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &:nth-child(even) {
      .imageTextSimple__text {
        order: 2;
        padding-right: 0;
        padding-left: $gutter * 2;
      }
      .imageTextSimple__image {
        order: 1;
        padding-left: 0;
      }
    }
    &__title {
      margin-bottom: $gutter * 3;
    }
    &__image {
      width: 50%;
    }
  }
  @include mq(large) {
    padding: $gutter * 6 $gutter * 2;
  }
}

.imageText,
.imageTextSimple {
  &__text {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.7s cubic-bezier(0, 0, 0.32, 1.04);
    .in-view & {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__image {
    opacity: 0;
    transform: translateX($gutter * 3);
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 0.1),
      opacity 0.7s cubic-bezier(0, 0, 0.32, 1.04);
    .in-view & {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &:nth-child(even) {
    .imageTextSimple__image {
      opacity: 0;
      transform: translateX(-$gutter * 2);
    }
    &.in-view {
      .imageTextSimple__image {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
