.image-section {
  width: 100%;
  max-width: $containerWidth;
  margin: auto;
  padding: 0;
  position: relative;
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  figcaption {
    @include roboto;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $gutter;
    color: $white;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  }
}
