.learnSearchApp {
  background-color: $grey-light;
  box-sizing: border-box;
  &__header {
    width: 100%;
    padding: $gutter * 5 $gutter * 2 $gutter * 8 $gutter * 2;
    background-color: $darkblue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__header-content {
    max-width: 770px;
    text-align: center;
    margin: auto;
  }
  &__title {
    color: $white;
    padding: 0;
    margin: 0;
    padding-bottom: $gutter * 3;
  }
  &__form {
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    display: flex;
    height: 45px;
    line-height: 1.43;
    margin-top: $gutter * 2;
    position: relative;
    z-index: 1000;
  }
  &__input {
    border: none;
    box-shadow: none;
    background: transparent;
    color: #4a4a4a;
    margin: 0;
    flex-grow: 1;
    padding-right: $gutter * 2;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &::placeholder {
      color: #4a4a4a;
    }
  }
  &__button {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 $gutter;
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
    svg {
      position: relative;
      top: 2px;
      width: 18px;
      height: 17px;
      * {
        fill: $buttonGrey;
        transition: all 0.2s ease-in;
        .focused & {
          fill: $grey-dark;
        }
      }
    }
  }
  &__autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    border-radius: 0 0 3px 3px;
    box-shadow: $shadow;
    margin-top: -6px;
    text-align: left;
  }
  &__autocomplete-item {
    color: #4a4a4a;
    padding: $gutter $gutter * 2;
    a {
      font-size: 14px;
      color: inherit;
    }
    &.is-active,
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  &__content {
    padding-top: $gutter * 2;
    max-width: $containerWidth;
    margin: auto;
  }
  &__sorting {
    display: none;
  }
  &__result {
    padding: 0 $gutter;
  }
  &__loader {
    width: 100%;
    text-align: center;
    padding: $gutter * 2 0;
  }
  &__result-items {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: $gutter;
      }
    }
  }
  &__popular {
    display: none;
  }
  @media only screen and (min-width: 600px) {
    &__sorting {
      display: flex;
      justify-content: flex-start;
      padding: $gutter $gutter * 2;
      padding-left: $gutter * 3;
      span {
        color: $grey-dark;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-left: $gutter;
        &:first-child {
          width: 150px;
          padding-left: 0;
        }
        svg {
          margin-left: 6px;
          * {
            fill: $grey-dark;
          }
        }
        &.reverse {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  @include mq(large) {
    &__header {
      padding-top: $gutter * 8;
    }
    &__sorting {
      span {
        &:first-child {
          width: 143px;
        }
      }
    }
    &__form {
      height: 78px;
    }
    &__input {
      font-size: 16px;
    }
    &__button {
      padding: 0 $gutter * 2;
      svg {
        width: 26px;
        height: 25px;
      }
    }
    &__popular {
      display: flex;
      padding: $gutter * 2;
      &__title {
        @include roboto;
        color: $white;
        font-size: 13px;
        letter-spacing: 0.01em;
        padding: 0;
        margin: auto $gutter * 2 auto 0;
      }
      &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      &__list-item {
        display: inline-block;
        margin-right: $gutter;
        a {
          @include roboto;
          color: $white;
          font-size: 13px;
          letter-spacing: 0.01em;
          background: rgba($white, 0.13);
          border-radius: 100px;
          display: block;
          padding: $gutter $gutter * 2;
          &:hover {
            background-color: $white;
            color: #001422;
          }
          &:active {
            transform: scale(0.98);
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    &__sorting {
      width: 36.5%;
      span {
        width: 40%;
        padding: 0;
        &:first-child {
          width: 58%;
        }
      }
    }
  }
}
