$listItemPrimary: #4a4a4a;
.list-item {
  background-color: $white;
  padding: $gutter * 2;
  display: block;
  color: $listItemPrimary;
  box-shadow: $shadow;
  margin: 0 $mobileGutter $mobileGutter;
  transition: all 0.2s ease-in;
  border-radius: 4px;
  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
    .list-item__cta svg {
      transform: translateX($gutter / 2);
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__title,
  &__date,
  &__location,
  &__price {
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.017em;
  }
  &__title {
    margin: 0;
    padding-left: 0;
    padding-bottom: $gutter * 2;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.017em;
  }
  &__location {
    position: relative;
    padding: 0 0 $gutter * 2 $gutter * 2;
    svg {
      width: 13px;
      height: 18px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0;
      g {
        fill: $blue;
      }
    }
  }
  &__date {
    position: relative;
    padding: 0 0 $gutter * 2 $gutter * 2;
    flex-grow: 1;
    .has-price & {
      flex-grow: 1;
    }
    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 1px;
      g {
        fill: $blue;
      }
    }
    .pipe-divider {
      padding: 0 $gutter / 2;
    }
  }
  &__price {
    padding: 0 0 $gutter * 2 22px;
    position: relative;
    svg {
      position: absolute;
      vertical-align: middle;
      top: 2px;
      left: 0;
    }
  }
  &__cta {
    color: $blue;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.017em;
    position: relative;
    svg {
      position: absolute;
      right: -$gutter * 3;
      top: 0;
      fill: $blue;
      padding-left: $gutter;
      vertical-align: middle;
      transition: all 0.2s ease-in;
    }
  }
  @include mq(large) {
    .pipe-divider {
      padding: 0 $gutter;
    }
    &__content {
      flex-wrap: nowrap;
      align-content: center;
    }
    &__title {
      font-size: 21px;
      line-height: 1.38;
      letter-spacing: initial;
    }
    &__title,
    &__date,
    &__location,
    &__price {
      width: 25%;
      padding-bottom: 0;
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.625;
      .has-price & {
        width: 20%;
      }
      svg {
        top: 4px;
      }
    }
    &__cta {
      margin-left: auto;
      padding-left: $gutter;
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.625;
      svg {
        position: relative;
        right: initial;
        top: initial;
      }
    }
  }
}
