.loader {
  display: inline-block;
  text-align: center;
  user-select: none;
  touch-callout: none;
  pointer-events: none;
  svg {
    display: block;
    margin: auto;
    * {
      transform-style: preserve-3d;
      backface-visibility: hidden;
      fill: $blue;
    }
    #house-1 {
      animation: loaderHouse1 1.5s ease-in-out infinite;
    }
    #house-2 {
      animation: loaderHouse2 1.5s ease-in-out infinite;
    }
    #house-3 {
      animation: loaderHouse3 1.5s ease-in-out infinite;
    }
  }
  &__text {
    @include roboto;
    display: block;
    font-size: 12px;
    padding: $gutter/2 0;
    color: $grey;
  }
}

@keyframes loaderHouse1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 6px);
  }
}

@keyframes loaderHouse2 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-7px, -4px);
  }
}

@keyframes loaderHouse3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(7px, -4px);
  }
}
