.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $white;
  padding: $gutter * 4 $gutter * 2 $gutter * 4;
  max-width: $containerWidth;
  margin: 0 auto;
  &__title {
    color: $buttonGreyColor;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 26px;
    padding-bottom: $gutter * 3;
    width: 100%;
    text-align: center;
  }
  &__logo {
    width: 50%;
    box-sizing: border-box;
    padding: 0 $gutter $gutter * 3 $gutter;
    text-align: left;
    img {
      width: 100%;
      max-width: 135px;
      vertical-align: middle;
    }
  }
  @include mq(medium) {
    padding: $gutter * 4;
    justify-content: space-between;
    &__title {
      padding-left: $gutter;
      padding-bottom: $gutter * 2;
      text-align: left;
    }
    &__logo {
      width: auto;
      text-align: left;
      padding-bottom: 0;
    }
  }
  @include mq(large) {
    padding: $gutter * 6 $gutter * 4;
    flex-wrap: nowrap;
    &__title {
      width: 20%;
      padding-bottom: 0;
    }
    &__logo {
      text-align: center;
      padding-bottom: 0;
    }
  }
}
