.office {
  margin-bottom: $gutter;
  &__content {
    font-size: 13px;
    color: $buttonGreyColor;
    letter-spacing: 0.016em;
    line-height: 1.692;
    svg {
      margin-right: $gutter;
      * {
        fill: $blue;
      }
    }
    a {
      color: $buttonGreyColor;
      &:hover {
        color: $grey-dark;
      }
    }
  }
  &__office-title {
    @include roboto-light;
    font-size: 21px;
    color: $grey-dark;
    letter-spacing: 0.02em;
    line-height: 1.38;
    display: block;
  }
  &__title {
    padding-bottom: $gutter;
    margin-top: $gutter/2;
    display: block;
  }
  &__address {
    padding-bottom: $gutter;
    display: block;
  }
  &__phone {
    display: block;
  }
  &__email {
    display: block;
  }
  &__phone {
    display: block;
  }
  &__sales {
    @include roboto-medium;
    text-transform: uppercase;
    padding-top: $gutter;
    display: block;
    margin-bottom: 4px;
  }
  &__sales-phone {
    display: block;
  }
  &__sales-email {
    display: block;
  }
}
