.officeSearchApp {
  background-color: $grey-light;
  box-sizing: border-box;
  padding-bottom: $gutter * 2;
  &__header {
    width: 100%;
    padding: $gutter * 5 $gutter * 2 $gutter * 8 $gutter * 2;
    background-color: $darkblue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__header-content {
    max-width: 770px;
    text-align: center;
    margin: auto;
  }
  &__title {
    color: $white;
    padding: 0;
    margin: 0;
    padding-bottom: $gutter * 3;
  }
  &__form {
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    display: flex;
    height: 45px;
    line-height: 1.43;
    margin-top: $gutter * 2;
    position: relative;
    z-index: 1000;
  }
  &__input {
    border: none;
    box-shadow: none;
    background: transparent;
    color: #4a4a4a;
    margin: 0;
    flex-grow: 1;
    padding-right: $gutter * 2;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &::placeholder {
      color: #4a4a4a;
    }
  }
  &__button {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 $gutter;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    svg {
      position: relative;
      width: 18px;
      height: 17px;
      * {
        fill: $buttonGrey;
        transition: all 0.2s ease-in;
        .focused & {
          fill: $grey-dark;
        }
      }
    }
  }
  &__autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    border-radius: 0 0 3px 3px;
    box-shadow: $shadow;
    margin-top: -6px;
    text-align: left;
  }
  &__autocomplete-item {
    font-size: 14px;
    color: #4a4a4a;
    padding: $gutter $gutter * 2;
    &.is-active,
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  &__content {
    padding-top: $gutter * 2;
    max-width: $containerWidth;
    margin: auto;
  }
  &__sorting {
    display: none;
  }
  &__result {
    padding: 0 $gutter;
  }
  &__loader {
    width: 100%;
    text-align: center;
    padding: $gutter * 2 0;
  }
  &__result-items {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: $gutter;
      }
    }
  }
  @media only screen and (min-width: 600px) {
    padding-bottom: $gutter * 4;
    &__sorting {
      display: flex;
      justify-content: flex-start;
      padding: $gutter $gutter * 2;
      padding-left: $gutter * 3;
      span {
        color: $grey-dark;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-left: $gutter;
        &:first-child {
          width: 150px;
          padding-left: 0;
        }
        svg {
          margin-left: 6px;
          * {
            fill: $grey-dark;
          }
        }
        &.reverse {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  @include mq(large) {
    padding-bottom: $gutter * 4;
    &__header {
      padding-top: $gutter * 8;
    }
    &__sorting {
      span {
        &:first-child {
          width: 143px;
        }
      }
    }
    &__form {
      height: 78px;
    }
    &__input {
      font-size: 16px;
    }
    &__button {
      padding: 0 $gutter * 2;
      svg {
        width: 26px;
        height: 25px;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    &__sorting {
      width: 36.5%;
      span {
        width: 40%;
        padding: 0;
        &:first-child {
          width: 58%;
        }
      }
    }
  }
}

$listPrimaryColor: #4a4a4a;
$listSecondaryColor: #8e8e8e;

.officeSearchApp-resultItem {
  box-sizing: border-box;
  background-color: $white;
  padding: $gutter * 2;
  border-radius: 3px;
  box-shadow: $shadow;
  &__header {
    padding-bottom: $gutter;
  }
  &__contact {
  }
  &__title {
    @include roboto;
    color: $listPrimaryColor;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.017em;
    margin: 0;
    padding: 0;
  }
  &__country {
    flex-basis: 140px;
    flex-grow: 1;
    flex-shrink: 0;
    .more-countries {
      span {
        position: relative;
        display: inline-block;
        color: $blue;
        cursor: pointer;
        border-bottom: 1px solid;
        .tooltip {
          display: none;
          position: absolute;
          background-color: rgba(0,0,0,0.8);
          padding: 12px;
          color: #ffffff;
          bottom: calc(100% + #{$gutter / 2});
          width: 140px;
          border-radius: 3px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 600;
          &:after {
            content: "";
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 7px solid rgba(0,0,0,0.8);
            top: 100%;
            left: 0;
            right: 0;
            width: 12px;
            margin: 0 auto;
          }
        }
        &:hover {
          .tooltip {
            display: block;
          }
        }
      }
    }
    span {
      display: block;
    }
  }
  &__country,
  &__address,
  &__information,
  &__contact {
    color: $listSecondaryColor;
    line-height: 1.42;
    font-size: 14px;
    letter-spacing: 0.017em;
    margin-bottom: $gutter;
    a {
      display: block;
      color: $listSecondaryColor;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__address {
    display: flex;
  }
  &__address-icon {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: $gutter;
    position: relative;
    top: 2px;
    svg {
      width: 10px;
      height: 14px;
      rect,
      path {
        fill: $blue;
      }
    }
  }
  &__information {
    display: flex;
  }
  &__information-icon {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: $gutter;
    position: relative;
    top: 1px;
    svg {
      rect,
      path {
        fill: $blue;
      }
    }
  }
  &__information-content {
    width: 100%;
    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  }
  &__cta {
    padding-top: $gutter;
    .button {
      display: none;
    }
    .cta-link {
      display: block;
      color: $blue;
      font-size: 14px;
    }
  }
  @media only screen and (min-width: 600px) {
    display: flex;
    &__header {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 174px;
      margin: 0;
    }
    &__country {
      padding: 0 $gutter * 2;
    }
    &__contact {
      padding: 0 $gutter * 2;
      max-width: 300px;
      margin-left: 0;
      margin: 0;
    }
    &__information {
      margin: 0;
    }
    &__cta {
      padding-top: 0;
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: auto;
      .button {
        display: block;
      }
      .cta-link {
        display: none;
      }
    }
  }
  @media only screen and (min-width: 900px) {
    &__header {
    }
    &__title {
    }
    &__contact {
      display: flex;
      max-width: none;
      padding: 0;
      flex-grow: 1;
    }
    &__address {
      flex-grow: 0;
      flex-shrink: 0;
      width: 50%;
      padding: 0 $gutter;
      margin: 0;
    }
    &__information {
      flex-grow: 0;
      flex-shrink: 0;
      width: 40%;
      padding: 0 $gutter;
      margin: 0;
    }
  }
  @media only screen and (min-width: 1024px) {
    &__header {
      display: flex;
    }
    &__title {
      width: 60%;
      padding-right: $gutter;
    }
    &__country {
      padding-left: $gutter;
    }
    &__contact {
      width: 40%;
    }
    &__cta {
    }
  }
  &.headquarter {
    .officeSearchApp-resultItem__country {
      flex-basis: 180px;
    }
    @media only screen and (min-width: 600px) {
      .officeSearchApp-resultItem__header {
        flex-basis: 130px;
      }
    }
    @media only screen and (min-width: 900px) {
      .officeSearchApp-resultItem__header {
        flex-basis: 174px;
      }
    }
    @media only screen and (min-width: 1024px) {
    }
  }
}

.contact-modal {
  transform: translateY(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  h3 {
    margin-top: 0;
  }
  .submit button {
    white-space: pre-wrap;
  }
}

.form-submit-loader {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  .loader {
    position: absolute;
  }
  .background {
    width: 100%;
    height: 100%;
    background: $white;
    opacity: 0.2;
  }
  &.submitting {
    display: flex;
  }
}
