ul.pagination {
  display: block;
  list-style-type: none;
  padding: 30px 15px $gutter * 4;
  margin: 30px 0 0 0;
  text-align: center;
  li {
    float: none;
    display: inline-block;
    background-color: transparent !important;
    padding: 0;
    margin: 0 5px;
    &:hover {
      background-color: transparent !important;
    }
    a {
      @include roboto;
      color: #4a4a4a;
      font-size: 14px;
      padding: 5px;
      display: block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
        color: $black;
      }
    }
    &.active {
      a {
        opacity: 1;
        color: $black;
      }
    }
    &.arrow {
      position: relative;
      display: inline-block;
      height: 15px;
      width: 20px;
      transition: all 0.2s ease-in;
      a {
        color: $black;
        position: absolute;
        top: -2px;
      }
      &.unavailable {
        opacity: 0;
        visibility: hidden;
      }
      svg {
        fill: #4a4a4a;
        &:hover {
          fill: #4a4a4a;
        }
      }
      &.previous {
        a {
          left: -$gutter;
        }
        svg {
          transform: rotate(180deg);
        }
        &:hover {
          transform: translateX(-$gutter / 2);
        }
      }
      &.next {
        &:hover {
          transform: translateX($gutter / 2);
        }
      }
    }
  }
  @include mq(medium) {
    padding-bottom: $gutter * 4;
    li {
      margin: 0 5px;
      a {
        font-size: 14px;
      }
    }
  }
  @include mq(large) {
    padding-bottom: $gutter * 6;
    li {
      margin: 0;
      a {
        font-size: 12px;
      }
    }
  }
}
