.people-section {
  box-sizing: border-box;
  &__header {
    max-width: $containerWidth;
    margin: auto;
    padding: $gutter * 4;
    text-align: center;
  }
  &__title {
    padding: 0;
    margin: 0;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    padding: 0 $gutter;
    max-width: $containerWidth;
    margin: auto;
  }
  &__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    padding: $gutter;
  }
  @include mq(medium) {
    &__item {
      flex-basis: 33%;
    }
  }
  @include mq(large) {
    &__item {
      flex-basis: 25%;
    }
  }
}

.person {
  width: 100%;
  max-width: 300px;
  margin: auto;
  background-color: $white;
  box-shadow: $shadow;
  border-radius: 3px;
  padding: $gutter * 2;
  &__image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  &__content {
    text-align: center;
    padding-top: $gutter * 2;
  }
  &__name {
    padding: 0;
    margin: 0;
  }
  &__title {
    padding: 0;
    margin: 0 0 $gutter 0;
  }
  &__email {
    color: $black;
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
    }
  }
  &__phone {
    color: $black;
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
    }
  }
}
