/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  z-index: 2000;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  &--active {
    visibility: visible;
    opacity: 1;
    &.modal__bg {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &__bg {
    background-color: transparent;
  }
  &__dialog {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: $shadow;
  }
  &__content {
    will-change: transform, opacity;
    position: relative;
    background: $black;
    background-clip: padding-box;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    &--active {
      opacity: 1;
    }
    .youtube-video {
      width: 80vw;
    }
  }
  &__close {
    z-index: 1100;
    cursor: pointer;
  }
  &__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    cursor: pointer;
    background: $black;
    //box-shadow: $shadow;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    svg {
      margin-right: $gutter;
    }
    &--active {
      z-index: 10;
    }
    &:hover {
      background: #e5d3d6;
    }
  }
  .officeSearchApp & {
    .modal {
      align-items: flex-start;
      &__content {
        max-width: 600px;
        height: 100%;
        padding: $gutter * 5/3 $gutter * 2 0;
        background-color: $white;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        form {
          .submit {
            margin-bottom: $gutter * 4/3;
          }
        }
      }
      &__dialog {
        height: 100%;
        border-radius: 3px;
        background: $white;
        transition: all 0.2s ease-in;
        box-sizing: border-box;
        border-top: 5px solid $blue;
        &:hover {
          box-shadow: $shadowHover;
          transform: translateY(-1px);
        }
        p {
          @include roboto-light;
        }
      }
    }
  }
  @include mq(medium) {
    .officeSearchApp & {
      .modal {
        align-items: center;
        &__content {
          padding: $gutter * 10/3 $gutter * 4 0;
          form {
            .submit {
              margin-bottom: $gutter * 10/3;
            }
          }
        }
        &__dialog {
          height: 80vh;
        }
      }
    }
  }
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out,
    transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */
.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: $gutter;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  svg {
    width: 12px;
    height: 12px;
    display: block;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    g {
      fill: $blue;
    }
  }
  &:hover {
    svg {
      opacity: 0.6;
    }
  }
  .hero & {
    // background: $blue;
    svg {
      g {
        fill: #fff;
      }
    }
    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
