.press-materials-section {
  max-width: $containerWidth;
  margin: 0 auto;
  &__header {
    color: $grey-dark;
    padding: 0 $gutter $gutter * 2;
  }
  &__title {
    padding-bottom: $gutter * 2;
  }
  &__content {
    padding: 0 $gutter;
  }
  &__part {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $gutter * 2;
  }
  .press-material {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: $white;
    padding: $gutter * 2;
    margin-bottom: $gutter;
    border-radius: 3px;
    box-shadow: $shadow;
    transition: all 0.2s ease-in;
    color: $grey-dark;
    &:hover {
      box-shadow: $shadowHover;
      transform: translateY(-1px);
      .press-material__download svg * {
        fill: $cyan;
      }
    }
    &__thumbnail {
      width: 60px;
      height: 60px;
      margin-right: $gutter * 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      &.image-png {
        background-color: $grey-light;
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 0;
        top: 0;
        background-color: $buttonGrey;
        opacity: 0.2;
      }
      svg {
        padding: 0;
        * {
          fill: #a7a7a7;
        }
      }
    }
    &__text {
      width: 70%;
    }
    &__sub-title {
      color: $buttonGrey;
      width: 100%;
    }
    &__download {
      margin-left: auto;
    }
  }
  @include mq(medium) {
    &__part {
      width: 100%;
      padding-bottom: $gutter * 4;
    }
    .press-material {
      &__download {
        svg {
          display: block;
          padding-right: $gutter * 2;
        }
      }
      .button {
        margin-left: auto;
        width: auto;
      }
    }
  }
  @include mq(large) {
    &__content {
      max-width: 600px;
    }
  }
}
