.search-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__title {
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
    padding-bottom: $gutter * 2;
  }
  &__content {
    color: $grey-dark;
    margin: 0 auto;
    padding: $gutter * 2 $gutter * 2;
    max-width: 800px;
    &.text-white {
      color: #f2f2f2;
    }
  }
  .search-wrapper {
    position: relative;
    svg {
      position: absolute;
      left: 30px;
      top: 50%;
      margin-top: -12.5px;
      height: 25px;
      width: 25px;
      g {
        opacity: 1;
        fill: $buttonGrey;
        transition: all 0.2s ease-in;
        .focused & {
          fill: $grey-dark;
        }
      }
    }
  }
  input {
    background-color: $white;
    max-width: 800px;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
    height: 78px;
    width: 100%;
    border-radius: 3px;
    padding-left: 85px;
  }
  @include mq(medium) {
    min-height: 450px;
    &__content {
      padding: $gutter * 4 $gutter * 2;
    }
    &__title {
      padding-bottom: $gutter * 2;
    }
  }
}

.search-page-header {
  padding: $gutter * 2;
  &__content {
    max-width: 770px;
    margin: auto;
  }

  h1 {
    padding: 0;
    margin: 0 0 $gutter * 2 0;
    color: $grey-dark;
  }
  p {
    color: $grey-dark;
    padding: 0;
    margin: 0 0 $gutter * 2 0;
  }
  form {
    width: 100%;
    background-color: $white;
    border-radius: 3px;
    display: flex;
    height: 45px;
    line-height: 1.43;
    margin-top: $gutter * 2;
    position: relative;
    z-index: 1000;
    border: 1px solid #cccccc;
    input {
      border: none;
      box-shadow: none;
      background: transparent;
      color: #8e8e8e;
      margin: 0;
      flex-grow: 1;
      padding-right: $gutter * 2;
      font-size: 14px;
      letter-spacing: 0.02em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &::placeholder {
        color: #8e8e8e;
      }
    }
    button {
      border: none;
      box-shadow: none;
      background: transparent;
      padding: 0 $gutter;
      margin: 0;
      flex-grow: 0;
      flex-shrink: 0;
      svg {
        position: relative;
        top: 2px;
        width: 18px;
        height: 17px;
        * {
          fill: #8e8e8e;
        }
      }
    }
    &.is-focused {
      border-color: $grey-dark;
      input {
        color: #4a4a4a;
        &::placeholder {
          color: #4a4a4a;
        }
      }
      button {
        svg {
          * {
            fill: #4a4a4a;
          }
        }
      }
    }
  }
  @include mq(large) {
    form {
      height: 78px;
      input {
        font-size: 16px;
      }
      button {
        padding: 0 $gutter * 2;
        svg {
          width: 26px;
          height: 25px;
        }
      }
    }
  }
}

.search-result-section {
  padding: $gutter * 2;
  &__content {
    max-width: 770px;
    margin: auto;
  }
  &__items {
  }
  &__empty {
    p {
      color: #4a4a4a;
    }
  }
  &__title {
    @include roboto;
    color: #4a4a4a;
    font-size: 15px;
    margin: 0 0 $gutter 0;
    padding: 0;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-stype-type: none;
  }
  &__list-item {
    padding: $gutter 0;
  }
  &__link {
    @include roboto-light;
    display: block;
    color: #a7a7a7;
    font-size: 17px;
    display: flex;
    svg {
      width: 20px;
      height: 20px;
      margin: auto $gutter auto 0;
      * {
        fill: #a7a7a7;
      }
    }
    &.is-active {
      color: $yellow;
    }
  }
  @include mq(large) {
    &__link {
      font-size: 22px;
      &:hover {
        color: #4a4a4a;
        svg {
          * {
            fill: #4a4a4a;
          }
        }
      }
    }
  }
}

.search-result {
  margin-bottom: $gutter * 2;
  padding-bottom: $gutter * 2;
  border-bottom: 1px solid $grey-light;
  &__content {
    display: block;
  }
  &__title {
    margin: 0 0 $gutter 0;
    padding: 0;
    color: $black;
  }
  &__desc {
    @include roboto;
    margin: 0 0 $gutter 0;
    padding: 0;
    color: $grey-dark;
  }
  &__cta {
    color: #4a4a4a;
    color: $blue;
    &:hover {
      opacity: 0.5;
    }
  }
}
