.share-modal {
  padding: 0 0 0 $gutter;
  height: 100%;
  .article & {
    padding: $gutter * 2 $mobileGutter 0;
    height: auto;
  }
  &__content {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    .article & {
      border-top: 1px solid #e0e0e0;
      height: auto;
      padding: $gutter * 3 0 $gutter 0;
    }
  }
  // &__checkbox {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   visibility: hidden;
  // }
  &__button {
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 1.25;
    color: $buttonDarkGrey;
  }
  &__services {
    display: inline-block;
    padding-left: $gutter * 2;
    li {
      display: inline-block;
      padding-right: $gutter / 2;
      &:last-child {
        padding-right: 0;
      }
      a {
        background-color: #222e45;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        line-height: 28px;
        &:hover {
          background-color: $blue;
        }
        svg {
          height: 14px;
          width: 14px;
          fill: $white;
          g {
            fill: $white;
          }
        }
      }
    }
  }
  // &__checkbox:checked {
  //   & ~ .share-modal__services {
  //     li {
  //       opacity: 1;
  //     }
  //     li:nth-last-child(4) {
  //       transition: opacity 0.1s ease-in;
  //     }
  //     li:nth-last-child(3) {
  //       transition: opacity 0.2s ease-in;
  //     }
  //     li:nth-last-child(2) {
  //       transition: opacity 0.3s ease-in;
  //     }
  //     li:nth-last-child(1) {
  //       transition: opacity 0.4s ease-in;
  //     }
  //   }
  // }
  @include mq(medium) {
    .article & {
      padding: $gutter * 2 $gutter $gutter * 2 $gutter;
    }
  }
  @include mq(large) {
    .article & {
      padding: $gutter * 2 $gutter $gutter * 6 $gutter;
    }
  }
}
