$subNavSecondary: #484848;
$subNavHeight: 62px;

.sub-navigation-wrapper {
  height: $subNavHeight;
}

.sub-navigation {
  background: $white;
  box-shadow: 0 1px 0 0 #e0e0e0;
  //opacity: 0;
  //height: 0;
  width: 100%;
  z-index: 2000;
  position: relative;
  transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  height: $subNavHeight;
  overflow: hidden;
  &.headroom--not-top {
    position: fixed;
    top: 0;
  }
  .header-pinned.headerNotTop & {
    top: $smallHeaderHeight;
  }
  a {
    font-size: 15px;
    letter-spacing: 0.019em;
    line-height: 1.73;
    color: $buttonGrey;
    &.active {
      color: #4a4a4a;
    }
  }
  &__content-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
  }
  &__content {
    padding: 0;
    margin: 0;
    height: $subNavHeight;
    display: flex;
    white-space: nowrap;
    min-width: 100%;
  }
  &__title {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    .headroom--not-top & {
      opacity: 1;
    }
    span {
      font-size: 15px;
    }
  }
  &__logo {
    padding-right: $gutter;
    line-height: 0;
    svg {
      vertical-align: middle;
    }
  }
  &__category-title {
    padding-left: 5px;
    color: $buttonGrey;
  }
  &__categories {
    width: 50%;
  }
  &__social {
    margin-left: auto;
    display: none;
  }
  @include mq(medium) {
    .header-pinned.headerNotTop & {
      top: $largeHeaderHeight;
    }
    &__content {
      justify-content: space-between;
    }
    &__categories {
      width: 25%;
    }
    &__social {
      display: block;
    }
  }
  @include mq(large) {
    &__content {
      justify-content: flex-start;
    }
    &__title {
      white-space: nowrap;
      width: auto;
      align-items: center;
      color: $subNavSecondary;
      opacity: 0;
      transition: opacity 0.35s cubic-bezier(0.77, 0, 0.175, 1);
      display: flex;
      margin-left: $gutter * 2;
    }
  }
}

.categories-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: auto;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 $gutter * 2;
  &__list {
    display: block;
    width: 100%;
    text-align: left;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 0;
      width: auto;
      min-width: 100%;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      li {
        display: inline-block;
        padding-left: $gutter * 4;
        a {
          margin: $gutter/4;
          &:hover {
            color: $blue;
          }
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  @include mq(large) {
    &__list {
      display: block;
      width: auto;
      overflow-x: hidden;
      ul {
        text-align: center;
        min-width: 0;
      }
    }
  }
  @media only screen and (min-width: 900px) {
    &__list {
      padding-left: 88px;
    }
  }
}
