.testimonial {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: $gutter * 2;
  background-color: $blue;
  position: relative;
  &:after {
    content: '';
    background-color: $black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
  }
  &__content {
    max-width: $containerWidth;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 2;
  }
  &__text {
    width: 100%;
    color: $white;
    max-width: $containerWidthSmall;
  }
  &__footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__author {
    color: $white;
    padding-top: $gutter * 2;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.625;
    width: 100%;
  }
  &__title {
    color: $white;
    font-size: 13px;
    letter-spacing: 0.016em;
    line-height: 1.43;
  }
  &__cta {
    margin-left: auto;
    color: $white;
    font-size: 16px;
    letter-spacing: 0.015em;
    line-height: 1.43;
    width: 100%;
    padding-top: $gutter * 2;
    &:hover {
      svg {
        transform: translateX(5px);
      }
    }
    svg {
      padding-left: $gutter * 2;
      position: relative;
      top: 3px;
      transition: all 0.2s ease-in;
      * {
        fill: $white;
      }
    }
  }
  @include mq(medium) {
    padding: $gutter * 2;
    &__cta {
      padding-top: 0;
      width: auto;
    }
  }
  @include mq(large) {
    padding: $gutter * 4;
    &__content {
      padding: $gutter * 8 0;
    }
    &:after {
      display: none;
    }
    &__author {
      padding-top: $gutter * 4;
    }
  }
}
