.testimonial-card {
  padding: 32px;
  box-shadow: $shadow;
  border-radius: 3px;
  background: $white;
  width: 100%;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  border-top: 5px solid $white;
  display: block;
  .is-selected & {
    border-top: 5px solid $lightyellow;
  }
  &:hover {
    border-top: 5px solid $lightyellow;
    box-shadow: $shadowHover;
    transform: translateY(-1px);
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  &__text {
    font-size: 21px;
    line-height: 1.38;
    color: $grey-dark;
    @include roboto-light;
    padding-bottom: $gutter * 3;
  }
  &__author {
    display: flex;
    align-self: flex-end;
    width: 100%;
  }
  &__information {
    padding-top: 6px;
  }
  &__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100%;
    min-width: 69px;
    max-width: 69px;
    height: 69px;
    margin-right: $gutter;
    background-color: $grey;
  }
  &__name,
  &__title,
  &__footer {
    width: 100%;
    flex-shrink: 1;
    line-height: 1.41;
  }
  &__name {
    font-size: 12px;
    color: $grey-dark;
    padding-bottom: 2px;
    text-transform: uppercase;
  }
  &__title,
  &__footer {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: $buttonGreyColor;
  }
}
