$text-color: #a7a7a7;
$slideDuration: 0.15s;
$slideValue: 40px;

.showingLang {
  &[data-lang="ja"] {
    .trial-download {
      .step {
        & > header,
        & > footer {
          .heading-2 {
            min-width: 1020px;
          }
        }
      }
    }
    .heading-1, .heading-2, .heading-3, .heading-4 {
      @include noto-light;
    }
  }
}

.trial-download {
  position: relative;
  min-height: calc(100vh - #{$subNavHeight} - (#{$gutter} * 4 * 2));
  overflow: hidden;
  padding: $gutter * 4 0;
  &__background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    &.slide {
      &-prev {
        .tower--one {
          transform: translateX(-$slideValue);
        }
        .tower--two {
          transform: translateX(-$slideValue);
        }
      }
      &-next {
        .tower--one {
          transform: translateX($slideValue);
        }
        .tower--two {
          transform: translateX($slideValue);
        }
      }
      &-up {
        .tower--one {
          transform: translateY($slideValue);
        }
        .tower--two {
          transform: translateY($slideValue);
        }
      }
      &-down {
        .tower--one {
          transform: translateY(-$slideValue);
        }
        .tower--two {
          transform: translateY(-$slideValue);
        }
      }
    }
    .towers {
      position: relative;
      .tower {
        position: absolute;
        width: 300px;
        opacity: 0.3;
        display: none;
        svg {
          width: 100%;
        }
        &--one {
          transition: transform $slideDuration ease-out, opacity $slideDuration ease-out;
          width: 300px;
          height: 1101px;
          path {
            fill: transparent;
            stroke: $white;
            stroke-miterlimit: 10;
            stroke-width: 0.4;
            
            stroke-dasharray: 2400;
            stroke-dashoffset: 2400;
            animation: building 10s forwards 1;
            animation-delay: 0.4s;
          }
        }
        &--two {
          transition: transform $slideDuration ease-out, opacity $slideDuration ease-out;
          width: 300px;
          height: 1528px;
          path {
            fill: transparent;
            stroke: $white;
            stroke-miterlimit: 10;
            stroke-width: 0.4;
            
            stroke-dasharray: 2600;
            stroke-dashoffset: 2600;
            animation: building 15s forwards 1;
            animation-delay: 0.2s;
          }
        }
      }
    }
  }
  .step {
    max-width: $containerWidth;
    margin: auto;
    padding: 0 $gutter;
    & > header,
    & > footer {
      text-align: center;
      color: $white;
      .heading-2 {
        max-width: 820px;
        margin: 0 auto;
      }
      .description {
        max-width: 680px;
        width: 100%;
        margin: $gutter * 3 auto;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.625;
      }
    }
    & > header {
      margin-bottom: $gutter * 4;
    }
    & > footer {
      margin-top: $gutter * 4;
      .button {
        margin-top: $gutter * 5;
      }
    }
    & > p,
    & > span {
      @include roboto;
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.625;
    }
  }
  .trial-download-list {
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    justify-content: space-between;
    align-items: stretch;
    &__item {
      max-width: 445px;
      flex-grow: 1;
      cursor: pointer;
      margin: $gutter auto;
      box-sizing: border-box;
    }
    &__separator {
      display: block;
      align-self: center;
      color: $white;
      text-align: center;
      margin: $gutter * 2;
      white-space: nowrap;
    }
  }
  iframe {
    display: block;
  }
  .trial-error,
  .error-text {
    color: $error-color;
    font-size: 11px;
    letter-spacing: 0.016em;
    line-height: 1.692;
  }
  .cards-modal p.trial-error {
    margin-bottom: $gutter/4;
  }
  .error-text {
    text-align: right;
  }
  .register-form {
    max-width: $containerWidthSmall;
    margin: auto;
    .form-check {
      .big {
        display: none;
      }
    }
  }
  .cards-modal {
    color: $text-color;
    p {
      margin: 0 0 $gutter;
    }
  }
  .learn-component {
    margin-top: $gutter * 4;
    margin-left: -$gutter;
    margin-right: -$gutter;
    .trial-download-list {
      flex-wrap: wrap;
      &__item {
        max-width: none;
        margin: $gutter;
        &:first-child {
          margin-left: $gutter;
        }
        &:last-child {
          margin-right: $gutter;
        }
      }
    }
  }
  .featuredLearn-item {
    svg {
      g {
        fill: $blue;
      }
    }
    &:hover {
      border-color: $yellow;
    }
  }
  .loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.2);
    .loader {
      z-index: 1;
    }
    .inner {
      text-align: center;
      .reset-button {
        color: $error-color;
        span {
          cursor: pointer;
          padding: $gutter/2;
          border-bottom: 1px solid $error-color !important;
          transition: padding-bottom 0.2s ease-in;
          &:hover {
            padding-bottom: $gutter/4;
          }
        }
      }
    }
  }
  .button {
    white-space: pre-wrap;
  }
  .step-1 {
    .cards-modal {
      max-width: 940px;
      width: 100%;
      text-align: center;
      padding: $gutter * 3 $gutter * 2 $gutter * 2;
      color: $grey-dark;
      .heading-3 {
        margin-top: 0;
      }
      .modal-description {
        @include roboto-light;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.625;
        color: $grey-dark;
        margin-bottom: $gutter * 2;
      }
      .modal-images {
        display: flex;
        justify-content: space-between;
        &__2 {
          transform: scale(1.45);
        }
        .modal-image {
          max-width: 280px;
          width: 80%;
          margin-top: $gutter * 2;
          overflow: hidden;
          box-shadow: 0 1px 10px 0 rgba(0,0,0,0.27);
          img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            user-drag: none; 
            user-select: none;
          }
        }
      }
    }
  }
  &.step-3 {
    .featuredLearn-item__subTitle {
      color: $buttonGrey;
    }
  }
  @include mq(medium) {
    min-height: calc(100vh - #{$subNavHeight} - (#{$gutter} * 7 * 2));
    padding: $gutter * 7 0;
    .trial-download-list {
      display: flex;
      width: 100%;
      max-width: $containerWidth;
      margin: 0 auto;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      &__item {
        max-width: none;
        flex-grow: 0;
        width: calc(50% - #{$gutter} * 2);
        margin: $gutter;
        box-sizing: border-box;
        > a {
          height: 100%;
        }
        &:first-child {
          margin-left: $gutter;
        }
        &:last-child {
          margin-right: $gutter;
        }
      }
    }
    .register-form {
      max-width: $containerWidthSmall;
      margin: auto;
      .form-check {
        .big {
          display: inline;
        }
        .small {
          display: none;
        }
      }
    }
    .step-1 {
      .cards-modal {
        padding: $gutter * 3;
        padding-bottom: $gutter * 6;
        .heading-3 {
          margin-top: 0;
          padding: 0 $gutter * 2;
        }
        .modal-description {
          margin-bottom: $gutter * 4;
          padding: 0 $gutter;
        }
        .modal-images {
          .modal-image {
            height: 140px;
          }
        }
      }
    }
    &__background {
      .towers {
        .tower {
          display: block;
          &--one {
            top: 480px;
            left: -80px;
          }
          &--two {
            top: 100px;
            right: 40px;
          }
        }
      }
    }
  }
  @include mq(large) {
    .headerNotTop & {
      margin-top: $subNavHeight;
    }
    .step {
      & > header {
        margin-bottom: $gutter * 6;
      }
    }
    .step-1 {
      .cards-modal {
        padding: $gutter * 6;
        padding-bottom: $gutter * 7;
      }
      .modal-description {
        padding: 0 $gutter * 2;
      }
      .modal-images {
        .modal-image {
          height: 160px;
        }
        &__2 {
          transform: scale(1.45);
        }
      }
    }
    .trial-download-list {
      flex-wrap: nowrap;
      margin: 0;
      &__item {
        margin: 0 $gutter;
        > a {
          height: 100%;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      &__separator {
        margin: $gutter;
        display: inline;
      }
    }
    .learn-component {
      margin-top: $gutter * 7;
    }
    &__background {
      .towers {
        .tower {
          display: block;
          &--one {
            top: 350px;
            left: 100px;
          }
          &--two {
            right: 200px;
          }
        }
      }
    }
  }
}

.link-style {
  display: block;
  text-align: center;
  margin-top: $gutter * 2;
  color: $white;
  cursor: pointer;
  svg {
    width: 18px;
    height: 12px;
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
    fill: $white;
  }
  span {
    margin-left: $gutter/2;
    transition: all 0.2s ease-in;
  }
  @include mq(medium) {
    &:hover {
      svg {
        transform: rotate(180deg) translateX($gutter/2);
      }
    }
  }
}

.phone-wrap {
  .heading label:first-child {
    display: none;
  }
  .select-wrapper {
    margin-bottom: $gutter;
    .holder {
      .label {
        display: none;
      }
    }
  }
  .input-wrapper {
    display: flex;
    width: 100%;
    .countrycode-text {
      display: none;
      width: 30%;
      height: 50px;
      margin: 0;
      padding: $gutter;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 1.428;
      letter-spacing: 0.04em;
      border: 1px solid #dadada;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
    }
    input[type='tel'].phone {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
      overflow: hidden;
    }
  }
  .phone-wrapper {
    display: flex;
    .select-wrapper {
      width: 40%;
      // background-color: white;
      display: block;
      .holder {
        background-color: transparent;
        border: 1px solid #dadada;
        border-radius: 5px;
        font-size: 15px;
        letter-spacing: 0.04em;
        box-shadow: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  @include mq(medium) {
    .phone-wrapper,
    .heading {
      width: 100%;
      display: flex;
    }
    .step-2 & {
      .select-wrapper,
      .heading {
        position: relative;
        label {
          width: calc(50% - #{$gutter});
          &:first-of-type {
            display: block;
          }
          &:last-of-type {
            margin-left: auto;
          }
        }
        .error-text {
          position: absolute;
          right: 0;
        }
      }
      .phone-wrapper {
        .select-wrapper {
          width: calc(50% - #{$gutter});
          .holder {
            @include select;
            .label {
              display: inline;
            }
            .code {
              display: none;
            }
          }
        }
      }
      .input-wrapper {
        margin-left: auto;
        width: calc(50% - #{$gutter});
        .countrycode-text {
          display: block;
        }
        input[type='tel'].phone {
          margin-left: auto;
        }
      }
    }
  }
}

.steps-navigation {
  top: 0;
  width: 100%;
  height: $subNavHeight;
  background: $white;
  box-shadow: 0 1px 0 0 #e0e0e0;
  overflow: hidden;
  z-index: 2000;
  a {
    font-size: 15px;
    letter-spacing: 0.019em;
    line-height: 1.73;
    color: $buttonGrey;
  }
  &__content {
    position: relative;
    width: 100%;
    padding: 0 $gutter;
    height: $subNavHeight;
    display: flex;
  }
  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    color: $subNavSecondary;
  }
  &__logo {
    display: block;
    padding-right: $gutter;
    line-height: 0;
  }
  &__category-title {
    padding-left: 5px;
    color: $buttonGrey;
  }
  &__reset {
    align-self: center;
  }
  &.is-sub {
    position: fixed;
    top: 0;
    // top: $smallHeaderHeight;
    opacity: 0;
    height: 0;
  }
  &.is-sub.headroom--not-top {
    opacity: 1;
    height: $subNavHeight;
    transition: opacity 0.35s cubic-bezier(0.77, 0, 0.175, 1),
      height 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  }
  @include mq(medium) {
    display: flex;
    &__content {
      justify-content: space-between;
      padding: 0 $gutter * 2;
    }
  }
  @include mq(large) {
    &__content {
      justify-content: flex-start;
    }
    &.headroom--not-top {
      position: fixed;
    }
    &.is-sub {
      display: none;
    }
  }
}

$stepActiveColor: #2781f0;

.steps-nav {
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 540px;
  margin: auto;
  display: none;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      position: relative;
      color: $buttonGrey;
      padding: 0 $gutter * 2;
      font-size: 15px;
      opacity: 0.41;
      letter-spacing: 0.019em;
      line-height: 1.733;
      transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
      .steps-arrow {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        padding: 0;
        opacity: 0.41;
        svg {
          fill: #a7a7a7;
          transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        margin-right: $gutter * 2;
      }
      &.is-active {
        color: $stepActiveColor;
        opacity: 1;
        .steps-arrow {
          opacity: 1;
          svg {
            fill: $stepActiveColor;
          }
        }
      }
      &.has-passed {
        color: $grey-dark;
        opacity: 1;
        cursor: pointer;
        .steps-label {
          transition: color 0.35s cubic-bezier(0.77, 0, 0.175, 1);
        }
        .steps-arrow {
          opacity: 1;
          svg {
            fill: $grey-dark;
          }
        }
        &:hover {
          .steps-label {
            color: $text-color;
          }
        }
      }
      &[data-step='thankyou'] {
        display: none;
      }
    }
    &.thank-you {
      li {
        display: none;
        &[data-step='thankyou'] {
          display: block;
          margin: 0;
          padding: 0;
          cursor: pointer;
          .steps-label {
            transition: color 0.35s cubic-bezier(0.77, 0, 0.175, 1);
          }
        }
        &:hover {
          .steps-label {
            color: tint($stepActiveColor, 30);
          }
        }
      }
    }
  }
  .is-sub & {
    display: flex;
  }
  @include mq(large) {
    position: relative;
    display: flex;
    left: auto;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    .is-sub & {
      display: none;
    }
  }
}

@keyframes building {
  80% {
    stroke-dashoffset: 1;
  }
  90% {
    stroke-width: 0;
  }
  100% {
    fill: $white;
  }
}

.fade-move {
}
/* appearing */
.fade-enter-active {
  transition: opacity $slideDuration ease-out;
}
/* disappearing */
.fade-leave-active {
  transition: opacity $slideDuration ease-out;
}
/* appear at / disappear to */
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.appear-move {
  transform: translateY(0);
}
/* appearing */
.appear-enter-active {
  transition: opacity $slideDuration ease-out, transform $slideDuration ease-out;
}
/* disappearing */
.appear-leave-active {
  transition: opacity $slideDuration ease-out, transform $slideDuration ease-out;
}
/* appear at / disappear to */
.appear-enter,
.appear-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

// Directive slider
.slide-next-enter {
  opacity: 0;
  transform: translatex($slideValue);
  transition: all $slideDuration ease-out;
}
.slide-next-enter-to {
  opacity: 1;
  transform: translatex(0);
  transition: all $slideDuration ease-out;
}
.slide-next-enter-active {
  transition-delay: $slideDuration;
}
.slide-next-leave-active {
  opacity: 0;
  transform: translatex(-$slideValue);
  transition: all $slideDuration ease-out;
}

.slide-prev-enter {
  opacity: 0;
  transform: translatex(-$slideValue);
  transition: all $slideDuration ease-out;
}
.slide-prev-enter-to {
  opacity: 1;
  transform: translatex(0);
  transition: all $slideDuration ease-out;
}
.slide-prev-enter-active {
  transition-delay: $slideDuration;
}
.slide-prev-leave-active {
  opacity: 0;
  transform: translatex($slideValue);
  transition: all $slideDuration ease-out;
}

.slide-up-enter {
  opacity: 0;
  transform: translateY($slideValue);
  transition: all $slideDuration ease-out;
}
.slide-up-enter-to {
  opacity: 1;
  transform: translateY(0);
  transition: all $slideDuration ease-out;
}
.slide-up-enter-active {
  transition-delay: $slideDuration;
}
.slide-up-leave-active {
  opacity: 0;
  transform: translateY(-$slideValue);
  transition: all $slideDuration ease-out;
}
.slide-down-enter {
  opacity: 0;
  transform: translateY(-$slideValue);
  transition: all $slideDuration ease-out;
}
.slide-down-enter-to {
  opacity: 1;
  transform: translateY(0);
  transition: all $slideDuration ease-out;
}
.slide-down-enter-active {
  transition-delay: $slideDuration;
}
.slide-down-leave-active {
  opacity: 0;
  transform: translateY($slideValue);
  transition: all $slideDuration ease-out;
}
// Directive slider END
