.video-section {
  padding: $gutter * 2 $mobileGutter 0;
  max-width: $containerWidthSmall;
  &__content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  @include mq(medium) {
    padding: $gutter * 2 $gutter 0;
  }
  @include mq(large) {
    padding: $gutter * 2 $gutter 0;
  }
}
