$wysiwyg-primary: #757575;

.wysiwyg {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: $grey-dark;
  //overwriting styles that came through content import
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal !important;
    strong {
      font-weight: normal;
      strong {
        font-weight: normal;
      }
    }
    @include roboto-light;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.111;
    padding-top: $gutter * 2;
    @include mq(medium) {
      font-size: 16px;
      line-height: 1.22;
    }
    @include mq(large) {
      font-size: 21px;
      line-height: 1.38;
      padding-top: $gutter * 3;
    }
  }
  h1 {
    margin-bottom: $gutter * 3;
  }
  h2,
  h3 {
    margin-bottom: $gutter * 2;
  }
  h4,
  h5 {
    margin-bottom: $gutter;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $wysiwyg-primary;
    margin-top: 0;
  }
  h5,
  h6 {
    color: $grey-dark;
    letter-spacing: 0.02em;
  }
  h5 {
    margin-top: 0;
  }
  p {
    color: inherit;
    @include roboto;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.625;
    color: $grey-dark;
    strong {
      @include roboto-medium;
      font-size: 16px;
      color: $grey-dark;
      line-height: 1.625;
      letter-spacing: 0.02em;
      font-weight: 400;
    }
  }

  strong {
    @include roboto-medium;
    font-size: 16px;
    color: $grey-dark;
    line-height: 1.625;
    letter-spacing: 0.02em;
    font-weight: 400;
  }

  a {
    color: $blue;
    &:hover {
      opacity: 0.5;
    }
  }

  figure {
    margin: 0;
    padding-bottom: $gutter * 2;
    iframe {
      width: 100%;
    }
  }

  blockquote {
    border: none;
    padding: $gutter;
    text-align: left;
    font-size: 40px;
    line-height: 1.15;
    @include scout;
    letter-spacing: 0.007em;
    color: $grey-dark;
    margin: 0;
  }

  pre {
    padding: 20px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin-bottom: 15px;
  }

  ul,
  ol {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 30px 0;
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      color: inherit;
      font-size: 16px;
      color: $grey-dark;
    }
  }
  ul {
    li {
      &:before {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 3px;
        height: 3px;
        background-color: $wysiwyg-primary;
        border-radius: 50%;
      }
    }
  }
  ol {
    li {
      counter-increment: step-counter;
      padding: $gutter / 2 0 $gutter / 2 $gutter * 2;
      &:before {
        @include roboto;
        box-sizing: border-box;
        content: counter(step-counter);
        position: absolute;
        top: 4px;
        left: 0;
        background-color: transparent;
        padding: 0;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  table {
    border: none;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: inherit;
    margin: $gutter * 2 0;
    box-shadow: $shadow;
    border-radius: 4px;
    overflow: hidden;
    th {
      padding: 15px 10px;
      font-size: 13px;
      line-height: 1.23;
      letter-spacing: 0.065em;
      font-weight: bold;
      color: $grey-dark;
      text-transform: uppercase;
      padding: $gutter * 2 $gutter * 2 $gutter;
      background-color: white;
      @include roboto-medium;
    }
    td {
      @include roboto;
      color: #8e8e8e;
      font-size: 16px;
      line-height: 1.625em;
      letter-spacing: 0.02em;
      padding: $gutter $gutter * 2;
    }
    tr {
      background-color: transparent;
      &:nth-child(even) {
        background-color: #f7f7f7;
      }
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    @include roboto;
    font-size: 13px;
    color: #8e8e8e;
    line-height: 1.69;
    padding-top: $gutter;
  }

  .video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
