.youtube-video {
  &__container {
    position: relative;
    height: 100%;
  }
  &__video {
    height: 100%;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in;
    z-index: 1;
    cursor: pointer;
  }
  .video_will_be_here {
    position: relative;
    border-radius: 3px;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: $shadow;
    cursor: pointer;
    transition: all 0.2s ease-in;
    #player {
      display: block;
      margin: 0 auto;
      // transform: translateY(-50px) scale(1.01);
      opacity: 0;
      transition: width 0.7s cubic-bezier(0, 0, 0.42, 1.08) 0.3s,
                  height 0.7s cubic-bezier(0, 0, 0.42, 1.08) 0.3s,
                  opacity 0.8s cubic-bezier(0, 0, 0.42, 1.08) 0.3s;
    }
    &:hover {
      +.play-button {
        opacity: 0.9;
      }
    }
  }
  .play-button {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s ease-in;
    pointer-events: none;
    svg {
      fill: $white;
    }
  }
  .fullscreen-btn {
    position: absolute;
    bottom: $gutter;
    right: $gutter;
    cursor: pointer;
    z-index: 20;
    svg {
      display: block;
      fill: $white;
      opacity: 0.8;
      transition: opacity 0.1s ease-in;
    }
    &:hover {
      svg {
        opacity: 0.6;
      }
    }
  }
  .progress-bar {
    width: 100%;
    margin: $gutter * 2 auto;
    border: 1px solid #6aabf5;
    border-radius: 100px;
    overflow: hidden;
    &__inner {
      width: 1%;
      height: 13px;
      background-color: $lightyellow;
      transition: all 0.2s ease-in;
    }
  }
  &.is-loaded {
    .play-button {
      opacity: 1;
    }
    .video_will_be_here {
      min-height: auto;
    }
  }
  &.is-playing {
    .youtube-video__overlay {
      opacity: 0;
    }
    .play-button {
      opacity: 0;
    }
  }
  &.is-paused {
    .youtube-video__overlay {
      background-color: $black;
      opacity: 0.24;
    }
    .play-button {
      opacity: 1;
    }
  }
  &.is-mobile {
    .fullscreen-btn {
      // display: none
    }
    &.is-paused {
      .youtube-video__overlay {
        display: block;
      }
    }
    &.mobile-init {
      .youtube-video__overlay, .fullscreen-btn {
        display: none;
      }
    }
  }
}