*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  // remove 300ms delay on IE 10-11
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  @include roboto;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.25;
  &.modal-is-active {
    position: fixed;
  }
  &.lock-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y:scroll;
  }
}

//No outlines
a,
input,
textarea,
button,
select {
  &:focus {
    outline: none;
  }
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: bottom;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.site-content {
  width: 100%;
  height: auto;
  display: block;
  flex-grow: 1;
}

.darkblue-gradient {
  background-image: linear-gradient(
    -173deg,
    #26334e 0%,
    #26334e 50%,
    #001422 100%
  );
}

.blue-gradient {
  background-image: linear-gradient(163deg, #3facfc 0%, #176aec 99%);
}

//Vue js hide before render
[v-cloak] {
  display: none;
}

.landing-page {
  background-color: #f2f2f2;
}

.learnCategory-template,
.newsCategory-template {
  background-color: #f2f2f2;
}

.press-template {
  background-color: #f2f2f2;
}
