/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function encodecolor($string) {
  @if type-of($string) == 'color' {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');
  }
  $string: '%23' + $string;
  @return $string;
}

@mixin arrow-background($color) {
  $iconColor: encodecolor($color);
  background-image: url('data:image/svg+xml;charset=utf8,%3C?xml version="1.0" encoding="UTF-8"?%3E%3Csvg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg stroke="none" stroke-width="1" fill-rule="evenodd"%3E%3Cpolygon fill="#{$iconColor}" points="9.04615972 0 5.01538657 4.03077314 0.984613428 0 2.84217094e-13 0.984613428 4.03115463 5.01538657 5.01538657 6 6 5.01538657 10.0307731 0.984613428"%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E');
}
