@mixin mq($media) {
  @if ($media == small) {
    @media only screen {
      @content;
    }
  } @else if ($media == small-only) {
    @media only screen and (max-width: $small-max) {
      @content;
    }
  } @else if ($media == small-only-landscape) {
    @media only screen and (max-width: $small-max) and (orientation: landscape) {
      @content;
    }
  } @else if ($media == medium-down) {
    @media only screen and (max-width: $medium-max) {
      @content;
    }
  } @else if ($media == medium-only) {
    @media only screen and (min-width: $medium-min) and (max-width: $medium-max) {
      @content;
    }
  } @else if ($media == medium) {
    @media only screen and (min-width: $medium-min) {
      @content;
    }
  } @else if ($media == large-down) {
    @media only screen and (max-width: $large-max) {
      @content;
    }
  } @else if ($media == large-only) {
    @media only screen and (min-width: $large-min) and (max-width: $large-max) {
      @content;
    }
  } @else if ($media == large) {
    @media only screen and (min-width: $large-min) {
      @content;
    }
  } @else if ($media == xl-down) {
    @media only screen and (max-width: $xl-max) {
      @content;
    }
  } @else if ($media == xl-only) {
    @media only screen and (min-width: $xl-min) and (max-width: $xl-max) {
      @content;
    }
  } @else if ($media == xl) {
    @media only screen and (min-width: $xl-min) {
      @content;
    }
  } @else if ($media == xxl-down) {
    @media only screen and (max-width: $xxl-max) {
      @content;
    }
  } @else if ($media == xxl-only) {
    @media only screen and (min-width: $xxl-min) and (max-width: $xxl-max) {
      @content;
    }
  } @else if ($media == xxl) {
    @media only screen and (min-width: $xxl-min) {
      @content;
    }
  } @else if ($media == print) {
    @media print {
      @content;
    }
  } @else {
    @media #{$media} {
      @content;
    }
  }
}
