//Colors
$black: #000000;
$white: #ffffff;

$grey: #66727a;
$grey-dark: #4a4a4a;

$darkblue: #222e45;
$yellow: #ffb600;
$lightyellow: #ffc800;
$blue: #3595f2;
$cyan: #49bcff;

$grey-light: #f2f2f2;
$grey-dark: #4a4a4a;

$buttonGrey: #a7a7a7;
$buttonGreyColor: #8e8e8e;
$buttonDarkGrey: #6b6b6b;

// Box shadows
$shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);
$shadowHover: 0 2px 15px 0 rgba(0, 0, 0, 0.17);

//Header size
$smallHeaderHeight: 68px;
$largeHeaderHeight: 76px;

//Widths
$containerWidthSmall: 600px;
$containerWidth: 1040px;
$containerWidthLarge: 1440px;

//Gutter
$gutter: 12px;

//Mobile padding
$mobileGutter: 16px;

//Breakpoints
$small-max: 425px;
$medium-min: $small-max + 1px;
$medium-max: 768px;
$large-min: $medium-max + 1px;
$large-max: 1440px;
$xl-min: $large-max + 1;
$xl-max: 1800px;
$xxl-min: $xl-max + 1;
$xxl-max: 99999999px;
