$roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$scout: 'Scout Thin', 'Roboto', 'Helvetica', 'Arial', sans-serif;
$noto: 'Noto Sans Japanese', 'Helvetica', 'Arial', sans-serif;

@-moz-document url-prefix() {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
}

@mixin roboto-light {
  font-family: $roboto;
  font-weight: 300;
}

@mixin roboto {
  font-family: $roboto;
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: $roboto;
  font-weight: 500;
}

@mixin scout {
  font-family: $scout;
}

@mixin noto-light {
  font-family: $noto;
  font-weight: 100;
  letter-spacing: 0;
}

//Heading 1 and heading 2 are the same now
.heading-1 {
  @include scout;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 0.97;
  @include mq(medium) {
    font-size: 46px;
  }
  @include mq(large) {
    font-size: 60px;
    line-height: 1;
  }
}

.heading-2 {
  @include scout;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 0.97;
  strong {
    font-weight: normal;
    color: $lightyellow;
  }
  @include mq(medium) {
    font-size: 46px;
  }
  @include mq(large) {
    font-size: 60px;
    line-height: 1;
  }
}

.heading-3 {
  @include scout;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.011em;
  @include mq(medium) {
    font-size: 40px;
    line-height: 1.25;
  }
  @include mq(large) {
    font-size: 50px;
    line-height: 1;
  }
}

.heading-4 {
  @include scout;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.111;
  letter-spacing: 0.007em;
  @include mq(medium) {
    font-size: 32px;
  }
  @include mq(large) {
    font-size: 40px;
    line-height: 1.15;
  }
}

.heading-5 {
  @include roboto-light;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  @include mq(medium) {
    font-size: 16px;
  }
  @include mq(large) {
    font-size: 21px;
    line-height: 1.38;
  }
}

// .heading-6 {
//   @include roboto;
//   font-size: 16px;
//   font-weight: normal;
//   line-height: 1.111;
//   text-transform: uppercase;
//   @include mq(medium) {
//     font-size: 16px;
//     line-height: 1.22;
//   }
//   @include mq(large) {
//     font-size: 16px;
//     line-height: 1.22;
//   }
// }
