{#
  Note:
  This is the article template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'career-template' %}
{% import '_helpers/_macros.twig' as macros %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}

{% set metaDescription = "" %}
{% if entry.seoDescription|length %}
  {% set metaDescription = entry.seoDescription %}
{% elseif entry.contentMatrix|length %}
  {% set metaDescription = macros.excerpt(entry.contentMatrix.one.wysiwyg, 26) %}
{% endif %}

{% set metaImage = "" %}
{% if entry.seoImage|length %}
  {% set metaImage = entry.seoImage.one %}
{% elseif entry.image|length %}
  {% set metaImage = entry.image.one %}
{% elseif defaultSeoImage.image|length %}
  {% set metaImage = defaultSeoImage.image.one %}
{% endif %}

{% set metaUrl = entry.url %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="article-wrapper">
    <div class="article">

      <header>
        <h1 class="heading-2">{{ entry.title }}</h1>
        {% if entry.description|length %}
          <p class="article__description">{{ entry.description|raw|nl2br }}</p>
        {% endif %}
        <div class="article__meta">
          <div class="article__date">
            {{ entry.postDate|date('F j, Y') }}
            {% if entry.newsCategories|length %}
              <span class="divider">|</span>
            {% endif %}
          </div>
        </div>
      </header>

      {% include '_components/_contentMatrix' with {'matrix': entry.contentMatrix} %}

    </div>
    <aside class="article-side">
      {% if entry.linkToSideBanner|length %}
        {% set banners = entry.linkToSideBanner.all() %}
        {% for banner in banners %}
          {% if banner.type == 'banner' %}
            {% set link = "" %}
              {% if banner.linkExternal|length %}
                {% set link = banner.linkExternal %}
              {% elseif banner.linkInternal|length %}
                {% set link = banner.linkInternal.one.url() %}
              {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'authorImage': banner.authorImage,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonialCard' with {
              'testimonial': testimonial
            } %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </aside>
  </div>

  <footer>

    {% set relatedEntries = craft.entries({
      section: 'careers',
      with: [
        'image',
      ],
      id: 'not ' ~ entry.id,
      limit: 3
    }).all %}

    {% if relatedEntries|length %}

      {% embed '_components/_cardsSection' with { 
        'title': 'This might also be of interest'|t,
        'textColor': 'black',   
        'background': 'grey',
        'cta': '',
      } %}
        {% block content %}
          <div class="related-articles">
            <ul class="cards-section__content cardsSection-carousel">
              {% for card in relatedEntries %}
                <li class="{{ (relatedEntries|length > 1) ? 'carousel-cell' : '' }}">
                  {% set card = {
                    'imageUrl': (card.image.one ?? null) ? card.image.one.url({width: 600}) : '',
                    'link': card.url,
                    'time': card.postDate,
                    'labels': '',
                    'title': card.title,
                    'desc': '',
                    'cta': '',
                    'duration': card.videoDuration
                  } %}
                  {% include '_components/_card' with { 'card': card } %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endblock %}
      {% endembed %}

    {% endif %}

    {% if entry.linkToBanner|length %}
      {% set banners = entry.linkToSideBanner.all() %}
        {% for banner in banners %}
          {% if banner.type == 'banner' %}
            {% set link = "" %}
              {% if banner.linkExternal|length %}
                {% set link = banner.linkExternal %}
              {% elseif banner.linkInternal|length %}
                {% set link = banner.linkInternal.one.url() %}
              {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText|raw|nl2br,
              'image': banner.image,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonial' with {
              'testimonial': testimonial
            } %}
          {% endif %}
        {% endfor %}
    {% elseif defaultSideBanner.linkToBanner|length %}
        <ul>
        {% for banner in defaultSideBanner.linkToBanner.all() %}
          <li>
          {% if banner.type == 'banner' %}
            {% set link = "" %}
              {% if banner.linkExternal|length %}
                {% set link = banner.linkExternal %}
              {% elseif banner.linkInternal|length %}
                {% set link = banner.linkInternal.one.url() %}
              {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'authorImage': banner.authorImage,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonialCard' with {
              'testimonial': testimonial
            } %}
          {% endif %}
          </li>
        {% endfor %}
        </ul>
    {% endif %}
  </footer>


{% endblock %}

{% block foot %}
{% endblock %}