{#
  Note:
  This is the about template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'careers-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  {% set hero = {
    'title': entry.heroTitle,
    'text': entry.heroText,
    'backgroundType': (entry.heroImage|length) ? entry.heroImage.one.mimeType : '',
    'backgroundUrl': (entry.heroImage|length) ? entry.heroImage.one.getUrl({width: 2000}) : '',
    'buttonLink': '',
    'buttonText': '',
    'heroVideoVideoId': '',
    'heroVideoButtonText': '',
    'scrollDownButtonText': 'Discover open positions'|t,
    'entryType': 'Careers landing'
  } %}

  {% include '_components/_hero' with {'hero': hero} %}

  {% if entry.sectionsMatrix|length %}
    {% include '_components/_sectionsMatrix' with {
      'matrix': entry.sectionsMatrix,
      'entryType': 'Careers landing'
    } %}
  {% endif %}

{% endblock %}

{% block foot %}
{% endblock %}