{#
  Note:
  This is the article template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'office-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = entry.seoImage.one %}
{% set metaUrl = entry.url %}

{% block head %}
{% endblock %}

{% block content %}


{% endblock %}

{% block foot %}
{% endblock %}