<!DOCTYPE html>
  <html lang="en-US" class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <link rel="dns-prefetch" href="{{ siteUrl }}">
    <link rel="preconnect" href="{{ siteUrl }}" crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if metaTitle is not defined %}
      {% set metaTitle = 'Solibri' %}
    {% endif %}
    {% if metaDescription is not defined %}
      {% set metaDescription = '' %}
    {% endif %}
    {% if metaUrl is not defined %}
      {% set metaUrl = craft.app.request.url %}
    {% endif %}
    {% if metaType is not defined %}
      {% set metaType = 'website' %}
    {% endif %}

    <title>Solibri | {{ metaTitle }}</title>
    {% if metaDescription|length %}
      <meta name="description" content="{{ metaDescription }}">
    {% endif %}

    <link rel="canonical" href="{{ metaUrl }}">

    <meta property="og:type" content="{{ metaType }}">
    <meta property="og:site_name" content="{{ 'Solibri' }}">
    <meta property="og:url" content="{{ metaUrl }}">
    <meta property="og:title" content="{{ metaTitle }}">

    {% if metaDescription|length %}
      <meta property="og:description" content="{{ metaDescription }}">
    {% endif %}

    {% if metaImage is defined and metaImage|length %}
      <meta property="og:image" content="{{ metaImage.url }}">
      <meta property='og:image:width' content='{{ metaImage.width }}' />
      <meta property='og:image:height' content='{{ metaImage.height }}' />
      <meta property='og:image:type' content='{{ metaImage.mimeType }}' />
      <meta name="twitter:image:alt" content="{{ metaImage.title }}">
    {% endif %}

    <meta property="og:locale" content="{{ craft.app.language }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ metaUrl }}">
    <meta name="twitter:title" content="{{ metaTitle }}">
    <meta name="twitter:site" content="@Solibri">

    {% if metaDescription|length %}
      <meta name="twitter:description" content="{{ metaDescription }}">
    {% endif %}

    {% if metaImage is defined and metaImage|length %}
      <meta name="twitter:image" content="{{ metaImage.url }}">
    {% endif %}

    {# note:
      Meta Icons
      Put here all the meta icons for all devices like favicon, apple-touch-icon.....

      The easiest way is to generate icons from http://realfavicongenerator.net/
    #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ craft.app.config.general.staticAssets }}/img/webicons/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ craft.app.config.general.staticAssets }}/img/webicons/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ craft.app.config.general.staticAssets }}/img/webicons/favicon-16x16.png?v=2">
    <link rel="manifest" href="{{ craft.app.config.general.staticAssets }}/img/webicons/site.webmanifest?v=2">
    <link rel="mask-icon" href="{{ craft.app.config.general.staticAssets }}/img/webicons/safari-pinned-tab.svg?v=2" color="#fec830">
    <meta name="apple-mobile-web-app-title" content="Solibri">
    <meta name="application-name" content="Solibri">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#fec830">

    <script type="text/javascript">
      window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
      window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
    </script>

    <link rel="home" href="{{ siteUrl }}" />

    {# Scout Font #}
    <link href="//cloud.webtype.com/css/0837afce-41d3-4a8d-8eae-1d6f1ee8967c.css" rel="stylesheet" type="text/css" />
    {# Roboto font #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ craft.app.config.general.staticAssets }}/css/reports.css?20181220">

    {# note: This block can be extended to add additional head assets or links or anything on templates #}
    {% block head %}
    {% endblock %}
  </head>

  <body class="trial-download-reports">

    <main id="content" class="site-content" role="main">
      {% block content %}
        {# note: Here all the different views will be generated #}
      {% endblock %}
    </main>

    <footer class="reports-footer">
       © {{ now|date('Y') }} {{"SOLIBRI INC"|t}}., <a href="https://nemetschek.com/" target="_blank">{{"A NEMETSCHEK COMPANY"|t}}</a>
    </footer>
    {# note: This block can be used to add additional stuff in the footer in every template #}
    {% block foot %}
    {% endblock %}

    <script src="{{ craft.app.config.general.staticAssets }}/js/reports.js?20181220"></script>

  </body>
</html>
