{#
  Note:
  This is the homepage.
#}
{% if currentUser %}
  {% redirect "reports" %}
{% endif %}

{% extends "reports/_layout" %}

{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'trial-download-reports' %}

{% set metaTitle = 'Forgot password' %}
{% set metaDescription = 'Reports for the trial-download' %}
{% set metaImage = {
  url: '',
  width: '',
  height: '',
  mimeType: '',
  title: ''
} %}
{% set metaUrl = url(craft.app.request.pathInfo) %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="reports-logo">
    <a href="{{ siteUrl }}">{% include '_icons/_icon-secondary-logo.svg' %}</a>
    Solibri<span> Reports</span>
  </div>

  <div class="reports-login-view paper">
    <h1 class="heading-4 title">Forgot your password?</h1>
    <p class="description">We will send you an email with instructions on how to reset your password.</p>
    <form class="form" method="post" accept-charset="UTF-8">
      {{ csrfInput() }}
      <input type="hidden" name="action" value="users/send-password-reset-email">
      {{ redirectInput('reports/login') }}

      <input class="text-field" id="loginName" type="text" name="loginName" placeholder="Username or email" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">

      {% if errors is defined %}
        <ul class="errors">
          {% for error in errors %}
            <li>
              <p class="report-error">{{ error }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="submit-field">
        <input type="submit" value="Submit" class="button is-yellow is-expanded">
      </div>
    </form>

    <a href="{{ url("reports/login") }}" class="link back-to-login">{% include '_icons/_arrow-long.svg' %}Back to Login</a>

  </div>

{% endblock %}

{% block foot %}

{% endblock %}
