{#
  Note:
  This is the homepage.
#}


{% if not currentUser %}
  {% redirect "reports/login" %}
{% endif %}


{% extends "reports/_layout" %}

{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'trial-download-reports' %}

{% set metaTitle = 'Reports' %}
{% set metaDescription = 'Reports for the trial-download' %}
{% set metaImage = {
  url: '',
  width: '',
  height: '',
  mimeType: '',
  title: ''
} %}
{% set metaUrl = url(craft.app.request.pathInfo) %}
{% set metaType = 'website' %}

{% block head %}
  <script>
    //window.rowsApi = "{{ url('reports/api/rows')|e('js') }}";
    window.rowsApi = "{{ url('actions/sprout-forms-custom-report-module/default/get-form-entries')|e('js') }}"
    window.countries = "{{ (currentUser['reportAccessCountries'] is defined) ? currentUser.reportAccessCountries : null }}";
    window.referrer = "{{ (currentUser['reportAccessReferrer'] is defined) ? currentUser.reportAccessReferrer : null }}";
  </script>
{% endblock %}

{% block content %}

  {# this is the vue app, data is renedered by vue js #}
  <div id="reports">

    <header class="reports-header">
      <div class="reports-header__content">

        <div class="reports-header__logo">
          <a href="{{ siteUrl }}">{% include '_icons/_icon-secondary-logo.svg' %}</a>
          Solibri<span> Reports</span>
        </div>
        <div class="reports-header__actions">
          <a href="{{ logoutUrl }}" class="button has-outline is-white">Logout</a>
        </div>


        <div class="reports-settings">
          <div class="date-chooser" v-bind:class="{ 'is-loading': loading }" v-click-outside="closeDate">
            <div class="date-chooser__content">
              <input type="text" id="trigger-range" @click="openDate" :value="options.startDate + ' - ' + options.endDate" readonly :disabled="loading" />
              <span class="date-chooser__icon">{% include '_icons/_arrow-small.svg' %}</span>
            </div>
            <div v-show="dateOpen" class="date-chooser__picker">
              <airbnb-style-datepicker
                :trigger-element-id="'trigger-range'"
                :mode="'range'"
                :inline="true"
                :fullscreen-mobile="true"
                :date-one="options.startDate"
                :date-two="options.endDate"
                v-on:date-one-selected="function(val) { changeDate(val, 'startDate') }"
                v-on:date-two-selected="function(val) { changeDate(val, 'endDate') }"
                v-bind:show-shortcuts-menu-trigger="false"
                v-bind:show-action-buttons="true"
                @cancelled="closeDate"
                @apply="searchByDate"
               ></airbnb-style-datepicker>
             </div>
          </div>
        </div>

      </div>
    </header>

    <div class="charts container">
      <div class="charts-content" >
        <piechart css-classes="charts-column paper piechart" v-bind:class="{ 'is-loading': loading }" :chart-data="businessAreaChartData" :options="{
          responsive: true,
          maintainAspectRatio: true,
          legend: {
            display: false,
            position: 'left',
          },
          title: {
            display: true,
            text: 'Area of Business',
            fontSize: 16,
            fontFamily: 'Roboto, Helvetica, Arial, sans-serif',
            fontColor: '#484848',
            fontStyle: 'normal',
            padding: 24,
          },
          animation: {
            animateScale: true,
            animateRotate: true,
          },
          layout: {
            padding: {
              left: 24,
              right: 24,
              top: 0,
              bottom: 24
            }
          }
        }"></piechart>
        <div class="charts-column paper charts-number" v-bind:class="{ 'is-loading': loading }">
          <h4 class="charts-number__title">Total</h4>
          <h5 class="charts-number__number"><% pagination.total %><span>submissions</span></h5>
        </div>
        <piechart css-classes="charts-column paper piechart" v-bind:class="{ 'is-loading': loading }" :chart-data="companySizeChartData" :options="{
          responsive: true,
          maintainAspectRatio: true,
          legend: {
            display: false,
            position: 'left',
          },
          title: {
            display: true,
            text: 'Company Size',
            fontSize: 16,
            fontFamily: 'Roboto, Helvetica, Arial, sans-serif',
            fontColor: '#484848',
            fontStyle: 'normal',
            padding: 24,
          },
          animation: {
            animateScale: true,
            animateRotate: true,
          },
          layout: {
            padding: {
              left: 24,
              right: 24,
              top: 0,
              bottom: 24
            }
          },
        }"></piechart>

      </div>
    </div>

    <div class="list paper container" v-bind:class="{ 'is-loading': loading }">
      <header class="list-pagination border-bottom">

        <div class="list-pagination__column">

          <div class="pagination-amount hide-for-small">
            <span>Rows: </span>
            <div class="select-input">
              <select v-model="pagination.perPage" @change="changeAmount" :disabled="loading">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option :value="pagination.total">All</option>
              </select>
            </div>
          </div>

        </div>

        <div class="list-pagination__column">

          <div class="list-sorting">
            <span>Sort by: </span>
            <div class="select-input">
              <select v-model="sortValue" @change="sortBy" :disabled="loading">
                <template v-for="column in columns" v-if="column.sort">
                  <option :value="column.field + ', desc'">
                    <% column.label %> (descending)
                  </option>
                  <option :value="column.field + ', asc'">
                    <% column.label %> (ascending)
                  </option>
                </template>
              </select>
            </div>
          </div>

          <button @click="csvExport()" class="button is-yellow export-button">Download CSV</button>
          <a id="download-csv-hidden"></a>
        </div>
      </header>

      <div class="list-content">
        <table>
          <thead v-bind:class="options.sortType">
            <tr>
              <th v-for="column in columns" @click="sort(column.field, column.sort)" v-bind:class="{ 'sortable': column.sort }">
                <% column.label %>
                <template v-if="options.sortField === column.field">
                  {% include '_icons/_arrow-small.svg' %}
                </template>
              </th>
            </tr>
          </thead>
          <tbody>
            <template v-if="rows.length">
              <tr v-for="row in sortedRows">
                <td v-for="column in columns"><% row[column.field] %></td>
              </tr>
            </template>
            <template v-else>
              <tr v-for="n in pagination.perPage">
                <td :colspan="columns.length"></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <footer class="list-pagination border-top">
        <div class="list-pagination__column">
          <div class="pagination-amount">
            <span>Rows: </span>
            <div class="select-input">
              <select v-model="pagination.perPage" @change="changeAmount" :disabled="loading">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option :value="pagination.total">All</option>
              </select>
            </div>
          </div>
        </div>
        <div class="list-pagination__column">
          <div class="pagination-navigation">
            <button
              @click="prevPage"
              :disabled="loading || pagination.currentPage === 1"
              title="Previous"
              class="pagination-button is-prev"
              >
              {% include '_icons/_arrow-right.svg' %}
            </button>
            <span><% pagination.currentPage %> / <% pagination.totalPages %></span>
            <button
              @click="nextPage"
              :disabled="loading || pagination.currentPage === pagination.totalPages"
              title="Next"
              class="pagination-button is-next"
              >
              {% include '_icons/_arrow-right.svg' %}
            </button>
          </div>
        </div>
      </footer>
    </div>

  </div>

{% endblock %}

{% block foot %}
{% endblock %}
