{#
  Note:
  This is the homepage.
#}

{% if currentUser %}
  {% redirect "reports" %}
{% endif %}

{% extends "reports/_layout" %}

{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'trial-download-reports' %}

{% set metaTitle = 'Login' %}
{% set metaDescription = 'Reports for the trial-download' %}
{% set metaImage = {
  url: '',
  width: '',
  height: '',
  mimeType: '',
  title: ''
} %}
{% set metaUrl = url(craft.app.request.pathInfo) %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="reports-logo">
    <a href="{{ siteUrl }}">{% include '_icons/_icon-secondary-logo.svg' %}</a>
    Solibri<span> Reports</span>
  </div>

  <div class="reports-login-view paper">

    <h1 class="heading-4 title">Login</h1>
    <p class="description">Welcome to Solibri Reports, please login in to continue. If you dont have an account please <a class="link" href="mailto:sales@solibri.com">contact us</a>.</p>
    <form class="form" method="post" accept-charset="UTF-8">
      {{ csrfInput() }}
      <input type="hidden" name="action" value="users/login">
      {{ redirectInput('reports') }}

      <input class="text-field" id="loginName" placeholder="Username or email" type="text" name="loginName" value="{{ craft.app.user.rememberedUsername }}">
      <input class="text-field" id="password" placeholder="Password" type="password" name="password">

      <div class="login-action">
        <div class="checkbox-field">
          <input type="checkbox" name="rememberMe" id="rememberMe" value="1">
          <label for="rememberMe">Remember me</label>
        </div>

        <p class="forgot-field">
          <a class="link" href="{{ url('reports/forgotpassword') }}">Forgot your password?</a>
        </p>
      </div>

      {% if errorMessage is defined %}
          <p class="report-error">{{ errorMessage }}</p>
      {% endif %}
      <div class="submit-field">
        <input type="submit" value="Login" class="button is-yellow is-expanded">
      </div>
    </form>

  </div>

{% endblock %}

{% block foot %}

{% endblock %}
