{#
  Note:
  This is the article category template.
#}
{% extends "_layouts/_master" %}
{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'newsCategory-template' %}

{% set metaTitle = category.seoTitle %}

{% set metaDescription = "" %}
{% if category.seoDescription|length %}
  {% set metaDescription = category.seoDescription %}
{% elseif category.contentMatrix|length %}
  {% set metaDescription = macros.excerpt(category.contentMatrix.one.wysiwyg, 26) %}
{% endif %}

{% set metaImage = "" %}
{% if category.seoImage|length %}
  {% set metaImage = category.seoImage.one %}
{% elseif category.image|length %}
  {% set metaImage = category.image.one %}
{% elseif defaultSeoImage.image|length %}
  {% set metaImage = defaultSeoImage.image.one %}
{% endif %}

{% set metaUrl = category.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  {% set section = craft.entries.section('news') %}
  {% set landingPage = craft.entries.section('newsLanding').one %}
  {% set landingUrl = landingPage.url %}

  {% set entryIds = section.ids() %}
  {% set subNavCategories = landingPage.newsCategories %}

  {% include '_components/_subNavigation' with {
    'title': 'News'|t,
    'categories': subNavCategories,
    'landingPageUrl': landingUrl,
    'active': category
  } %}

  {% if category is defined %}
    {% if category == 'Events' %}
      {% set articles = craft.entries({
        section: 'news',
        type: 'event',
        with: [
          'image',
          'newsCategories'
        ]
      }) %}
    {% else %}
      {% set articles = craft.entries({
        section: 'news',
        with: [
          'image',
          'newsCategories'
        ],
        relatedTo: category
      }) %}
    {% endif %}
  {% else %}
    {% set articles = craft.entries({
      section: 'news',
      with: [
        'image',
        'newsCategories'
      ]
    }) %}
  {% endif %}

  {% paginate articles.limit(12) as articlesOnPage %}

  {% set heading = (category == 'Events') ? '' : category %}

  {% embed '_components/_articlesList' with {
    'articles': articlesOnPage,
    'heading': heading,
    'listCta': '',
    'ctaLink': '',
    'landingPageUrl': landingUrl
  } %}

  {% block content %}
    {% if category != 'Events' %}
      <div class="cards-list">
        {% for article in articlesOnPage %}
          <div class="cards-list__item">
            {% set articleCard = {
              'link': article.url,
              'title': article.title,
              'desc': '',
              'cta': '',
              'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
              'time': article.postDate,
              'labels': (article.newsCategories[0] ?? null) ? article.newsCategories[0],
              'duration': article.videoDuration
            } %}
            {% include '_components/_card' with { 'card' : articleCard }%}
          </div>
        {% endfor %}
      </div>
    {% else %}

      {% set eventsUpcoming = craft.entries
        .section('news')
        .type('event')
        .startDate('>=' ~ now|date('Y-m-d'))
        .orderBy('startDate asc')
        .all()
      %}

      {% set eventsPast = craft.entries
        .section('news')
        .type('event')
        .startDate('<' ~ now|date('Y-m-d'))
        .orderBy('endDate desc')
        .limit(6)
        .all()
      %}

      {% if eventsUpcoming|length %}
        <div class="list-items-list">
          <header class="cards-list-section__header"><h4 class="heading-4 cards-list-section__title">{{ "Upcoming events"|t }}</h4></header>
          {% for event in eventsUpcoming %}
            <div class="list-items__item">
              {% set eventItem = {
                'link': event.url,
                'title': event.title,
                'startTime': event.startDate,
                'endTime': event.endDate,
                'location': event.locationCityAndCountry
              } %}
              {% include '_components/_listItem' with { 'listItem' : eventItem }%}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if eventsPast|length %}
        <div class="list-items-list">
          <header class="cards-list-section__header"><h4 class="heading-4 cards-list-section__title">{{ "Past events"|t }}</h4></header>
          {% for event in eventsPast %}
            <div class="list-items__item">
              {% set eventItem = {
                'link': event.url,
                'title': event.title,
                'startTime': event.startDate,
                'endTime': event.endDate,
                'location': event.locationCityAndCountry
              } %}
              {% include '_components/_listItem' with { 'listItem' : eventItem }%}
            </div>
          {% endfor %}
        </div>
      {% endif %}

    {% endif %}
  {% endblock %}

  {% endembed %}
  
  {% if category != 'Events' %}
    {% include '_components/_pagination' with { 'pagination' : paginate } %}
  {% endif %}

  {% if category is defined and category.slug == 'releases' %}
    {% set releaseNotesSlug = craft.categories.slug('release-notes').slug %}
    {% set releaseNotesUrl = landingUrl ~ '/' ~ releaseNotesSlug %}
    <div class="cards-list-section__footer">
      <a href="{{ releaseNotesUrl }}" title="{{ "Link to Release notes"|t }}">{{ "For earlier releases, see the Release Notes"|t }}</a>
    </div>
  {% endif %}


{% endblock %}

{% block foot %}
{% endblock %}