{#
  Note:
  This is the article template.
#}
{% extends "_layouts/_master" %}
{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'article-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}

{% set metaDescription = "" %}
{% if entry.seoDescription|length %}
  {% set metaDescription = entry.seoDescription %}
{% elseif entry.contentMatrix|length %}
  {% set metaDescription = macros.excerpt(entry.contentMatrix.one.wysiwyg, 26) %}
{% endif %}

{% set metaImage = "" %}
{% if entry.seoImage|length %}
  {% set metaImage = entry.seoImage.one %}
{% elseif entry.image|length %}
  {% set metaImage = entry.image.one %}
{% elseif defaultSeoImage.image|length %}
  {% set metaImage = defaultSeoImage.image.one %}
{% endif %}

{% set metaUrl = entry.url %}
{% set metaType = 'article' %}

{% block head %}
  <meta property="article:modified_time" content="{{ entry.dateUpdated|atom }}">
  <meta property="article:published_time" content="{{ entry.postDate|atom }}">
{% endblock %}

{% block content %}

{% set shareUrl = entry.url %}
{% set shareTitle = entry.title %}

{% set newsLanding = (craft.entries.section('newsLanding')|length) ? craft.entries.section('newsLanding').one : '' %}

{% if entry.newsCategories is defined %}
  {% set active = '' %}
{% else %}
  {% set active = '' %}
{% endif %}

{% if newsLanding|length %}
  {% set subNavCategories = (newsLanding.newsCategories|length) ? newsLanding.newsCategories : '' %}
  {% if subNavCategories|length %}
    {% include '_components/_subNavigation' with {
      'title': 'News'|t,
      'categories': subNavCategories,
      'landingPageUrl': newsLanding.url,
      'social': true,
      'active': entry.newsCategories[0]
    } %}
  {% endif %}
{% endif %}

  <div class="article-wrapper">
    <article class="article">

      <header>
        <h1 class="heading-2">{{ entry.title }}</h1>
        {% if entry.type == 'event' %}
          <div class="event-details wysiwyg">
            <p class="event-details__date">
              {% set start = (entry.startDate|length) ? entry.startDate : '' %}
              {% set end = (entry.endDate|length) ? entry.endDate : '' %}

              {# Check if start and end have the same dates, if true display the dates differently #}
              {% if start|date('F j, Y') == end|date('F j, Y') %}
                {% include '_icons/_icon-clock.svg' %}
                <time datetime="{{ start|date('Y-m-j') }}">{{ start|date('j.m.Y') }}</time>
                <span class="pipe-divider">|</span>
                <time datetime="{{ start|date('Y-m-j') }}">{{ start|date('H:i') }}</time>
                <span class="dash-divider">–</span>
                <time datetime="{{ end|date('Y-m-j') }}">{{ end|date('H:i') }}</time>
              {# If dates are not the same or if only the start date is filled in #}
              {% elseif start|date('F j, Y') != end|date('F j, Y') or start|length and end == '' %}
                {% include '_icons/_icon-clock.svg' %}
                <time datetime="{{ start|date('Y-m-j') }}">{{ start|date('j.m.Y') }}</time>
              {% endif %}
              {# If both dates exist but they are not the same #}
              {% if end|length and start|date('j.m.Y') != end|date('j.m.Y') %}
                <span class="dash-divider">–</span>
                <time datetime="{{ end|date('Y-m-j') }}">{{ end|date('j.m.Y') }}</time>
              {% endif %}
            </p>

            {% if entry.streetAddress|length %}
              {% set addressDivided = entry.streetAddress|nl2br|replace({'<br />': ' '}) %}
              <p class="event-details__location">{% include '_icons/_map-marker.svg' %}
                <a href="{{ macros.googleMapsUrl(addressDivided) }}" title="{{ "Google maps link" }}" target="_blank">{{ entry.streetAddress|raw }}</a>
              </p>
            {% endif %}
          </div>
        {% endif %}
        {% if entry.description|length %}
          <p class="article__description">{{ entry.description|raw|nl2br }}</p>
        {% endif %}
        <div class="article__meta">
          {% if entry.articleAuthor|length %}
            {% for author in entry.articleAuthor.limit(1).all() %}
              <div class="author">
                <div class="author__content">
                  {% if author.portrait|length %}
                    <div class="author__image" style="background-image: url('{{ author.portrait.one().url }}')"></div>
                  {% endif %}
                  <div class="author__name">{{ author.title }}</div>
                  <span class="author__divider">|<span>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% if entry.type == "article" %}
            <div class="article__date">
              {{ entry.postDate|date('F j, Y') }}
              {% if entry.newsCategories|length %}
                <span class="divider">|</span>
              {% endif %}
            </div>
          {% endif %}
            {% if entry.newsCategories|length and entry.type != 'event' %}
              <div class="article__categories">
                {% for category in entry.newsCategories.all() %}
                  <a href="{{ category.url }}" title="{{ category }}" class="article__category">{{ category|raw }}</a>
                  {% if not loop.last %}
                    <span>,</span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
      </header>

      {% if entry.image|length %}
        <section class="article__image">
          <img src="{{ entry.image.one.url }}" title="{{ entry.image.one.title }}">
          {% if entry.image.one.caption|length %}
            <figcaption>{{ entry.image.one.caption }}</figcaption>
          {% endif %}
        </section>
      {% endif %}

      {% include '_components/_contentMatrix' with {'matrix': entry.contentMatrix} %}

      {#
      {% if entry.type == 'event' %}
        <div class="event-details">
          {% if entry.streetAddress|length %}
            {% set addressDivided = entry.streetAddress|nl2br|replace({'<br />': ' '}) %}
            <div class="event-details__map">
              <div class="map" data-address="{{ addressDivided }}"></div>
            </div>
          {% endif %}
        </div>
      {% endif %}
      #}
      {% include '_components/_share-modal' with {
        'shareUrl': shareUrl,
        'shareTitle': shareTitle
      } %}

    </article>
    <aside class="article-side">
      {% if entry.linkToSideBanner|length %}
        <ul>
        {% set banners = entry.linkToSideBanner.all() %}
        {% for banner in banners %}
          <li>
          {% if banner.type == 'banner' %}
            {% set link = "" %}
              {% if banner.linkExternal|length %}
                {% set link = banner.linkExternal %}
              {% elseif banner.linkInternal|length %}
                {% set link = banner.linkInternal.one.url() %}
              {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'authorImage': banner.authorImage,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonialCard' with {
              'testimonial': testimonial
            } %}
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% elseif defaultSideBanner is defined and defaultSideBanner.linkToBanner|length %}
        <ul>
        {% for banner in defaultSideBanner.linkToBanner.all() %}
          <li>
          {% if banner.type == 'banner' %}
            {% set link = "" %}
            {% if banner.linkExternal|length %}
              {% set link = banner.linkExternal %}
            {% elseif banner.linkInternal|length %}
              {% set link = banner.linkInternal.one.url() %}
            {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'authorImage': banner.authorImage,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonialCard' with {
              'testimonial': testimonial
            } %}
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </aside>
  </div>

  <footer>
    
    {% set relatedEntries = craft.entries({
      section: 'news',
      with: [
        'image',
        'newsCategories'
      ],
      relatedTo: entry.newsCategories,
      id: 'not ' ~ entry.id,
      limit: 3
    }).all %}

    {% if relatedEntries|length %}

      {% embed '_components/_cardsSection' with {
        'title': 'This might also be of interest'|t,
        'textColor': 'black',
        'background': 'grey',
        'cta': '',
      } %}
        {% block content %}
          <div class="related-articles">
            <ul class="cards-section__content {% if relatedEntries|length >= 2 %}cardsSection-carousel {% endif %}">
              {% for card in relatedEntries %}
                <li class="{{ (relatedEntries|length >= 2) ? 'carousel-cell' : '' }}">
                  {% set card = {
                    'imageUrl': (card.image.one ?? null) ? card.image.one.url({width: 600}) : '',
                    'link': card.url,
                    'time': card.postDate,
                    'labels': (card.newsCategories[0] ?? null) ? card.newsCategories[0],
                    'title': card.title,
                    'desc': '',
                    'cta': '',
                    'duration': card.videoDuration
                  } %}
                  {% include '_components/_card' with { 'card': card } %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endblock %}
      {% endembed %}

    {% endif %}

    {% if entry.linkToBanner|length %}
      {% set banners = entry.linkToBanner.all() %}
        {% for banner in banners %}
          {% if banner.type == 'banner' %}
            {% set link = "" %}
            {% if banner.linkExternal|length %}
              {% set link = banner.linkExternal %}
            {% elseif banner.linkInternal|length %}
              {% set link = banner.linkInternal.one.url() %}
            {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'image': banner.image,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonial' with {
              'testimonial': testimonial
            } %}
          {% endif %}
        {% endfor %}
    {% endif %}
  </footer>

{% endblock %}

{% block foot %}
  {#
  {% if entry.type == 'event' %}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCmxGlUnMLp8wVpSsJCsr-pKEJuO0Zv3WE"></script>
  {% endif %}
  #}
{% endblock %}