{#
  Note:
  This is the newslanding template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'newsLanding-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  {% set newsSection = craft.entries.section('news') %}
  {% set newsLanding = craft.entries.section('newsLanding').one.url %}
  {% set subNavCategories = entry.newsCategories %}

  {% include '_components/_subNavigation' with {
    'title': 'News'|t,
    'categories': subNavCategories,
    'landingPageUrl': newsLanding,
    'active': ''
  } %}

  <div class="landing-page">

    {% set featuredEntriesId = [] %}
    <section class="featured-articles">
      <div class="featured-articles__content">
        {% if entry.linkToFeaturedNewsArticle|length %}
          <div class="featured-articles__main">
            {% for featuredArticle in entry.linkToFeaturedNewsArticle.limit(1).all() %}
              {% set featuredEntriesId = featuredEntriesId|merge([featuredArticle.id]) %}
              {% set featuredCard = {
                'link': featuredArticle.url,
                'image': (featuredArticle.image|length) ? featuredArticle.image : '',
                'category': (featuredArticle.newsCategories|length) ? featuredArticle.newsCategories.one : '',
                'title': featuredArticle.title,
                'articleAuthor': (featuredArticle.articleAuthor|length) ? featuredArticle.articleAuthor.one() : ''
              } %}

              {% include '_components/_featuredCard' with { 'featuredCard': featuredCard } %}
            {% endfor %}
          </div>
        {% endif %}

        {% set newsCategory = craft.categories.slug('general-news') %}
        <div class="featured-articles__news">
          <div class="featured-articles__list__header">
            <h4 class="featured-articles__list__title heading-4">{{ "Featured news"|t }}</h4>
            <a href="{{ newsLanding }}/{{ newsCategory.slug }}" class="featured-articles__list__cta">{{ "View all news"|t }}</a>
          </div>

          {% set newsArticles = entry.linkToFeaturedNewsArticle.offset(1).limit(4).all() %}
          {% if newsArticles|length < 4 %}
            {% set amount = 4 - newsArticles|length %}
            {% set articles = craft.entries({
              section: 'news',
              id: 'and, not ' ~ featuredEntriesId|join(', not '),
            }).limit(amount).all %}
            {% set newsArticles = newsArticles|merge(articles) %}
          {% endif %}

          {% if newsArticles|length %}
            <ul class="featured-articles__list__news">
              {% for article in newsArticles %}
                {% set featuredEntriesId = featuredEntriesId|merge([article.id]) %}
                {% set article = {
                  'link': article.url,
                  'postDate': article.postDate,
                  'title': article.title
                } %}
                <li>{% include '_components/_featuredArticleItem' with { 'article': article } %}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </section>
    

    {# Stories section #}
    {% set storiesCategory = craft.categories.slug('stories') %}
    {% set storiesArticles = craft.entries({
      section: 'news',
      with: [
        'image',
        'newsCategories'
      ],
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: storiesCategory
    }).limit(6).all %}

    {% if storiesArticles|length %}

      {% embed '_components/_articlesList' with {
        'articles': storiesArticles,
        'heading': 'Stories'|t,
        'listCta': 'View all stories'|t,
        'ctaLink': storiesCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        <div class="cards-list">
          {% for article in storiesArticles %}
            <div class="cards-list__item">
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'desc': '',
                'cta': '',
                'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
                'time': article.postDate,
                'labels': (article.newsCategories[0] ?? null) ? article.newsCategories[0],
                'duration': article.videoDuration
              } %}
              {% include '_components/_card' with { 'card' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}

    {% endif %}

    {# Projects section #}
    {% set projectsCategory = craft.categories.slug('projects') %}
    {% set projectsArticles = craft.entries({
      section: 'news',
      with: [
        'image',
        'newsCategories'
      ],
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: projectsCategory
    }).limit(6).all %}

    {% if projectsArticles|length %}

      {% embed '_components/_articlesList' with {
        'articles': projectsArticles,
        'heading': 'Projects'|t,
        'listCta': 'View all projects'|t,
        'ctaLink': projectsCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        <div class="cards-list">
          {% for article in projectsArticles %}
            <div class="cards-list__item">
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'desc': '',
                'cta': '',
                'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
                'time': article.postDate,
                'labels': (article.newsCategories[0] ?? null) ? article.newsCategories[0],
                'duration': article.videoDuration
              } %}
              {% include '_components/_card' with { 'card' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}

    {% endif %}       

    {# General news section #}
    {% set generalNewsCategory = craft.categories.slug('general-news') %}
    {% set generalNewsArticles = craft.entries({
      section: 'news',
      with: [
        'image',
        'newsCategories'
      ],
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: generalNewsCategory
    }).limit(6).all %}

    {% if generalNewsArticles|length %}

      {% embed '_components/_articlesList' with {
        'articles': generalNewsArticles,
        'heading': 'News'|t,
        'listCta': 'View all news'|t,
        'ctaLink': generalNewsCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        <div class="cards-list">
          {% for article in generalNewsArticles %}
            <div class="cards-list__item">
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'desc': '',
                'cta': '',
                'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
                'time': article.postDate,
                'labels': (article.newsCategories[0] ?? null) ? article.newsCategories[0],
                'duration': article.videoDuration
              } %}
              {% include '_components/_card' with { 'card' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}

    {% endif %} 

    {% set pressReleasesCategory = craft.categories.slug('press-releases') %}
    {% set pressReleases = craft.entries({
      section: 'news',
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: pressReleasesCategory
    }).limit(3).all %}

    {% if pressReleases|length %}

      {% embed '_components/_articlesList' with {
        'articles': pressReleases,
        'heading': 'Press releases'|t,
        'listCta': 'View all press releases'|t,
        'ctaLink': pressReleasesCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        {% import '_helpers/_macros.twig' as macros %}
        <div class="cards-list">
          {% for article in pressReleases %}
            <div class="cards-list__item">
              {% set icon = '' %}
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'date': article.postDate,
                'iconType': macros.getCategoriesIcon('pressrelease', 'small'),
                'category': 'Press release'|t
              } %}
              {% include '_components/_categoryCard' with { 'categoryCard' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}
    {% endif %}

    {% set events = craft.entries
      .section('news')
      .type('event')
      .startDate('>=' ~ now|date('Y-m-d'))
      .orderBy('startDate asc')
      .limit(3)
      .all()
    %}

    {% set eventCategory = craft.categories.slug('events') %}

    {% if events|length %}

      {% embed '_components/_articlesList' with {
        'articles': events,
        'heading': 'Upcoming events'|t,
        'listCta': 'View all events'|t,
        'ctaLink': eventCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        <div class="list-items-list">
          {% for event in events if event.startDate >= now %}
            <div class="list-items__item">
              {% set eventItem = {
                'link': event.url,
                'title': event.title,
                'startTime': event.startDate,
                'endTime': event.endDate,
                'location': (event.locationCityAndCountry|length) ? event.locationCityAndCountry : ''
              } %}
              {% include '_components/_listItem' with { 'listItem' : eventItem }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}

    {% endif %}

    {% set releaseNotesCategory = craft.categories.slug('release-notes') %}
    {% set releaseNotes = craft.entries({
      section: 'news',
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: releaseNotesCategory
    }).limit(3).all %}
    
    {% if releaseNotes|length %}

      {% embed '_components/_articlesList' with {
        'articles': releaseNotes,
        'heading': 'Release notes'|t,
        'listCta': 'View all release notes'|t,
        'ctaLink': releaseNotesCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        {% import '_helpers/_macros.twig' as macros %}
        <div class="cards-list">
          {% for article in releaseNotes %}
            <div class="cards-list__item">
              {% set icon = '' %}
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'date': article.postDate,
                'iconType': macros.getCategoriesIcon('releasenotes', 'small'),
                'category': 'Release note'|t
              } %}
              {% include '_components/_categoryCard' with { 'categoryCard' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}
    {% endif %}

    {% if entry.linkToBanner|length %}
      {% set banners = entry.linkToBanner.all() %}
        {% for banner in banners %}
          {% if banner.type == 'banner' %}
            {% set link = "" %}
            {% if banner.linkExternal|length %}
              {% set link = banner.linkExternal %}
            {% elseif banner.linkInternal|length %}
              {% set link = banner.linkInternal.one.url() %}
            {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'image': banner.image,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'image': banner.image,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonial' with {
              'testimonial': testimonial
            } %}
          {% endif %}
        {% endfor %}
    {% endif %}

  </div>

{% endblock %}

{% block foot %}
{% endblock %}