<!DOCTYPE html>
  <html lang="{{ currentSite.language }}" class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <link rel="dns-prefetch" href="{{ siteUrl }}">
    <link rel="preconnect" href="{{ siteUrl }}" crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if entry is defined %}
      {% for siteForEntry in entry.getSupportedSites %}
        {# get the site #}
        {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
        {# check if it's not the current site #}
        {% if site.id != entry.siteId %}
          {# if it's not the current site, get the entry for this site #}
          {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
          <link rel="alternate" href="{{ entryForOtherSite.url }}" hreflang="{{ site.language|lower }}" />
        {% endif %}
      {% endfor %}
    {% endif %}

    {% include '_components/_schema' %}

    {% if metaTitle is not defined %}
      {% set metaTitle = 'Solibri' %}
    {% endif %}
    {% if metaDescription is not defined %}
      {% set metaDescription = '' %}
    {% endif %}
    {% if metaUrl is not defined %}
      {% set metaUrl = craft.app.request.url %}
    {% endif %}
    {% if metaType is not defined %}
      {% set metaType = 'website' %}
    {% endif %}

    <title>Solibri | {{ metaTitle }}</title>
    {% if metaDescription|length %}
      <meta name="description" content="{{ metaDescription }}">
    {% endif %}

    <link rel="canonical" href="{{ metaUrl }}">

    <meta property="og:type" content="{{ metaType }}">
    <meta property="og:site_name" content="{{ 'Solibri' }}">
    <meta property="og:url" content="{{ metaUrl }}">
    <meta property="og:title" content="{{ metaTitle }}">

    {% if metaDescription|length %}
      <meta property="og:description" content="{{ metaDescription }}">
    {% endif %}

    {% if metaImage is defined and metaImage|length %}
      <meta property="og:image" content="{{ metaImage.url }}">
      <meta property='og:image:width' content='{{ metaImage.width }}' />
      <meta property='og:image:height' content='{{ metaImage.height }}' />
      <meta property='og:image:type' content='{{ metaImage.mimeType }}' />
      <meta name="twitter:image:alt" content="{{ metaImage.title }}">
    {% endif %}

    <meta property="og:locale" content="{{ craft.app.language }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ metaUrl }}">
    <meta name="twitter:title" content="{{ metaTitle }}">
    <meta name="twitter:site" content="@Solibri">

    {% if metaDescription|length %}
      <meta name="twitter:description" content="{{ metaDescription }}">
    {% endif %}

    {% if metaImage is defined and metaImage|length %}
      <meta name="twitter:image" content="{{ metaImage.url }}">
    {% endif %}

    {# note:
      Meta Icons
      Put here all the meta icons for all devices like favicon, apple-touch-icon.....

      The easiest way is to generate icons from http://realfavicongenerator.net/
    #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ craft.app.config.general.staticAssets }}/img/webicons/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ craft.app.config.general.staticAssets }}/img/webicons/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ craft.app.config.general.staticAssets }}/img/webicons/favicon-16x16.png?v=2">
    <link rel="manifest" href="{{ craft.app.config.general.staticAssets }}/img/webicons/site.webmanifest?v=2">
    <link rel="mask-icon" href="{{ craft.app.config.general.staticAssets }}/img/webicons/safari-pinned-tab.svg?v=2" color="#fec830">
    <meta name="apple-mobile-web-app-title" content="Solibri">
    <meta name="application-name" content="Solibri">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#fec830">

    {# note: Getting the assets for the head (css, modernizr...) #}
    <link rel="stylesheet" href="{{ craft.app.config.general.staticAssets }}/css/app.css?v=35791ca3d8643302a0dcff145125aec744de9204">
    <script type="text/javascript">
      var siteUrl = "{{ siteUrl }}";
      var assetsUrl = "{{ craft.app.config.general.staticAssets }}";
      var currentLocale = "{{ currentSite.language }}";
      var currentLang = currentLocale.slice(0, 2);
      window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
      window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
    </script>

    {# Google tag manager code here #}
    {% if craft.app.config.general.devMode == false and craft.app.request.isLivePreview == false %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth={{ craft.app.config.general.tagManagerId }}&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WFFS7NF');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

    {# note: This block can be extended to add additional head assets or links or anything on templates #}
    {% block head %}
    {% endblock %}

    <link rel="home" href="{{ siteUrl }}" />

    {# Scout Font #}
    <link href="//cloud.webtype.com/css/0837afce-41d3-4a8d-8eae-1d6f1ee8967c.css" rel="stylesheet" type="text/css" />
    {# Roboto font #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
  </head>

  {% if isError is not defined %}
    {% set isError = false %}
  {% endif %}

  {% set bodyClasses = '' %}
  {% if additionalBodyClasses is defined %}
    {% set bodyClasses = additionalBodyClasses|raw %}
  {% endif %}

  <body class="{{ bodyClasses }}">
    {% if craft.app.config.general.devMode == false and craft.app.request.isLivePreview == false %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFFS7NF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div class="site">

      {# note: Include the header #}
      {% include "_components/_header" %}

      <main id="content" class="site-content" role="main">
        {% block content %}
          {# note: Here all the different views will be generated #}
        {% endblock %}
      </main>

      {# note: Getting the footer #}
      {% include "_components/_footer" %}
    </div>


    {# Load youtube iframe api script #}
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      tag.setAttribute('defer','');
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    </script>

    {# note: Include the scripts used in the footer #}
    <script src="{{ craft.app.config.general.staticAssets }}/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ craft.app.config.general.staticAssets }}/js/vendors/jquery-3.3.1.min.js"><\/script>');</script>

    {# note: This block can be used to add additional stuff in the footer in every template #}
    {% block foot %}
    {% endblock %}

    <script src="{{ craft.app.config.general.staticAssets }}/js/app.js?v=35791ca3d8643302a0dcff145125aec744de9204"></script>

    {# Check if cookies are turned on in globals #}
    <div class="cookie-banner">
      <div class="cookie-banner__inner">
        <div class="cookie-banner__content">
          {{ cookieBanner.wysiwyg }}
        </div>
        <div class="cookie-banner__cta">
          <a href="#" class="accept-cookie" aria-label="Accept cookie policy">{{ 'Close'|t }}</a>
        </div>
      </div>
    </div>

    {% include "_components/_formThankYou" %}

  </body>
</html>
