{#
  Note:
  This is the article template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'career-template' %}
{% import '_helpers/_macros.twig' as macros %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}

{% set metaDescription = "" %}
{% if entry.seoDescription|length %}
  {% set metaDescription = entry.seoDescription %}
{% elseif entry.contentMatrix|length %}
  {% set metaDescription = macros.excerpt(entry.contentMatrix.one.wysiwyg, 26) %}
{% endif %}

{% set metaImage = "" %}
{% if entry.seoImage|length %}
  {% set metaImage = entry.seoImage.one %}
{% elseif entry.image|length %}
  {% set metaImage = entry.image.one %}
{% elseif defaultSeoImage.image|length %}
  {% set metaImage = defaultSeoImage.image.one %}
{% endif %}

{% set metaUrl = entry.url %}

{% block head %}
{% endblock %}

{% block content %}

{% set shareUrl = entry.url %}
{% set shareTitle = entry.title %}

{% set learnLanding = craft.entries.section('learnLanding').one %}
{% set learnCategories = learnLanding.learnCategories %}

{% include '_components/_subNavigation' with {
  'title': 'Learns'|t,
  'categories': learnCategories,
  'landingPageUrl': learnLanding.url,
  'social': true,
  'active': entry.learnCategories[0]
} %}

  <div class="article-wrapper">
    <article class="article">

      <header>
        <h1 class="heading-2">{{ entry.title }}</h1>
        {% if entry.description|length %}
          <p class="article__description">{{ entry.description|raw|nl2br }}</p>
        {% endif %}
        <div class="article__meta">
          {% if entry.articleAuthor|length %}
            {% for author in entry.articleAuthor.limit(1).all() %}
              <div class="author">
                <div class="author__content">
                  {% if author.portrait|length %}
                    <div class="author__image" style="background-image: url('{{ author.portrait.one().url }}')"></div>
                  {% endif %}
                  <div class="author__name">{{ author.title }}</div>
                  <span class="author__divider">|<span>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="article__date">
            {{ entry.postDate|date('F j, Y') }}
            {% if entry.learnCategories|length %}
              <span class="divider">|</span>
            {% endif %}
          </div>
            {% if entry.learnCategories|length %}
              <div class="article__categories">
                {% for category in entry.learnCategories.all() %}
                  <a href="{{ category.url }}" title="{{ category }}" class="article__category">{{ category|raw }}</a>
                  {% if not loop.last %}
                    <span>,</span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
      </header>

      {% if entry.video|length %}
        {% import '_helpers/_macros.twig' as macros %}

        <section class="video-section">
          <div class="video-section__content">
            {{ macros.embedVideo(entry.video|raw) }}
          </div>
        </section>
      {% elseif entry.image|length %}
        <section class="article__image">
          <img src="{{ entry.image.one.url }}">
        </section>
      {% endif %}

      {% include '_components/_contentMatrix' with {'matrix': entry.contentMatrix} %}

      {% include '_components/_share-modal' with {
        'shareUrl': shareUrl,
        'shareTitle': shareTitle
      } %}

    </article>
    <aside class="article-side">
      {% if entry.linkToSideBanner|length %}
        <ul>
        {% set banners = entry.linkToSideBanner.all() %}
        {% for banner in banners %}
          <li>
          {% if banner.type == 'banner' %}
            {% set link = "" %}
            {% if banner.linkExternal|length %}
              {% set link = banner.linkExternal %}
            {% elseif banner.linkInternal|length %}
              {% set link = banner.linkInternal.one.url() %}
            {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'authorImage': banner.authorImage,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonialCard' with {
              'testimonial': testimonial
            } %}
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% elseif defaultSideBanner.linkToBanner|length %}
        <ul>
        {% for banner in defaultSideBanner.linkToBanner.all() %}
          <li>
          {% if banner.type == 'banner' %}
            {% set link = "" %}
              {% if banner.linkExternal|length %}
                {% set link = banner.linkExternal %}
              {% elseif banner.linkInternal|length %}
                {% set link = banner.linkInternal.one.url() %}
              {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'authorImage': banner.authorImage,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonialCard' with {
              'testimonial': testimonial
            } %}
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </aside>
  </div>

  <footer>

    {% set relatedEntries = craft.entries({
      section: 'learn',
      with: [
        'image',
        'learnCategories'
      ],
      relatedTo: entry.learnCategories,
      id: 'not ' ~ entry.id,
      limit: 3
    }).all %}

    {% if relatedEntries|length %}

      {% embed '_components/_cardsSection' with {
        'title': 'This might also be of interest'|t,
        'textColor': 'black',
        'background': 'grey',
        'cta': '',
      } %}
        {% block content %}
          <div class="related-articles">
            <ul class="cards-section__content {% if relatedEntries|length >= 2 %}cardsSection-carousel {% endif %}">
              {% for card in relatedEntries %}
                <li class="{{ (relatedEntries|length >= 2) ? 'carousel-cell' : '' }}">
                  {% set card = {
                    'imageUrl': (card.image.one ?? null) ? card.image.one.url({width: 600}) : '',
                    'link': card.url,
                    'time': card.postDate,
                    'labels': (card.learnCategories[0] ?? null) ? card.learnCategories[0],
                    'title': card.title,
                    'desc': '',
                    'cta': '',
                    'duration': card.videoDuration
                  } %}
                  {% include '_components/_card' with { 'card': card } %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endblock %}
      {% endembed %}

    {% endif %}

    {% if entry.linkToBanner|length %}
      {% set banners = entry.linkToBanner.all() %}
        {% for banner in banners %}
          {% if banner.type == 'banner' %}
            {% set link = "" %}
            {% if banner.linkExternal|length %}
              {% set link = banner.linkExternal %}
            {% elseif banner.linkInternal|length %}
              {% set link = banner.linkInternal.one.url() %}
            {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'image': banner.image,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonial' with {
              'testimonial': testimonial
            } %}
          {% endif %}
        {% endfor %}
    {% endif %}
  </footer>

{% endblock %}

{% block foot %}
{% endblock %}