{#
  Note:
  This is the article category template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'learnCategory-template category-page' %}
{% import '_helpers/_macros.twig' as macros %}

{% set metaTitle = category.seoTitle %}

{% set metaDescription = "" %}
{% if category.seoDescription|length %}
  {% set metaDescription = category.seoDescription %}
{% elseif category.contentMatrix|length %}
  {% set metaDescription = macros.excerpt(category.contentMatrix.one.wysiwyg, 26) %}
{% endif %}

{% set metaImage = "" %}
{% if category.seoImage|length %}
  {% set metaImage = category.seoImage.one %}
{% elseif category.image|length %}
  {% set metaImage = category.image.one %}
{% elseif defaultSeoImage.image|length %}
  {% set metaImage = defaultSeoImage.image.one %}
{% endif %}

{% set metaUrl = category.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  {% set section = craft.entries.section('learn') %}
  {% set landingPage = craft.entries.section('learnLanding').one %}
  {% set landingUrl = landingPage.url %}

  {% set entryIds = section.ids() %}
  {% set subNavCategories = landingPage.learnCategories %}

  {% include '_components/_subNavigation' with {
    'title': 'Learn'|t,
    'categories': subNavCategories,
    'landingPageUrl': landingUrl,
    'active': category
  } %}

  {% if category is defined %}
    {% set articles = craft.entries({
      section: 'learn',
      with: [
        'image',
        'learnCategories'
      ],
      relatedTo: category
    }) %}
  {% else %}
    {% set articles = craft.entries({
      section: 'learn',
      with: [
        'image',
        'learnCategories'
      ]
    }) %}
  {% endif %}

  {% paginate articles.limit(12) as articlesOnPage %}

  {% embed '_components/_articlesList' with {
    'articles': articlesOnPage,
    'heading': category,
    'listCta': '',
    'ctaLink': '',
    'landingPageUrl': landingUrl
  } %}

  {% block content %}
    <div class="cards-list">
      {% for article in articlesOnPage %}
        <div class="cards-list__item">
          {% set articleCard = {
            'link': article.url,
            'title': article.title,
            'desc': '',
            'cta': '',
            'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
            'time': article.postDate,
            'labels': (article.learnCategories[0] ?? null) ? article.learnCategories[0],
            'duration': article.videoDuration
          } %}
          {% include '_components/_card' with { 'card' : articleCard }%}
        </div>
      {% endfor %}
    </div>
  {% endblock %}

  {% endembed %}

  {% include '_components/_pagination' with { 'pagination' : paginate } %}


{% endblock %}

{% block foot %}
{% endblock %}