{#
  Note:
  This is the learnlanding template.
#}
{% extends "_layouts/_master" %}
{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'learnLanding-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  {% set learnSection = craft.entries.section('learn') %}
  {% set learnLanding = craft.entries.section('learnLanding').one.url %}
  {% set subNavCategories = entry.learnCategories %}

  {% include '_components/_subNavigation' with {
    'title': 'Learn'|t,
    'categories': subNavCategories,
    'landingPageUrl': learnLanding,
    'active': ''
  } %}

  <div class="landing-page">

    <div class="learnSearchApp" id="learnSearchApp">

      <div class="learnSearchApp__header b-lazy" {% if entry.heroImage|length %}data-src="{{ entry.heroImage.one.url }}"{% endif %}>
        <div class="learnSearchApp__header-content">
          <h1 class="learnSearchApp__title heading-2">{{ entry.heroTitle|raw }}</h1>
          <form class="learnSearchApp__form" ref="form" action="{{ url('search') }}" v-bind:class="{ focused: inputFocused }" v-on:submit.prevent>

            <button class="learnSearchApp__button">
              {% include '_icons/_search.svg' %}
            </button>

            <input v-model="learnSearch" @keyup.down="autocompleteOnArrowDown" @keyup.up="autocompleteOnArrowUp" @keyup.enter="autocompleteOnEnter" @focus="inputFocused = true" @blur="inputFocused = false" class="learnSearchApp__input" type="text" name="q" type="text" aria-label="{{ 'Search topics, tips & tricks, courses'|t }}" placeholder="{{ 'Search topics, tips & tricks, courses'|t }}" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />

            <ul v-show="autocomplete.isOpen" class="learnSearchApp__autocomplete" v-cloak>
              <li v-for="(result, i) in autocomplete.results.slice(0, 5)" :key="i" class="learnSearchApp__autocomplete-item" :class="{ 'is-active': i === autocomplete.arrowCounter }" v-cloak>
                <a :href="result.url"><% result.title %></a>
              </li>
            </ul>
          </form>

          {% if entry.popularSearches|length %}
            <div class="learnSearchApp__popular">
              <h6 class="learnSearchApp__popular__title">{{'Popular'|t}}</h6>
              <ul class="learnSearchApp__popular__list">
                {% for item in entry.popularSearches|slice(0,5) %}
                  {% set searchTerm = url("search?q=#{item.popularSearchTerm}") %}
                  <li class="learnSearchApp__popular__list-item">
                    <a href="{{ searchTerm }}" @click.prevent="autocompleteSetResult('{{ item.popularSearchTerm }}')">{{ item.popularSearchTerm }}</a>
                  </li>
                {% endfor %}
              </ul>

            </div>

          {% endif %}

        </div>
      </div>

    </div>

    {# Featured learn articles section #}

    {% set featuredEntriesId = [] %}
    <section class="featured-articles">
      <div class="featured-articles__content">
        {% if entry.linkTofeaturedLearnArticle|length %}
          <div class="featured-articles__main">
            {% for featuredArticle in entry.linkTofeaturedLearnArticle.limit(1).all() %}
              {% set featuredEntriesId = featuredEntriesId|merge([featuredArticle.id]) %}
              {% set featuredCard = {
                'link': featuredArticle.url,
                'image': (featuredArticle.image|length) ? featuredArticle.image : '',
                'category': (featuredArticle.learnCategories|length) ? featuredArticle.learnCategories.one : '',
                'title': featuredArticle.title,
                'articleAuthor': (featuredArticle.articleAuthor|length) ? featuredArticle.articleAuthor.one() : ''
              } %}

              {% include '_components/_featuredCard' with { 'featuredCard': featuredCard } %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="featured-articles__news">
          <div class="featured-articles__list__header">
            <h4 class="featured-articles__list__title heading-4">{{ "Popular tutorials"|t }}</h4>

            {% set tutorialsSlug = craft.categories.slug('tutorials').slug %}
            <a href="{{ learnLanding }}/{{ tutorialsSlug }}" class="featured-articles__list__cta">{{ "View all tutorials"|t }}</a>
          </div>
          {% set learnArticles = entry.linkTofeaturedLearnArticle.offset(1).limit(4).all() %}
          {% if learnArticles|length < 4 %}
            {% set amount = 4 - learnArticles|length %}

            {% set articles = craft.entries({
              section: 'learn',
              id: 'and, not ' ~ featuredEntriesId|join(', not '),
            }).limit(amount).all %}
            {% set learnArticles = learnArticles|merge(articles) %}
          {% endif %}
          
          {% if learnArticles|length %}
            <ul class="featured-articles__list__news">
              {% for article in learnArticles %}
                {% set featuredEntriesId = featuredEntriesId|merge([article.id]) %}
                {% set article = {
                  'icon': true,
                  'iconType': macros.getCategoriesIcon(article.id),
                  'link': article.url,
                  'title': article.title,
                  'subTitle': article.subTitle,
                  'duration': article.videoDuration
                } %}
                <li>{% include '_components/_featuredLearnItem' with { 'article': article } %}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </section>

    {# Featured tutorials section #}

    {% set tutorialsCategory = craft.categories.slug('tutorials') %}

    {% set tutorials = craft.entries({
      section: 'learn',
      with: [
        'image',
        'learnCategories'
      ],
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: tutorialsCategory
    }).limit(3).all %}

    {% if tutorials|length %}
      {% embed '_components/_articlesList' with {
        'articles': tutorials,
        'heading': 'Featured tutorials'|t,
        'listCta': 'View all tutorials'|t,
        'ctaLink': tutorialsCategory.slug,
        'landingPageUrl': learnLanding
      } %}

      {% block content %}
        <div class="cards-list">
          {% for article in tutorials %}
            <div class="cards-list__item">
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'desc': '',
                'cta': '',
                'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
                'time': article.postDate,
                'labels': (article.learnCategories[0] ?? null) ? article.learnCategories[0],
                'duration': article.videoDuration
              } %}
              {% include '_components/_card' with { 'card' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}

    {% endif %}

    {# Tips & tricks section #}

    {% set tipsAndTricksCategory = craft.categories.slug('tips-and-tricks') %}

    {% set tipsAndTricks = craft.entries({
      section: 'learn',
      with: [
        'image',
        'learnCategories'
      ],
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: tipsAndTricksCategory
    }).limit(3).all %}

    {% if tipsAndTricks|length %}
      {% embed '_components/_articlesList' with {
        'articles': tipsAndTricks,
        'heading': 'Tips and tricks'|t,
        'listCta': 'View all tips and tricks'|t,
        'ctaLink': tipsAndTricksCategory.slug,
        'landingPageUrl': learnLanding
      } %}

      {% block content %}
        <div class="cards-list">
          {% for article in tipsAndTricks %}
            <div class="cards-list__item">
              {% set articleCard = {
                'link': article.url,
                'title': article.title,
                'desc': '',
                'cta': '',
                'imageUrl': (article.image[0] ?? null) ? article.image[0].url({width: 600}),
                'time': article.postDate,
                'labels': (article.learnCategories[0] ?? null) ? article.learnCategories[0],
                'duration': article.videoDuration
              } %}
              {% include '_components/_card' with { 'card' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}

    {% endif %}

    {# Datasheets section #}

    {% set datasheetsCategory = craft.categories.slug('datasheets') %}

    {% set datasheets = craft.entries({
      section: 'learn',
      id: 'and, not ' ~ featuredEntriesId|join(', not '),
      relatedTo: datasheetsCategory
    }).limit(3).all %}

    {% if datasheets|length %}

      {% embed '_components/_articlesList' with {
        'articles': datasheets,
        'heading': 'Featured datasheets'|t,
        'listCta': 'View all datasheets'|t,
        'ctaLink': datasheetsCategory.slug,
        'landingPageUrl': learnLanding
      } %}

      {% block content %}
        {% import '_helpers/_macros.twig' as macros %}
        <div class="cards-list">
          {% for article in datasheets %}
            <div class="cards-list__item">
              {% set icon = '' %}
              {% set articleCard = {
                'iconType': macros.getCategoriesIcon('datasheets', 'small'),
                'link': article.url,
                'title': article.title,
                'date': '',
                'category': 'Datasheets'|t
              } %}
              {% include '_components/_categoryCard' with { 'categoryCard' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}
    {% endif %}

    {% if entry.linkToBanner|length %}
      {% set banners = entry.linkToBanner.all() %}
        {% for banner in banners %}
          {% if banner.type == 'banner' %}
            {% set link = "" %}
            {% if banner.linkExternal|length %}
              {% set link = banner.linkExternal %}
            {% elseif banner.linkInternal|length %}
              {% set link = banner.linkInternal.one.url() %}
            {% endif %}
            {% set banner = {
              'text': banner.bannerText,
              'link': link,
              'linkText': banner.linkText
            } %}
            {% include '_components/_banner' with {
              'banner': banner
            } %}
          {% elseif banner.type == 'testimonial' %}
            {% set testimonial = {
              'text': banner.bannerText,
              'image': banner.image,
              'authorName': banner.authorName,
              'authorTitle': banner.authorTitle,
              'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
            } %}
            {% include '_components/_testimonial' with {
              'testimonial': testimonial
            } %}
          {% endif %}
        {% endfor %}
    {% endif %}

  </div>

{% endblock %}

{% block foot %}
{% endblock %}