{% if articles is defined %}
  {% if articles|length %}
    <section class="cards-list-section {{ (description is defined and description|length) ? "has-description" : "" }}">
      <div class="cards-list-section__content">
        {% if heading|length %}
          <header class="cards-list-section__header">
            <h4 class="heading-4 cards-list-section__title">{{ heading }}</h4>
            {% if description is defined and description|length %}
              <p class="cards-list-section__description">{{ description|nl2br|raw }}</p>
            {% endif %}
            {% if listCta %}
              <div class="cards-list-section__link">
                <a href="{{ landingPageUrl }}{% if ctaLink|length %}/{{ ctaLink }}{% endif %}" class="cards-list-section__cta">{{ listCta }}</a>
              </div>
            {% endif %}
          </header>
        {% endif %}

        {% block content %}
        {% endblock %}
        
      </div>
    </section>
  {% endif %}
{% endif %}