{% if banner %}
  <div class="banner">
    <div id="banner__tower">{% include '_icons/_tower-hero-1.svg' %}</div>
    <div class="banner__content">
      <div class="banner__text heading-3">{{ banner.text|raw|nl2br }}</div>
      <a class="button has-outline is-white" href="{{ (banner.link|length) ? banner.link : '#' }}" data-category="CTA" data-label="Banner - {{ (banner.linkText|length) ? banner.linkText : 'Read more'|t }}">{{ (banner.linkText|length) ? banner.linkText|raw : 'Read more'|t }}</a>
    </div>
  </div>
{% endif %}