<section class="cards-section section-animate {{ (background is defined) ? background : '' }}">
  {% if title|length %}
    <header class="cards-section__header">
      <h3 class="{{ (headingSize is defined) ? headingSize : 'heading-3' }}">{{ title }}</h3>
    </header>
  {% endif %}

  {% block content %}
  {% endblock %}

  {% if cta|length %}
    <footer class="cards-section__footer">
      <a href="{{ (cta.link|length) ? cta.link : '#' }}" id="gtm-click_cards-section" class="cards-section__cta gtm-click_cards-section" data-category="CTA" data-label="{{ (cta.text|length) ? cta.text : 'Read more' }} - Cards section CTA">
        {{ (cta.text|length) ? cta.text : 'Read more'|t }}
        {% include '_icons/_arrow-long.svg' %}
      </a>
    </footer>
  {% endif %}

</section>