{% import '_helpers/_macros.twig' as macros %}

<a {{ (card.link) ? "href='#{card.link}'"|raw }} class="card">
  <div class="card__image">
    {% set placeholderUrl = craft.app.config.general.staticAssets ~ '/img/' ~ 'placeholders/' %}
    {% set placeholder = random([placeholderUrl ~ 'placeholder1.jpg', placeholderUrl ~ 'placeholder2.jpg', placeholderUrl ~ 'placeholder3.jpg', placeholderUrl ~ 'placeholder4.jpg', placeholderUrl ~ 'placeholder5.jpg', placeholderUrl ~ 'placeholder6.jpg', placeholderUrl ~ 'placeholder7.jpg', placeholderUrl ~ 'placeholder8.jpg' ]) %}
    <div class="card__image__bg b-lazy" data-src="{{ (card.imageUrl|length) ? card.imageUrl : placeholder }}"></div>
  </div>
  <div class="card__content">
    {% if card.title|length %}
      <h2 class="card__title heading-4">{{ card.title }}</h2>
    {% endif %}
    {% if card.desc %}
      <p class="card__description">{{ macros.excerpt(card.desc, 40) }}</p>
    {% endif %}
    <div class="card__meta">
      {% if card.labels|length %}
        <span class="card__label">{{ card.labels }}</span>
        {% if card.time and card.duration == null %}
          <span class="divider">|</span>
        {% endif %}
      {% endif %}
      {% if card.duration|length %}
        <span class="card__duration">
          <span class="card__duration__icon">{% include '_icons/_icon-play-round.svg' %}</span>
          {{ card.duration }}
        </span>
      {% elseif card.time %}
        <time datetime="{{card.time|date('F j, Y')}}">{{card.time|date('F j, Y') }}</time> 
      {% endif %}
    </div>
    {% if card.cta %}
      <span class="card__cta">{{ card.cta }}</span>
    {% endif %}
  </div>
</a>