{% if categoryCard is defined and categoryCard|length %}
  <a href="{{ categoryCard.link }}" class="category-card">
    <div class="category-card__content">
      {% if categoryCard.iconType|length %}
        <div class="category-card__icon">
          {% include "#{categoryCard.iconType}" %}
        </div>
      {% endif %}
      {% if categoryCard.category|length %}
        <div class="category-card__category">{{ categoryCard.category }}</div>
      {% endif %}
      <h5 class="category-card__title heading-5">{{ categoryCard.title }}</h5>
      {% if categoryCard.date %}
        <div class="category-card__date">{{ categoryCard.date|date('F j, Y') }}</div>
      {% endif %}
    </div>
  </a>
{% endif %}