{% if matrix|length %}
  {% import '_helpers/_macros.twig' as macros %}
  {% for content in matrix.all() %}
    {% set loopIndex = loop.index %}

    {% switch content.type %}

      {% case "contentBlock" %}
        <section class="content-section">
          <div class="content-section__content wysiwyg">
            {{ include(template_from_string(content.wysiwyg|replace({'<h1>': '<h3 class="heading-1">', '</h1>': "</h3>", '<h2>': '<h3 class="heading-2">', '</h2>': "</h3>", '<h3>': '<h3 class="heading-3">', '<h4>': '<h4 class="heading-4">', '<h5>': '<h5 class="heading-5">', '<h6>': '<h6 class="heading-6">', '<img src': '<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src'}))|raw) }}
          </div>
        </section>

      {% case "imageBlock" %}

        {% set image = content.image.one %}
        {% if image|length %}
          <section class="image-section">
            <img src="{{ image.getUrl({width: 100}) }}" data-src="{{ image.getUrl({width: 1600}) }}" class="b-lazy" alt="{{ image.title }}">
            {% if content.showImageText %}
              <figcaption>{{ image.title }}</figcaption>
            {% endif %}
          </section>
        {% endif %}

      {% case "galleryBlock" %}

        {% set images = content.images %}
        {% if images|length %}
          <section class="gallery-section">
            {% if images|length %}
              <div class="gallery">
                <ul>
                {% for image in images.all() %}
                  <li>
                    {% set thumbImg = image.getUrl({ width: 400}) %}
                    {% set largeImg = image.getUrl({width: 2000}) %}
                    <div
                      class="gallery__image b-lazy"
                      data-src="{{ thumbImg }}"
                      data-thumb="{{ thumbImg }}"
                      data-img="{{ largeImg }}"
                      data-size="{{ "#{image.getWidth()}x#{image.getHeight()}" }}"
                      data-desc="{{ image.title }}"
                      alt="{{ image.title }}"
                    >
                    <div class="gallery__overlay"><span>{{ "View image"|t }}</span></div>
                    </div>
                  </li>
                {% endfor %}
                </ul>
                <a href="#" class="show-gallery button">{{ "View all images"|t }}</a>
              </div>
            {% endif %}
            {% if content.caption|length %}
              <div class="gallery__caption wysiwyg"><figcaption>{{ content.caption }}</figcaption></div>
            {% endif %}
          </section>
        {% endif %}
      
      {% case "formBlock" %}

        {% include '_components/_formSection' with {
          forms: content.form,
          showThankYou: craft.app.request.getParam('ok') == 1,
          formThankYouContent: content.formThankYouContent
        } %}

      {% case "peopleBlock" %}

        {% set people = content.people %}

        {% if people|length %}
          <section class="people-section">
            {% if content.contentTitle|length %}
              <header class="people-section__header">
                <h3 class="people-section__title heading-2">{{ content.contentTitle }}</h3>
              </header>
            {% endif %}
            <div class="people-section__content">
              {% for person in people.all() %}
                <div class="people-section__item">

                  <div class="person">
                    <div class="person__image b-lazy" data-src="{{ person.portrait.one.url }}">
                    </div>
                    <div class="person__content">
                      <h4 class="person__name">{{ person.title }}</h4>
                      <p class="person__title">{{ person.jobTitle }}</p>
                      <a class="person__email" href="mailto:{{ person.email }}">{{ person.email }}</a>
                      <a class="person__phone" href="tel:{{ macros.formatPhoneNumber(person.phoneNumber) }}">{{ person.phoneNumber }}</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </section>
        {% endif %}


    {% endswitch %}
  {% endfor %}
{% endif %}