<section class="ctaSection">
  <div class="ctaSection__content">

    {% for item in items %}
      <div class="ctaSection__item">
        <div class="ctaSection__item-content">
          <div class="ctaSection__icon">{% include "_icons/_#{item.icon}.svg" %}</div>
          <h3 class="ctaSection__title">{{ item.title }}</h3>
          <p class="ctaSection__description">{{ item.description }}</p>
          {% if item.ctaLink|length and item.cta|length %}
          <a href="{{ item.ctaLink }}" class="ctaSection__cta">
            {{ item.cta }}{% include '_icons/_arrow.svg' %}
          </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}

  </div>
</section>