{% if article is defined and article|length %}
  <a href="{{ article.link }}" class="featuredLearn-item">
    <div class="featuredLearn-item__content">
      {% if article.icon %}
        {% set iconType = (article.iconType is defined and article.iconType|length) ? article.iconType : "_icons/_icon-tutorial_big.svg" %}
        <div class="featuredLearn-item__icon">{% include "#{iconType}" %}</div>
      {% endif %}
      <div class="featuredLearn-item__title">
        {{ article.title }}
        <div class="featuredLearn-item__subTitle">{{ article.subTitle }}</div>
      </div>
        <div class="featuredLearn-item__duration">
          {% if article.duration|length %}
            {{ article.duration }}
          {% else %}
            {% include '_icons/_arrow-right.svg' %}
          {% endif %}
        </div>
    </div>
  </a>
{% endif %}