{% if featuredCard is defined and featuredCard|length %}
  <a href="{{ featuredCard.link }}" class="featured-card">
    {% set placeholderUrl = craft.app.config.general.staticAssets ~ '/img/' ~ 'placeholders/' %}
    {% set placeholder = random([placeholderUrl ~ 'placeholder1.jpg', placeholderUrl ~ 'placeholder2.jpg', placeholderUrl ~ 'placeholder3.jpg', placeholderUrl ~ 'placeholder4.jpg', placeholderUrl ~ 'placeholder5.jpg', placeholderUrl ~ 'placeholder6.jpg', placeholderUrl ~ 'placeholder7.jpg', placeholderUrl ~ 'placeholder8.jpg' ]) %}
    {% set image = '' %}
    {% if featuredCard.image|length %}
      {% set medium = {
          mode: 'crop',
          width: 800,
          position: 'center-center'
      } %}
      {% set image = featuredCard.image.one.getUrl(medium) %}
    {% endif %}
    <div class="featured-card__image" style="background-image: url('{{ (featuredCard.image|length) ? image : placeholder }}')"></div>
    <div class="featured-card__content"> 
      {% if featuredCard.category|length %}
        <div class="featured-card__category">{{ featuredCard.category }}</div>
      {% endif %}
      <h4 class="featured-card__title heading-4">{{ featuredCard.title }}</h4>
      {% if featuredCard.articleAuthor|length %}
        <div class="featured-card__author">
          {% if featuredCard.articleAuthor.portrait|length %}        
            <div class="featured-card__author__portrait" style="background-image: url('{{ featuredCard.articleAuthor.portrait.one().url }}')"></div>
          {% endif %}
          <div class="featured-card__author__title">{{ featuredCard.articleAuthor.title }}</div>
        </div>
      {% endif %}
    </div>
  </a>
{% endif %}