{% if article is defined and article|length %}
  <a href="{{ article.link }}" class="featuredArticle-item">
    <div class="featuredArticle-item__content">
      <div class="featuredArticle-item__meta">{{ article.postDate|date('F j, Y') }}</div>
      <div class="featuredArticle-item__title">{{ article.title }}</div>
    </div>
  </a>
{% endif %}