{% set googleAddress = '' %}
{% set contactPage = craft.entries
  .section('contact')
  .with(['companiesMatrix.company:companyTitle,company'])
  .one()
%}
{% if contactPage|length %}
  {# Set a variable for the first company in the first block of the companies matrix on the contact page #}
  {% set selectedCompany = contactPage.companiesMatrix[0].company[0] %}
  {# Set a variable for the title of the company which is fetched from the matrix block text field #}
  {% set companyTitle = contactPage.companiesMatrix[0].companyTitle %}

  {# Fetching the information of the selectedCompany from it's entry #}
  {% set companyName = selectedCompany.title %}
  {% set email = selectedCompany.email %}
  {% set phone = selectedCompany.phoneNumber %}
  {% set streetAddress = selectedCompany.streetAddress %}
  {% set googleAddress = (selectedCompany.streetAddressGoogleMaps|length) ? selectedCompany.streetAddressGoogleMaps : selectedCompany.streetAddress %}
{% endif %}

{% set footerNavigation = craft.entries.section('footerNavigation') %}

{% import '_helpers/_macros.twig' as macros %}

<footer class="site-footer">

  <div class="footer-navigation">
    <ul class="footer-navigation-main">
      {# Loop through the first level of entries in the navigation structure #}
      {% for item in footerNavigation.level(1).all() %}

        {% set itemUrl = macros.linkTypeSwitch(item) %}

        <li {% if item.hasDescendants() %}class="has-children {{item}}"{% endif %}>
        {% if itemUrl == '#' %}
          <a>{{ item }}</a>
        {% else %}
          <a href="{{ itemUrl }}" {% if item.type == 'externalLink' %}target="_blank"{% endif %}>{{ item }}</a>
        {% endif %}
        {# Check if navigation item has children and loop through them #}
        {% if item.hasDescendants() %}
          <span class="toggle-child-nav">+</span>
          <ul class="footer-navigation__child-items footer-children">
            {% for child in item.getDescendants().level(2).all() %}

              {% set childUrl = macros.linkTypeSwitch(child) %}

              <li {% if child.hasDescendants() %}class="has-children"{% endif %}><a href="{{ childUrl }}" {% if child.type == 'externalLink' %}target="_blank"{% endif %}>{{ child }}</a>
                {% if child.hasDescendants() %}
                  <span class="toggle-child-nav plus-sign">+</span>
                  <ul class="footer-navigation__grandchild-items footer-children">
                    {% for grandChild in child.getDescendants().level(3).all() %}

                      {% set grandChildUrl = macros.linkTypeSwitch(grandChild) %}

                      <li><a href="{{ grandChildUrl }}" {% if grandChild.type == 'externalLink' %}target="_blank"{% endif %}>{{ grandChild }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        </li>
      {% endfor %}
    </ul>

    {# Language select #}
    <div class="footer-language">
      <select onchange="window.location = this.value">
        <option selected class="language-selected">{{"Language"|t}}</option>
        {% for site in craft.app.sites.getSitesByGroupId(1) %}
          <option value="{{ site.baseUrl }}">{{ site }}</option>
        {% endfor %}
      </select>
      <span class="toggle-child-nav">{% include '_icons/_arrow-small.svg' %}</span>
    </div>
  </div>

  {# Contact div which gets it's content from the variables that are fetched from the contact page companies matrix #}
  {% if contactPage|length %}
    <div class="footer-contact">
      <div class="footer-contact__logo"><a href="{{ siteUrl }}" title="{{ "Link to homepage"|t }}">{% include '_icons/_footer-logo.svg' %}</a></div>
      <span class="footer-contact__name">{{ (companyName|length) ?  companyName : 'Solibri' }}</span>
      <span class="footer-contact__title">{{ companyTitle }}</span>
      <a href="{{ macros.googleMapsUrl(googleAddress) }}" class="footer-contact__address" target="_blank">
        {{ streetAddress|raw|nl2br }}
      </a>
      <a href="tel:{{ macros.formatPhoneNumber(phone) }}">{{ phone }}</a>
      <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
  {% endif %}
</footer>

<div class="footer-copy">
  © {{ now|date('Y') }} {{"SOLIBRI INC"|t}}., <a href="https://nemetschek.com/" target="_blank">{{"A NEMETSCHEK COMPANY"|t}}</a>
</div>