{% if forms %}
  <section class="form-section">
    <div class="form-section__content">
      {% for form in forms.all() %}
        {{ craft.sproutForms.displayForm(form.handle) }}
      {% endfor %}
    </div>
  </section>
{% endif %}