{% if craft.app.request.getParam('ok') == '1' %}
  {% set thankyouMessage = (craft.app.request.getParam('message')|length) ? craft.app.request.getParam('message') : "Thank you for getting in touch.<br>We will contact you soon."|t %}
  {% block foot %}
    <script>
      $(window).on('load', function() {
        Alert.success("{{ thankyouMessage|raw }}",'{{"Form submitted"|t}}',{displayDuration: 3000, pos: 'top'})
      });
    </script>
  {% endblock %}
{% endif %}