<header class="site-header">
  <input type="checkbox" id="site-navigation-status" class="site-navigation-status" />
  <div class="site-header__content">

    <a href="{{ siteUrl }}" class="site-logo">{% include '_icons/_solibri-logo-nemetchek.svg' %}</a>

    <label for="site-navigation-status" aria-hidden="true" class="site-navigation-toggle lockTrigger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="site-navigation">

      <div class="primary-navigation">
        <ul>
          {% set currentPageId = (entry is defined) ? entry.id : '' %}
          {% for item in craft.entries.section('primaryNavigation').all() %}

            {% set isActive = false %}
            {% if item.type == 'internalLink' %}
              {% if item.linkInternal.one.id == currentPageId %}
                {% set isActive = true %}
              {% elseif (item.linkInternal.one.uri == craft.app.request.segments|first) %}
                {% set isActive = true %}
              {% endif %}
            {% endif %}

            {% switch item.type %}
              {% case "internalLink" %}
                {% set itemUrl = (item.linkInternal|length) ? item.linkInternal.one.url : '#' %}

              {% case "externalLink" %}
                {% set itemUrl = (item.linkExternal|length) ? item.linkExternal : '#' %}

              {% case "categoryLink" %}
                {% set itemUrl = (item.linkCategory|length) ? item.linkCategory.one.url : '#' %}

              {% case "assetLink" %}
                {% set itemUrl = (item.linkAsset|length) ? item.linkAsset.one.url : '#' %}

              {% default %}
                {% set itemUrl = "#" %}

            {% endswitch %}


            <li class="{{ item.slug }}">
              <a class="{{ (isActive) ? 'is-active' : '' }}" href="{{ itemUrl }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <span class="underline"></span>
      </div>

      <div class="secondary-navigation">

        <div class="site-search-toggle">
          <a href="{{ url('search') }}" class="site-search-toggle__button" data-category="CTA" data-label="Header - Toggle Search">
            {% include '_icons/_search-small.svg' %}
            <span>
              {{"Search solibri.com"|t}}
            </span>
          </a>
        </div>

        <div class="language-switcher">
          <select onchange="window.location = this.value">
            {% for site in craft.app.sites.getSitesByGroupId(1) %}

              {% if entry is defined %}
                {% set selected = (site.id == entry.siteId) ? true : false %}
              {% else %}
                {% set selected = (craft.app.request.segments|first == site.handle) ? true : false %}
              {% endif %}

              <option value="{{ site.baseUrl }}" {{ selected ? 'selected' : '' }} >{{ site }}</option>
            {% endfor %}
          </select>
        </div>


        <div class="site-cta">
          {% set browserLang = craft.app.config.general.browserLang %}
          {% set siteLang = currentSite.language|slice(0,2) %}
          {% set trialLang = "en" %}

          {% if siteLang == "de" or browserLang == "de" %}
            {% set trialLang = "de" %}
          {% elseif siteLang == "de" and browserLang == "en" %}
            {% set trialLang = "de" %}
          {% elseif browserLang == "ja" %}
          {% endif %}

          {% set trialEntry = craft.entries.section('trialDownload').site(trialLang).one %}

          <a href="{{trialEntry.url}}" class="button has-outline is-yellow" id="trial-download_header" data-category="CTA" data-label="Header - Trial Download">{{ "Get the trial"|t }}</a>
        </div>

      </div>

      <aside id="siteSearch" class="site-search-container">
        <div class="site-search-container__content">
          <form action="{{ url('search') }}" class="site-search" ref="form">
            <div class="site-search__content">
              <button class="site-search__submit" type="submit" aria-label="Submit">
                {% include '_icons/_search-small.svg' %}
              </button>
              <input data-input-focus v-model="siteSearch" @keyup.down="autocompleteOnArrowDown" @keyup.up="autocompleteOnArrowUp" @keyup.enter="autocompleteOnEnter" class="site-search__input" type="text" name="q" type="text" aria-label="{{ 'Search solibri.com'|t }}" placeholder="{{ 'Search solibri.com'|t }}" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />
              <button class="site-search__close" type="reset" aria-label="Close search" @click="closeSearch()">
                {% include '_icons/_icon-close-small.svg' %}
              </button>
            </div>
          </form>

          <div class="site-search-result">

            <div class="site-search-result__content" v-show="autocomplete.results.length > 0" v-cloak>
              <h3 class="site-search-result__title">{{ 'Quick links'|t }}</h3>

              <ul class="site-search-result__list" v-show="autocomplete.isOpen" v-cloak>
                <li v-for="(result, i) in autocomplete.results" :key="i" class="site-search-result__list-item" v-cloak>
                  <a :href="result.url" class="site-search-result__link" :class="{ 'is-active': i === autocomplete.arrowCounter }"><% result.title %></a>
                </li>
              </ul>
            </div>


            {% if search.suggestedSearches|length %}
              <h3 class="site-search-result__title">{{ 'Suggested searches'|t }}</h3>
              <ul class="site-search-result__list">
                {% for item in search.suggestedSearches.limit(5).all() %}
                  <li class="site-search-result__list-item">
                    {% set linkUrl = (item.searchLink|length) ? item.searchLink.one.url : url("search?q=#{item.searchTerm}") %}
                    <a href="{{ linkUrl }}" data-search="{{ item.searchTerm }}" class="site-search-result__link is-search">
                      {% include '_icons/_search-small.svg' %}
                      {{ item.searchTerm }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}


          </div>
        </div>
      </aside>

    </nav>

  </div>
</header>