{% if hero is defined and hero|length %}
  <section class="hero section-animate">
    <div class="hero__content">
      <div class="hero__content-inner">
        {% if hero.title %}
          <h1 class="hero__title heading-1">{{ hero.title|raw|nl2br }}</h1>
        {% endif %}
        {% if hero.text %}
          <p class="hero__text">{{ hero.text }}</p>
        {% endif %}
        <div class="hero__buttons">
          {% if hero.scrollDownButtonText|length %}
            <div class="hero__cta hero__cta--scroll">
              <a href="#section-1" class="button is-white has-outline is-wide scroll-to" data-category="CTA" data-label="{{ (hero.entryType is defined and hero.entryType|length) ? hero.entryType : '' }} - Hero - Learn more">{{ hero.scrollDownButtonText }}</a>
            </div>
          {% endif %}
          {% if hero.buttonLink|length %}
            <div class="hero__cta">
              <a href="{{ hero.buttonLink }}" class="button is-white has-outline is-wide" data-category="CTA" data-label="{{ (hero.entryType is defined and hero.entryType|length) ? hero.entryType : '' }} - Hero - {{ hero.buttonText }}">{{ hero.buttonText }}</a>
            </div>
          {% endif %}
          {% if hero.heroVideoVideoId is defined and hero.heroVideoVideoId|length and hero.buttonLink == '' %}
            <div class="hero__cta">
              {% set popupModal = {
                'buttonStyleClass': 'is-white has-outline is-wide',
                'buttonText': hero.heroVideoButtonText,
                'buttonIcon': 'icon-play-outline',
                'id': 'heroModal',
                'entryType': (hero.entryType is defined) ? hero.entryType : ''
              } %}
              {% embed '_components/_popupModal' with {'popupModal': popupModal} %}
                {% block content %}
                  {% set option = {
                    'allowFullScreen' : true,
                    'videoId': hero.heroVideoVideoId,
                    'coverImage': hero.heroVideoCoverImage
                  } %}
                  {% include '_components/_youtubeVideo' with { 'option' : option } %}
                {% endblock %}
              {% endembed %}
            </div>
          {% endif %}
        </div>  
      </div>
    </div>
    
    {% if hero.backgroundUrl|length %}
      <div class="hero__bg b-lazy" {% if 'image' in hero.backgroundType %}data-src="{{ hero.backgroundUrl }}"{% endif %}>
        {% if 'video' in hero.backgroundType %}
          <video autoplay loop muted playsinline webkit-playsinline preload="auto" id="bgvid">
            <source src="{{ hero.backgroundUrl }}" type="{{ hero.backgroundType }}">
          </video>
        {% endif %}
      </div>
    {% else %}
      <div id="hero__tower--one">{% include '_icons/_tower-hero-1.svg' %}</div>
      <div id="hero__tower--two">{% include '_icons/_tower-hero-2.svg' %}</div>
    {% endif %}
  </section>
{% endif %}