{% if imageTextSimple is defined and imageTextSimple|length %}
  <section class="imageTextSimple section-animate">
    <div class="imageTextSimple__content">
      <div class="imageTextSimple__text">
        <h2 class="heading-2 imageTextSimple__title">{{ imageTextSimple.title|raw|nl2br }}</h2>
        <p class="imageTextSimple__description">{{  imageTextSimple.description|raw|nl2br }}</p>
      </div>
      {% if imageTextSimple.image|length %}
        <div class="imageTextSimple__image">
          <img src="{{ imageTextSimple.image }}" title="{{ imageTextSimple.title|raw }}">
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}