{% if imageText is defined and imageText|length %}
  <section class="imageText section-animate image-{{ imageText.imagePosition.value }}" {% if loopIndex is defined %}id="section-{{ loopIndex }}"{% endif %}>
  <div class="imageText__wrapper">
    <div class="imageText__text">      
        {% if imageText.h1 is defined and imageText.h1 == true %}
          <h1 class="heading-1 imageText__title">{{ imageText.title|raw|nl2br }}</h1>
        {% else %}
          <h2 class="heading-1 imageText__title">{{ imageText.title|raw|nl2br }}</h2>
        {% endif %}
        <p class="imageText__description">{{ imageText.description|raw|nl2br }}</p>
        {% if imageText.buttonOneLink|length or imageText.buttonTwoLink|length %}
          <div class="imageText__buttons">
            {% if imageText.showDiscoverMoreButton is defined and imageText.showDiscoverMoreButton == true %}
              <a href="#{{ imageText.discoverMoreButtonLink }}" class="imageText__button-two button scroll-to has-outline is-dark-grey" data-category="CTA" data-label="{{ (imageText.entryType is defined and imageText.entryType|length) ? imageText.entryType : '' }} - Image and text - Discover more">{{ "Discover more"|t }}</a>
            {% endif %}
            {% if imageText.buttonOneLink|length %}
              <a href="{{ imageText.buttonOneLink }}" class="imageText__button-two button {% if imageText.showDiscoverMoreButton is defined and imageText.showDiscoverMoreButton == true %}is-blue{% else %} has-outline is-dark-grey {% endif %}" data-category="CTA" data-label="{{ (imageText.entryType is defined and imageText.entryType|length) ? imageText.entryType : '' }} - Image and text - {{ imageText.buttonOneText }}">{{ imageText.buttonOneText|raw }}</a>
            {% endif %}
            {% if imageText.buttonTwoLink|length %}
              <a href="{{ imageText.buttonTwoLink }}" class="imageText__button-two button is-blue" data-category="CTA" data-label="{{ (imageText.entryType is defined and imageText.entryType|length) ? imageText.entryType : '' }} - Image and text - {{ imageText.buttonTwoText }}">{{ imageText.buttonTwoText|raw }}</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    {% if imageText.image|length %}
      <div class="imageText__image">
        <img src="{{ imageText.image }}" title="{{ imageText.title|raw }}">
      </div>
    {% endif %}
  </section>
{% endif %}