{% if listItem is defined and listItem|length %}
  <a {{ (listItem.link) ? "href='#{listItem.link}'"|raw }} class="list-item">
    <div class="list-item__content {{ (listItem.price is defined and listItem.price|length) ? 'has-price' : '' }}">
      {% if listItem.title|length %}
        <div class="list-item__title">{{ listItem.title }}</div>
      {% endif %}   
        {#
          {% if listItem.location|length %}
            <div class="list-item__location">{{ listItem.location }}</div>
          {% endif %}
        #}
        <div class="list-item__location">{% include '_icons/_map-marker.svg' %}{{ (listItem.location|length) ? listItem.location : '' }}</div>
        <div class="list-item__date">
          {% set start = (listItem.startTime|length) ? listItem.startTime : '' %}
          {% set end = (listItem.endTime|length) ? listItem.endTime : '' %}

          {# Check if start and end have the same dates, if true display the dates differently #}
          {% if start|date('F j, Y') == end|date('F j, Y') %}
            {% include '_icons/_icon-clock.svg' %}
            {% if listItem.eventsBlock is defined and listItem.eventsBlock == true %}
              <time datetime="{{ start|date('j/m/y') }}">{{ start|date('j/m/y') }}</time>
            {% else %}
              <time datetime="{{ start|date('j/m/y') }}">{{ start|date('j/m/y') }}</time>
              <span class="pipe-divider">|</span>
              <time datetime="{{ start|date('F j, Y') }}">{{ start|date('H:i') }}</time>
              <span class="dash-divider">–</span>
              <time datetime="{{ end|date('j/m/y') }}">{{ end|date('H:i') }}</time>
            {% endif %}
          {# If dates are not the same or if only the start date is filled in #}
          {% elseif start|date('F j, Y') != end|date('F j, Y') or start|length and end == '' %}
            {% include '_icons/_icon-clock.svg' %}
            <time datetime="{{ start|date('Y-m-j') }}">{{ start|date('j.m.Y') }}</time>
          {% endif %}
          {# If both dates exist but they are not the same #}
          {% if end|length and start|date('j/m/y') != end|date('j/m/y') %}
            <span class="dash-divider">–</span>
            <time datetime="{{ end|date('Y-m-j') }}">{{ end|date('j.m.Y') }}</time>
          {% endif %}
        </div>
        {% if listItem.price is defined and listItem.price|length %}
          <div class="list-item__price">{% include '_icons/_icon-price.svg' %}{{ listItem.price }} + {{ "vat"|t }}</div>    
        {% endif %}
      <div class="list-item__cta">{{ "View info"|t }}{% include '_icons/_arrow.svg' %}</div>
    </div>
  </a>
{% endif %}