<div class="logos">
  <div class="logos__title">{{ "The N#1 Model Checking Choice at"|t }}</div>
  {% for logo in logos %}
    <div class="logos__logo">
      <img src="{{ logo.url }}">
    </div>
  {% endfor %}
</div>