{% import '_helpers/_macros.twig' as macros %}
<div class="office" itemscope itemtype="http://schema.org/Organization">
  <div class="office__content">
    <div class="office__office-title">{{ office.companyTitle|raw }}</div>
    <div class="office__title" itemprop="name">{{ office.title|raw }}</div>
    <a href="{{ macros.googleMapsUrl(office.googleAddress) }}" itemscope itemtype="http://schema.org/PostalAddress" class="office__address" target="_blank">{{ office.address|raw|nl2br }}</a>
    {% if office.phone|length %}
      <a href="tel:{{ macros.formatPhoneNumber(office.phone) }}" class="office__phone">
        {% include '_icons/_icon-phone.svg' %}
        <span itemprop="telephone">{{ office.phone }}</span>
      </a>
    {% endif %}
    {% if office.fax|length %}
      <div class="office__fax" itemprop="faxNumber">
        {% include '_icons/_icon-fax.svg' %}
        {{ office.fax }}
      </div>
    {% endif %}
    {% if office.email|length %}
      <a href="mailto:{{ office.email }}" class="office__email" itemprop="email">
        {% include '_icons/_icon-email.svg' %}
        {{ office.email }}
      </a>
    {% endif %}
    {% if office.salesPhone|length or office.salesEmail|length %}
      <div class="office__sales">{{ "Sales"|t }}</div>
      {% if office.salesPhone|length %}
        <a href="tel:{{ macros.formatPhoneNumber(office.salesPhone) }}" class="office__sales-phone">
          {% include '_icons/_icon-phone.svg' %}
           <span itemprop="telephone">{{ office.salesPhone }}</span>
        </a>
      {% endif %}
      {% if office.salesEmail|length %}
        <a href="mailto:{{ office.salesEmail }}" class="office__sales-email" itemprop="email">
          {% include '_icons/_icon-email.svg' %}
          {{ office.salesEmail }}
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>