{% import '_helpers/_macros.twig' as macros %}
<section class="officeSearchApp" id="officeSearchApp" data-loading="true" data-default-id="{{ defaultOfficeID }}">

  <div class="officeSearchApp__header b-lazy" {% if background|length %}data-src="{{ background }}"{% endif %}>
    <div class="officeSearchApp__header-content">
      <h3 class="officeSearchApp__title heading-2">{{ title|raw }}</h3>
      <form class="officeSearchApp__form" ref="form" v-bind:class="{ focused: inputFocused }" v-on:submit.prevent>
        <label for="officeSearch" class="officeSearchApp__button">
          {% include '_icons/_search.svg' %}
        </label>
        <input id="officeSearch" v-model="officeSearch" @keyup.down="autocompleteOnArrowDown" @keyup.up="autocompleteOnArrowUp" @keyup.enter="autocompleteOnEnter" @focus="inputFocused = true" @blur="inputFocused = false" class="officeSearchApp__input" type="text" name="q" aria-label="{{ "Search by country, city or company"|t }}" placeholder="{{ "Search by country, city or company"|t }}" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />
        <ul v-show="autocomplete.isOpen" class="officeSearchApp__autocomplete" v-cloak>
          <li class="officeSearchApp__loader" v-if="autocomplete.isLoading" v-cloak>
            {% include '_components/_loader' %}
          </li>
          <li v-else v-for="(result, i) in autocomplete.results.slice(0, 5)" :key="i" @click="autocompleteSetResult(result)" class="officeSearchApp__autocomplete-item" :class="{ 'is-active': i === autocomplete.arrowCounter }" v-cloak>
            <% result %>
          </li>
        </ul>
      </form>
    </div>
  </div>


  <div class="officeSearchApp__content">

    <div class="officeSearchApp__sorting">
      <span v-on:click="sortBy('company');" v-bind:class="{reverse: reversecompany}">
        {{ "Sort by company"|t }}
        {% include '_icons/_arrow-small.svg' %}
      </span>
      <span v-on:click="sortBy('country');" v-bind:class="{reverse: reversecountry}">
        {{ "Sort by country"|t }}
        {% include '_icons/_arrow-small.svg' %}
      </span>
    </div>

    <div class="officeSearchApp__result">

      <div class="officeSearchApp__loader" v-if="isLoading">
        {% include '_components/_loader' %}
      </div>

      <div class="officeSearchApp__result-items" v-else v-cloak>

        <ul v-if="results.length > 0">
          <li v-for="item in results" :key="item.id">
            <div class="officeSearchApp-resultItem">
              <div class="officeSearchApp-resultItem__header">
                <h5 class="officeSearchApp-resultItem__title">
                  <% item.title %>
                </h5>
              </div>
              <div class="officeSearchApp-resultItem__country">
                <div><% item.mainCountry %></div>
                <div v-if="item.countries.length > 1" class="more-countries">
                  <span>
                    <% '+' + (item.countries.length - 1) + ' more' %>
                    <div class="tooltip"><% _.join(_.without(item.countries, item.mainCountry), ", ") %></div>
                  </span>
                </div>
              </div>
              <div class="officeSearchApp-resultItem__contact">
                <div class="officeSearchApp-resultItem__address">
                  <span class="officeSearchApp-resultItem__address-icon" v-if="item.streetAddress">
                    {% include '_icons/_map-marker.svg' %}
                  </span>
                  <a :href="item.streetAddress | googleMaps" target='_blank' v-if="item.streetAddress">
                    <% item.streetAddress %>
                  </a>
                </div>
                <div class="officeSearchApp-resultItem__information">
                  <span class="officeSearchApp-resultItem__information-icon" v-if="item.email || item.website || item.phoneNumber">
                    {% include '_icons/_icon-phone.svg' %}
                  </span>
                  <div class="officeSearchApp-resultItem__information-content">
                    <a :href="'mailto:' + item.email" v-if="item.email"><% item.email %></a>
                    <a :href="item.website | websiteAddress" v-if="item.website" target='_blank'><% item.website %></a>
                    <a :href="'tel:' + item.phoneNumber" v-if="item.phoneNumber"><% item.phoneNumber %></a>
                  </div>
                </div>
              </div>
              <div class="officeSearchApp-resultItem__cta">
                <a class="cta-link" @click="preventDefault; openModal(item.title, item.supportEmail);">{{ "Contact for support"|t }}</a>
                <a class="button has-outline is-grey lockTrigger" @click="preventDefault; openModal(item.title, item.supportEmail);">
                  {{ "Contact for support"|t }}
                </a>
              </div>
            </div>
          </li>
        </ul>
        <ul v-if="results.length === 0 && hqOffice">
          <li>
            <div class="officeSearchApp-resultItem headquarter">
              <div class="officeSearchApp-resultItem__header">
                <h5 class="officeSearchApp-resultItem__title">
                  <% hqOffice.title %>
                </h5>
              </div>
              <div class="officeSearchApp-resultItem__country">
                <div class="more-countries">
                  <span>
                    Global
                  </span>
                </div>
                <span>
                  and all markets with no listed partner
                </span>
              </div>
              <div class="officeSearchApp-resultItem__contact">
                <div class="officeSearchApp-resultItem__address">
                  <span class="officeSearchApp-resultItem__address-icon" v-if="hqOffice.streetAddress">
                    {% include '_icons/_map-marker.svg' %}
                  </span>
                  <a :href="hqOffice.streetAddress | googleMaps" target='_blank' v-if="hqOffice.streetAddress">
                    <% hqOffice.streetAddress %>
                  </a>
                </div>
                <div class="officeSearchApp-resultItem__information">
                  <span class="officeSearchApp-resultItem__information-icon" v-if="hqOffice.email || hqOffice.website || hqOffice.phoneNumber">
                    {% include '_icons/_icon-phone.svg' %}
                  </span>
                  <div class="officeSearchApp-resultItem__information-content">
                    <a :href="'mailto:' + hqOffice.email" v-if="hqOffice.email"><% hqOffice.email %></a>
                    <a :href="hqOffice.website | websiteAddress" v-if="hqOffice.website" target='_blank'><% hqOffice.website %></a>
                    <a :href="'tel:' + hqOffice.phoneNumber" v-if="hqOffice.phoneNumber"><% hqOffice.phoneNumber %></a>
                  </div>
                </div>
              </div>
              <div class="officeSearchApp-resultItem__cta">
                <a class="cta-link" @click="preventDefault; openModal(hqOffice.title, hqOffice.supportEmail);">{{ "Contact for support"|t }}</a>
                <a class="button has-outline is-grey lockTrigger" @click="preventDefault; openModal(hqOffice.title, hqOffice.supportEmail);">
                  {{ "Contact for support"|t }}
                </a>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>

  </div>
  <transition name="fade">
    <div class="loading-indicator form-submit-loader" v-bind:class="{ submitting: form_submit }" v-cloak>
      {% include '_components/_loader' %}
    </div>
  </transition>
  <transition appear name="appear">
    <div class="contact-modal" id="contactModal" v-cloak v-if="modalIsOpen">
      <div class="modal modal__bg modal--active closeModal" @click="closeModal">
        <div class="modal__dialog" v-cloak>
          <div class="modal__content modal__content--active">
            {% block content %}
              {{ craft.sproutForms.displayForm('supportRequest') }}
            {% endblock %}
          </div>
          <a @click="preventDefault; closeModal();" class="modal__close demo-close closeModal">
            {% include '_icons/_icon-close.svg' %}
          </a>
        </div>
      </div>
    </div>
  </transition>

</section>