{% if pagination is defined %}
  {% if pagination.prevUrl or pagination.nextUrl %}
    {% set query = (query is defined) ? query : '' %}
    <ul class="pagination">
      <li class="arrow {% if not pagination.prevUrl %}unavailable{% endif %} previous">
        <a {% if pagination.prevUrl %}class="pagination--link" href="{{ pagination.prevUrl }}{{ query }}"{% else %}href="#"{% endif %} data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">
          {% include '_icons/_arrow.svg' %}
        </a>
      </li>
      {% if pagination.currentPage > 2 + 1 %}
        <li><a class="pagination--link" href="{{ pagination.firstUrl }}{{ query }}" data-track data-track-category="Pagination" data-track-label="{{ craft.request.url }}">1</a></li>
      {% endif %}
      {% if pagination.currentPage > 2 + 2 %}
        <li class="unavailable"><a href="#">…</a></li>
      {% endif %}
      {% for p, url in pagination.getPrevUrls(2) %}
          <li><a class="pagination--link" href="{{ url }}{{ query }}" data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">{{ p }}</a></li>
      {% endfor %}
      <li class="active"><a href="#" data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">{{ pagination.currentPage }}</a></li>
      {% for p, url in pagination.getNextUrls(2) %}
          <li><a class="pagination--link" href="{{ url }}{{ query }}" data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">{{ p }}</a></li>
      {% endfor %}
      {% if pagination.currentPage < pagination.totalPages - (2 + 1) %}
        <li class="unavailable"><a href="#" data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">…</a></li>
      {% endif %}
      {% if pagination.currentPage < pagination.totalPages - 2 %}
        <li><a class="pagination--link" href="{{ pagination.lastUrl }}{{ query }}" data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">{{pagination.totalPages}}</a></li>
      {% endif %}
      <li class="arrow {% if not pagination.nextUrl %}unavailable{% endif %} next">
        <a {% if pagination.nextUrl %}class="pagination--link" href="{{ pagination.nextUrl }}{{ query }}"{% else %}href="#"{% endif %} data-track data-track-category="Pagination" data-track-label="{{ craft.app.request.absoluteUrl }}">
          {% include '_icons/_arrow.svg' %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endif %}
