{# The button will open the modal and the content(popupModal-container) will be cloned to the end of the site (.site) #}

<a href="" data-modal="#{{popupModal.id}}" class="modal__trigger button {{popupModal.buttonStyleClass}}{% if popupModal.buttonIcon is defined and popupModal.buttonIcon|length %} has-icon{% endif %}" data-label="{{ (popupModal.entryType is defined and popupModal.entryType|length) ? hero.entryType : '' }} - Hero - Show video" data-category="CTA">
{% if popupModal.buttonIcon is defined and popupModal.buttonIcon|length %}
  {% include "_icons/_#{popupModal.buttonIcon}.svg" %}
{% endif %}
{{ popupModal.buttonText }}
</a>

<!-- Modal -->
<div id="{{popupModal.id}}" class="modal modal__bg" role="dialog" aria-hidden="true">
  <div class="modal__dialog">
    <div class="modal__content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- modal close button -->
    <a href="" class="modal__close demo-close">
      {% include '_icons/_icon-close.svg' %}
      {# <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg> #}
    </a>
  </div>
</div>