<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Corporation",
    "name": "Solibri",
    "description": "Solibri, Inc. develops and markets Quality Assurance solutions for AECO field that improve the quality of Building Information Modeling (BIM).",
    "url": "https://www.solibri.com",
    "telephone": "+358 10 548 6800",
    "email": "&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#115;&#111;&#108;&#105;&#98;&#114;&#105;&#46;&#99;&#111;&#109;",
    "contactPoint": [
        {
            "@type": "ContactPoint",
            "contactType": "sales",
            "telephone": "+358 10 548 6809"
        }
    ],
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "FI",
        "addressLocality": "Helsinki",
        "postalCode": "00180",
        "streetAddress": "Tammasaarenkatu 5 HTC Santa Maria"
    },
    "sameAs": [
        "https://twitter.com/solibri?lang=en",
        "https://www.youtube.com/channel/UCHd0eG_RXtzDJQjotq4ZGUA",
        "https://www.linkedin.com/company/solibri-inc-/",
        "https://www.facebook.com/solibri/"
    ]
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Website",
    "name": "Solibri",
    "description": "Solibri, Inc. develops and markets Quality Assurance solutions for AECO field that improve the quality of Building Information Modeling (BIM).",
    "url": "https://www.solibri.com",
    "author": {
        "@type": "Corporation",
        "name": "Solibri",
        "description": "Solibri, Inc. develops and markets Quality Assurance solutions for AECO field that improve the quality of Building Information Modeling (BIM).",
        "url": "https://www.solibri.com",
        "telephone": "+358 10 548 6800",
        "email": "&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#115;&#111;&#108;&#105;&#98;&#114;&#105;&#46;&#99;&#111;&#109;",
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "contactType": "sales",
                "telephone": "+358 10 548 6809"
            }
        ],
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "FI",
            "addressLocality": "Helsinki",
            "postalCode": "00180",
            "streetAddress": "Tammasaarenkatu 5 HTC Santa Maria"
        },
        "sameAs": [
            "https://twitter.com/solibri?lang=en",
            "https://www.youtube.com/channel/UCHd0eG_RXtzDJQjotq4ZGUA",
            "https://www.linkedin.com/company/solibri-inc-/",
            "https://www.facebook.com/solibri/"
        ]
    },
    "copyrightHolder": {
        "@type": "Corporation",
        "name": "Solibri",
        "description": "Solibri, Inc. develops and markets Quality Assurance solutions for AECO field that improve the quality of Building Information Modeling (BIM).",
        "url": "https://www.solibri.com",
        "telephone": "+358 10 548 6800",
        "email": "&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#115;&#111;&#108;&#105;&#98;&#114;&#105;&#46;&#99;&#111;&#109;",
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "contactType": "sales",
                "telephone": "+358 10 548 6809"
            }
        ],
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "FI",
            "addressLocality": "Helsinki",
            "postalCode": "00180",
            "streetAddress": "Tammasaarenkatu 5 HTC Santa Maria"
        },
        "sameAs": [
            "https://twitter.com/solibri?lang=en",
            "https://www.youtube.com/channel/UCHd0eG_RXtzDJQjotq4ZGUA",
            "https://www.linkedin.com/company/solibri-inc-/",
            "https://www.facebook.com/solibri/"
        ]
    },
    "creator": {
        "@type": "Corporation",
        "name": "Solibri",
        "description": "Solibri, Inc. develops and markets Quality Assurance solutions for AECO field that improve the quality of Building Information Modeling (BIM).",
        "url": "https://www.solibri.com",
        "telephone": "+358 10 548 6800",
        "email": "&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#115;&#111;&#108;&#105;&#98;&#114;&#105;&#46;&#99;&#111;&#109;",
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "contactType": "sales",
                "telephone": "+358 10 548 6809"
            }
        ],
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "FI",
            "addressLocality": "Helsinki",
            "postalCode": "00180",
            "streetAddress": "Tammasaarenkatu 5 HTC Santa Maria"
        },
        "sameAs": [
            "https://twitter.com/solibri?lang=en",
            "https://www.youtube.com/channel/UCHd0eG_RXtzDJQjotq4ZGUA",
            "https://www.linkedin.com/company/solibri-inc-/",
            "https://www.facebook.com/solibri/"
        ]
    },
    "sameAs": [
        "https://twitter.com/solibri?lang=en",
        "https://www.youtube.com/channel/UCHd0eG_RXtzDJQjotq4ZGUA",
        "https://www.linkedin.com/company/solibri-inc-/",
        "https://www.facebook.com/solibri/"
    ]
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Place",
    "name": "Solibri",
    "description": "Solibri, Inc. develops and markets Quality Assurance solutions for AECO field that improve the quality of Building Information Modeling (BIM).",
    "url": "https://www.solibri.com",
    "telephone": "+358 10 548 6800",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "FI",
        "addressLocality": "Helsinki",
        "postalCode": "00180",
        "streetAddress": "Tammasaarenkatu 5 HTC Santa Maria"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": "60.161584",
        "longitude": "24.905874"
    },
    "sameAs": [
        "https://twitter.com/solibri?lang=en",
        "https://www.youtube.com/channel/UCHd0eG_RXtzDJQjotq4ZGUA",
        "https://www.linkedin.com/company/solibri-inc-/",
        "https://www.facebook.com/solibri/"
    ]
}
</script>