<section class="search-section" {% if backgroundImage is defined %}style="background-image: url('{{ backgroundImage }}');"{% endif %}>
  <div class="search-section__content text-{{ textColor }}">
    <h2 class="search-section__title heading-2">{{ title|raw|nl2br }}</h2>
    {% block content %}

    {% endblock %}
  </div>
</section>