{% if matrix|length %}
  {% import '_helpers/_macros.twig' as macros %}
  {% for content in matrix.all() %}
    {% set loopIndex = loop.index %}
    {% switch content.type %}

      {% case "imageText" %}
        {% set imageText = {
          title: content.contentTitle,
          titleSize: 'heading-2',
          description: content.contentDescription,
          image: (content.image|length) ? content.image.one().getUrl() : '',
          imagePosition: content.imagePosition,
          buttonOneLink: (content.buttonOneLink|length) ? content.buttonOneLink.one().url : '',
          buttonOneText: content.buttonOneText,
          buttonTwoLink: (content.buttonTwoLink|length) ? content.buttonTwoLink.one().url : '',
          buttonTwoText: content.buttonTwoText,
          loopIndex: loopIndex,
          entryType: (entryType is defined) ? entryType : ''
        } %}

        {% include '_components/_imageText' with { 'imageText': imageText } %}
      
      {% case "imageTextSimple" %}

        {% set imageTextSimple = {
          title: content.blockTitle,
          description: content.contentDescription,
          image: (content.image|length) ? content.image.one().getUrl({width: 1200}) : '',
          loopIndex: loopIndex
        } %}

        {% include '_components/_imageTextSimple' with { 'imageTextSimple': imageTextSimple } %}

      {% case "featuresBlock" %}

        {% set title = '' %}
        {% set link = "" %}
        {% if content.callToActionExternalLink|length %}
          {% set link = content.callToActionExternalLink %}
        {% elseif content.callToActionLink|length %}
          {% set link = content.callToActionLink.one.url %}
        {% endif %}
        {% set cta = {
          link: (link|length) ? link : '',
          text: content.callToActionText
        } %}
        {% set background = 'white' %}

        {% embed '_components/_cardsSection' with { 
          'title': title,
          'textColor': 'white',
          'cta': cta,
          'background': background
        } %}
          {% block content %}
            <div class="feature-icons">
              <div class="feature-icons__content">
                <li class="feature-icons__icon fade-in__item">{% include '_icons/_icon-combine.svg' %}{{ "Combine"|t }}</li>
                <li class="feature-icons__icon fade-in__item">{% include '_icons/_icon-classify.svg' %}{{ "Classify"|t }}</li>
                <li class="feature-icons__icon fade-in__item">{% include '_icons/_icon-check.svg' %}{{ "Check"|t }}</li>
                <li class="feature-icons__icon fade-in__item">{% include '_icons/_icon-communicate.svg' %}{{ "Communicate"|t }}</li>
              </div>
            </div>
          {% endblock %}
        {% endembed %}

      {% case "bannerBlock" %}

        {% if content.linkToBanner|length %}
          {% set banners = content.linkToBanner.all() %}
          {% for banner in banners %}
            {% if banner.type == 'banner' %}
              {% set link = "" %}
              {% if banner.linkExternal|length %}
                {% set link = banner.linkExternal %}
              {% elseif banner.linkInternal|length %}
                {% set link = banner.linkInternal.one.url() %}
              {% endif %}
              {% set banner = {
                'text': banner.bannerText,
                'link': link,
                'linkText': banner.linkText,
                'loopIndex': loopIndex
              } %}
              {% include '_components/_banner' with {
                'banner': banner
              } %}
            {% elseif banner.type == 'testimonial' %}
              {% set testimonial = {
                'image': banner.image,
                'text': banner.bannerText,
                'authorImage': banner.authorImage,
                'authorName': banner.authorName,
                'authorTitle': banner.authorTitle,
                'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : '',
                'loopIndex': loopIndex
              } %}
              {% include '_components/_testimonial' with {
                'testimonial': testimonial
              } %}
            {% endif %}
          {% endfor %}
        {% endif %}

      {% case "testimonialsBlock" %}

        {% set title = content.blockTitle %}
        {% set link = "" %}
        {% if content.callToActionExternalLink|length %}
          {% set link = content.callToActionExternalLink %}
        {% elseif content.callToActionLink|length %}
          {% set link = content.callToActionLink.one.url %}
        {% endif %}

        {% set cta = {
          link: (link|length) ? link : '',
          text: content.callToActionText
        } %}
        {% set background = '' %}

        {% embed '_components/_cardsSection' with { 
          'title': title,
          'textColor': 'white',
          'cta': cta,
          'background': background,
          'loopIndex': loopIndex
        } %}
          {% block content %}
            <ul class="cards-section__content cardsSection-carousel section-animate">
              {% for testimonial in content.testimonials.all() %}
                <li class="fade-in__item{{ (content.testimonials.all()|length > 1) ? ' carousel-cell' : '' }}">
                  {% set testimonial = {
                    'text': testimonial.bannerText,
                    'authorImage': testimonial.authorImage,
                    'authorName': testimonial.authorName,
                    'authorTitle': testimonial.authorTitle,
                    'linkInternal': (testimonial.linkInternal|length) ? testimonial.linkInternal : '',
                  } %}
                  {% include '_components/_testimonialCard' with {
                    'testimonial': testimonial
                  } %}
                </li>
              {% endfor %}
            </ul>
          {% endblock %}
        {% endembed %}
      
      {% case "logosBlock" %}

        {% if content.logos|length %}
          {% include '_components/_logosSection' with {
            'logos': content.logos.all(),
            'loopIndex': loopIndex
          } %}
        {% endif %}

      {% case "careersBlock" %}

        {# set careersCategories = craft.categories.group('careers') #}
        <section class="careers-section">
          
          <div class="careers-section__content">
            <header class="careers-section__header">
              <h2 class="careers-section__title heading-2">{{ content.blockTitle }}</h2>
            </header>
          {#    
              <div class="careers-navigation">
                <ul>
                  <li><a href="#" title="{{ "All positions"|t }}" data-state="1">All positions</a></li>
                  {% for career in careersCategories %}
                    <li><a href="#" title="{{ career.title }}" data-state="{{ loop.index + 1 }}">{{ career.title }}</a></li>
                  {% endfor %}
                </ul>
                <span class="underline"></span>
              </div>

            <div class="careers">
              {% for career in careersCategories %}
                <ul class="careers-tab" data-state="{{ loop.index + 1 }}">
                  {% for position in craft.entries.section('careers').relatedTo(career) %}
                    <li class="careers-tab__position">
                      {% set position = {
                          'icon': true,
                          'link': position.url,
                          'title': position.title,
                          'subTitle': position.subTitle,
                          'duration': ''
                        } %}
                        {% include '_components/_featuredLearnItem' with { 'article': position } %}
                    </li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </div>
          </div>
          #}

          <div class="careers">
            <div class="careers-section__content">
              <ul class="careers-tab">
                {% for career in craft.entries.section('careers').all() %}
                  {% set position = {
                    'icon': true,
                    'link': career.url,
                    'iconType': macros.getCategoriesIcon('career'),
                    'title': career.title,
                    'subTitle': (career.careerLocationCategories|length) ? career.careerLocationCategories.one : '',
                    'duration': career.videoDuration,
                    'articleType': 'career'
                  } %}
                  <li class="careers-tab__position">{% include '_components/_featuredLearnItem' with { 'article': position } %}</li>
                {% endfor %}
              </ul>
            </div>
          </div>


        </section>
      
      {% case "formBlock" %}

        {% if content.form|length %}
          {% set form = {
            'title': content.blockTitle,
            'formHandle': content.form.one.handle,
            'image': 'tower-careers-1',
            'loopIndex': loopIndex
          } %}
          {% include '_components/_stylizedForm' with {'form': form} %}
        {% endif %}

      {% case "eventsBlock" %}        

      {% set events = (content.events|length) ? content.events : '' %}

      {% if events|length %}

        {% embed '_components/_articlesList' with {
          'articles': events,
          'heading': (content.blockTitle|length) ? content.blockTitle : 'Upcoming events'|t,
          'listCta': 'View all events'|t,
          'ctaLink': '',
          'landingPageUrl': '',
          'description': (content.contentDescription|length) ? content.contentDescription : ''
        } %}

        {% block content %}
          <div class="list-items-list">
            {% for event in events.orderBy('startDate').all() %}
              <div class="list-items__item">
                {% set eventItem = {
                  'link': event.url,
                  'title': event.title,
                  'startTime': event.startDate,
                  'endTime': event.endDate,
                  'location': (event.locationCityAndCountry|length) ? event.locationCityAndCountry : '',
                  'price': (event.price|length) ? event.price : '',
                  'externalLink': (event.linkExternal|length) ? event.linkExternal : ''
                } %}
                {% include '_components/_listItem' with { 'listItem' : eventItem }%}
              </div>
            {% endfor %}
          </div>
        {% endblock %}
        {% endembed %}

      {% endif %}

    {% endswitch %}
  {% endfor %}
{% endif %}