      <div class="share-modal">
        <div class="share-modal__content">
          <div class="share-modal__button" for="share-modal__checkbox">
            {{ "Share page"|t }}
          </div>
          <ul class="share-modal__services">
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" target="_blank" class="share-facebook">{% include '_icons/_icon-facebook.svg' %}</a>
            </li>
            <li>
              <a href="https://twitter.com/home?status={{ shareUrl }}" target="_blank" class="share-twitter">{% include '_icons/_icon-twitter.svg' %}</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ shareUrl }}&title={{ shareTitle }}" target="_blank" class="share-linkedin">{% include '_icons/_icon-linkedin.svg' %}</a>
            </li>
            <li>
              <a href="mailto:?subject=Link:%20{{ shareTitle }}%20&amp;body={{ shareTitle }}%0D%0A%0D%0A{{ shareUrl }}" class="share-email">{% include '_icons/_icon-email.svg' %}</a>
            </li>
          </ul>
        </div>
      </div>