{% if form is defined and form|length %}
  <section class="stylizedForm-section blue-gradient">
    <div class="stylizedForm__image" id="stylizedForm-tower">{% include "_icons/_#{form.image}.svg" %}</div>
    <div class="stylizedForm-section__content">
      {% if form.title|length %}
        <header class="stylizedForm-section__header">
          <h2 class="heading-1">{{ form.title|raw }}</h2>
        </header>
      {% endif %}
      <div class="stylizedForm-section__form" id="stylizedForm">
        {{ craft.sproutForms.displayForm(form.formHandle) }}
      </div>
    </div>
  </section>
{% endif %}