{% if categories is defined and categories|length %}
<nav class="sub-navigation-wrapper">
  <div class="sub-navigation">
    <div class="sub-navigation__content-container">
      <div class="sub-navigation__content">
        <div class="sub-navigation__title">
          <a href="{{ siteUrl }}" class="sub-navigation__logo">{% include '_icons/_icon-secondary-logo.svg' %}</a>
          <span>Solibri</span><span class="sub-navigation__category-title"> {{ title }}</span>
        </div>
        <div class="categories-nav">
          {% set currentCategoryID = categories[0].id  %}

          {% if categories|length %}
            <div class="categories-nav__list">
              <ul>
                <li>
                  <a href="{{ landingPageUrl }}" title="{{ 'All articles'|t }}" {{ (active == '') ? 'class="active"' : '' }}>{{ 'All'|t }}</a>
                </li>
                {% for item in categories.all() %}
                  <li>
                    <a href="{{ item.url }}" title="{{ item.title }}" class="{{ (active != null and item.id == active.id) ? 'active' }}">{{ item.title|raw }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endif %}
