{% if testimonial %}
  <a href="{{ testimonial.linkInternal.one.url }}" class="testimonial-card">
    <div class="testimonial-card__content">
      <div class="testimonial-card__text">{{ testimonial.text|raw }}</div>
      <div class="testimonial-card__author">
        {% if testimonial.authorImage|length %}
          {% set thumb = {
              mode: 'crop',
              width: 140,
              height: 140,
              quality: 75,
              position: 'center-center'
          } %}
          <div class="testimonial-card__image" style="background-image: url('{{ testimonial.authorImage.one.getUrl(thumb) }}');"></div>
        {% endif %}
        <div class="testimonial-card__information">
          <div class="testimonial-card__name">{{ testimonial.authorName }}</div>
          <div class="testimonial-card__title">{{ testimonial.authorTitle|nl2br }}</div>
        </div>
      </div>
    </div>
  </a>
{% endif %}