{% if testimonial.image|length %}
  {% set hero = {
      mode: 'crop',
      width: 2000,
      position: 'center-center'
  } %}
  {% set testimonialImage = testimonial.image.one.getUrl(hero) %}
{% endif %}
<div class="testimonial" {% if testimonial.image|length %}style="background-image: url('{{ testimonialImage }}');"{% endif %}>
  <div class="testimonial__content">
    <div class="testimonial__text heading-2">{{ testimonial.text|raw|nl2br }}</div>
    <div class="testimonial__footer">
      {% if testimonial.authorName|length %}
        <div class="testimonial__author">
          {{ testimonial.authorName|raw }}
        </div>
      {% endif %}
      {% if testimonial.authorTitle|length %}
        <div class="testimonial__title">
          {{ testimonial.authorTitle|nl2br|raw }}
        </div>
      {% endif %}
      {% if testimonial.linkInternal|length %}
        <a href="{{ testimonial.linkInternal.one.url }}" class="testimonial__cta">{{ "Read more"|t }}{% include '_icons/_arrow.svg' %}</a>
      {% endif %}
    </div>
  </div>
</div>