<div class="youtube-video" {% if option.videoId is defined and option.videoId|length %} data-videoid="{{option.videoId}}" {% endif %}>
  <div class="youtube-video__container">
    <div class="youtube-video__video">
      <div class="youtube-video__overlay"></div>
      <div class="video_will_be_here" 
        {% if option.coverImage is defined and option.coverImage|length %}
          style="background-image: url('{{option.coverImage}}');"
        {% endif %}
      ><div id="player"></div></div>
    </div>
    <div class="play-button">
      {% include '_icons/_icon-youtube-play.svg' %}
    </div>
    {% if option.allowFullScreen is defined and option.allowFullScreen == true %}
      <div class="fullscreen-btn">{% include '_icons/_icon-fullscreen.svg' %}</div>
    {% endif %}
  </div>
  {% if option.displayProgressBar is defined and option.displayProgressBar == true %}
    <div class="progress-bar">
      <div class="progress-bar__inner"></div>
    </div>
  {% endif %}
</div>