{#
  Note:
  This is the error 404 template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'error-template' %}

{% set metaTitle = '404 - Page not found' %}
{% set metaDescription = "We can't seem to find the page you were looking for. Try searching or go to the frontpage."|t %}
{% set metaImage = '' %}
{% set metaUrl = craft.app.request.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="error-page">
    <div class="error-page__content">
      <header class="error-page__header">
        <h1 class="heading-1">{{ "Oh no!"|t }}</h1>
        <h2 class="heading-4">{{ "We can't seem to find the page you were looking for. Try searching or go to the frontpage."|t }}</h2>
      </header>
      <footer class="error-page__cta">
        <a href="{{ siteUrl }}" class="button is-yellow">{{ "Go to the frontpage"|t }}</a>
      </footer>
    </div>
  </div>

{% endblock %}

{% block foot %}
{% endblock %}