{#
  Note:
  This is the error 500 template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'error-template' %}

{% set metaTitle = '500 - Error' %}
{% set metaDescription = 'There seems to be a problem. Please try again in a moment.'|t %}
{% set metaImage = '' %}
{% set metaUrl = craft.app.request.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="error-page">
    <div class="error-page__content">
      <header class="error-page__header">
        <h1 class="heading-1">{{ "Sorry!"|t }}</h1>
        <h2 class="heading-4">{{ "Something went wrong. Please try again in a while."|t }}</h2>
      </header>
    </div>
  </div>

{% endblock %}

{% block foot %}
{% endblock %}