{#
  Note:
  This is the brand template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'brand-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

{% endblock %}

{% block foot %}
{% endblock %}