{#
  Note:
  This is the contact template.
#}
{% extends "_layouts/_master" %}

{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'contact-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  <section class="contact-headquarters">
    <header class="contact-headquarters__header">
      <h1 class="heading-2">{{ entry.heroTitle|raw }}</h1>
    </header>
    <div class="contact-headquarters__global">
      {% set firstCompanyBlock = entry.companiesMatrix.one %}
      {% set selectedCompany = firstCompanyBlock.company.one %}

      {% set globalOffice = {
        companyTitle: firstCompanyBlock.companyTitle|raw|nl2br,
        title: selectedCompany.title|raw|nl2br,
        address: selectedCompany.streetAddress,
        googleAddress: (selectedCompany.streetAddressGoogleMaps|length) ? selectedCompany.streetAddressGoogleMaps : selectedCompany.streetAddress,
        phone: selectedCompany.phoneNumber,
        fax: selectedCompany.fax,
        email: '',
        salesPhone: selectedCompany.salesPhoneNumber,
        salesEmail: selectedCompany.salesEmail
      } %}

      <div class="contact-headquarters__global-map">
        {#<div class="map" data-address="{{ globalOffice.googleAddress }}"></div>#}
        <a href="{{ macros.googleMapsUrl(globalOffice.googleAddress) }}" target="_blank" title="Google Map" class="map">          
        </a>
      </div>

      <div class="contact-headquarters__global-office">

        {% import '_helpers/_macros.twig' as macros %}
        <div class="office" itemscope itemtype="http://schema.org/Organization">
          <div class="office__content">
            <div class="office__office-title">{{ globalOffice.companyTitle|raw }}</div>
            <div class="office__title" itemprop="name">{{ globalOffice.title|raw }}</div>
            <a href="{{ macros.googleMapsUrl(globalOffice.googleAddress) }}" itemscope itemtype="http://schema.org/PostalAddress" class="office__address" target="_blank">{{ globalOffice.address|raw|nl2br }}</a>
            {% if globalOffice.phone|length %}
              <a href="tel:{{ macros.formatPhoneNumber(globalOffice.phone) }}" class="office__phone">
                {% include '_icons/_icon-phone.svg' %}
                <span itemprop="telephone">{{ globalOffice.phone }}</span>
              </a>
            {% endif %}
            {% if globalOffice.fax|length %}
              <div class="office__fax" itemprop="faxNumber">
                {% include '_icons/_icon-fax.svg' %}
                {{ globalOffice.fax }}
              </div>
            {% endif %}
            {% if globalOffice.email|length %}
              <a href="mailto:{{ office.email }}" class="office__email" itemprop="email">
                {% include '_icons/_icon-email.svg' %}
                {{ globalOffice.email }}
              </a>
            {% endif %}
            {% if globalOffice.salesPhone|length or globalOffice.salesEmail|length %}
              <div class="office__sales">{{ "Sales Global"|t }}</div>
              {% if globalOffice.salesPhone|length %}
                <a href="tel:{{ macros.formatPhoneNumber(globalOffice.salesPhone) }}" class="office__sales-phone">
                  {% include '_icons/_icon-phone.svg' %}
                  <span itemprop="telephone">{{ globalOffice.salesPhone }}</span>
                </a>
              {% endif %}
              {% if globalOffice.salesEmail|length %}
                <a href="mailto:{{ globalOffice.salesEmail }}" class="office__sales-email" itemprop="email">
                  {% include '_icons/_icon-email.svg' %}
                  {{ globalOffice.salesEmail }}
                </a>
              {% endif %}
            {% endif %}

            <div class="office__sales">{{ "Sales Finland"|t }}</div>
            <a href="tel:{{ macros.formatPhoneNumber("+358 10 406 3845") }}" class="office__sales-phone">
              {% include '_icons/_icon-phone.svg' %}
              <span itemprop="telephone">{{ "+358 10 406 3845" }}</span>
            </a>
            {% if globalOffice.salesEmail|length %}
              <a href="mailto:{{ globalOffice.salesEmail }}" class="office__sales-email" itemprop="email">
                {% include '_icons/_icon-email.svg' %}
                {{ globalOffice.salesEmail }}
              </a>
            {% endif %}
            
          </div>
        </div>        

      </div>
    </div>

    <div class="contact-headquarters__offices-container">
      <ul class="contact-headquarters__offices-items">
        {% for item in entry.companiesMatrix.offset(1).limit(4).all() %}
          <li class="contact-headquarters__office">

            {% set officeTitle = item.companyTitle %}
            {% set currentCompany = item.company.one() %}

            {% set office = {
              companyTitle: officeTitle,
              title: currentCompany.title,
              address: currentCompany.streetAddress,
              googleAddress: (currentCompany.streetAddressGoogleMaps|length) ? currentCompany.streetAddressGoogleMaps : currentCompany.streetAddress,
              phone: currentCompany.phoneNumber,
              fax: currentCompany.fax,
              email: currentCompany.email,
              salesPhone: currentCompany.salesPhoneNumber,
              salesEmail: currentCompany.salesEmail
            } %}

            {% include '_components/_office' with {'office': office} %}

          </li>
        {% endfor %}
      </ul>
    </div>

  </section>

  {% set firstCompanyBlock = entry.companiesMatrix.one %}
  {% set selectedCompany = firstCompanyBlock.company.one %}

  {% include '_components/_officeSearchApp' with {
    defaultOfficeID: selectedCompany.id,
    background: craft.app.config.general.staticAssets ~ "/img/search_background.png",
    title: 'Offices and partners'|t,
  } %}

  {% set ctaItems = [
    {
      icon: 'speech-bubble'|t,
      title: "Can't find a local partner?"|t,
      description: 'Contact our global headquarters'|t,
      cta: 'Contact'|t,
      ctaLink: 'mailto:support@solibri.com',
    },
    {
      icon: 'icon-find'|t,
      title: 'Find answers'|t,
      description: 'Already a Solibri user? Click here to find answers to those ore in-depth questions when using our solution.'|t,
      cta: 'Browse our FAQ'|t,
      ctaLink: (craft.entries.section('support')|length) ? craft.entries.section('support').one.url : '',
    }
  ] %}

  {% include '_components/_ctaSection' with { items: ctaItems } %}

  {% if entry.form|length %}
    {% set form = {
      'title': entry.formTitle,
      'formHandle': entry.form.one.handle ,
      'image': 'tower-contact'
    } %}
    {% include '_components/_stylizedForm' with {'form': form} %}
  {% endif %}

{% endblock %}

{% block foot %}
{% endblock %}