{#
  Note:
  This is the homepage.
#}
{% extends "_layouts/_master" %}

{% import '_helpers/_macros.twig' as macros %}

{% set additionalBodyClasses = 'homepage-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  {% set hero = {
    'title': entry.heroTitle,
    'text': entry.heroText,
    'backgroundType': (entry.heroImage|length) ? entry.heroImage.one.mimeType : '',
    'backgroundUrl': (entry.heroImage|length) ? entry.heroImage.one.getUrl({width: 2000}) : '',
    'buttonLink': (entry.heroButtonLink|length) ? entry.heroButtonLink.one.url : '',
    'buttonText': (entry.heroButtonText|length) ? entry.heroButtonText : '',
    'heroVideoVideoId': (entry.heroVideoVideoId|length) ? entry.heroVideoVideoId : '',
    'heroVideoButtonText': (entry.heroVideoButtonText|length) ? entry.heroVideoButtonText : '',
    'heroVideoCoverImage': (entry.heroVideoCoverImage|length) ? entry.heroVideoCoverImage.one.url({width: 2000}) : '',
    'scrollDownButtonText': (entry.heroScrollButtonText|length) ? entry.heroScrollButtonText : '',
    'entryType': 'Homepage'
  } %}

  {% include '_components/_hero' with {'hero': hero} %}

  {% if entry.sectionsMatrix|length %}
    {% include '_components/_sectionsMatrix' with {
      'matrix': entry.sectionsMatrix,
      'entryType': 'Homepage'
    } %}
  {% endif %}

  {% if currentSite.handle != 'en' and address.location|length %}
    <section class="contact-headquarters">
      <header class="contact-headquarters__header">
        <h1 class="heading-2">{{ "Company information"|t }}</h1>
      </header>
      <div class="contact-headquarters__global">

        {% set globalOffice = {
          companyTitle: address.location|raw|nl2br,
          title: '',
          address: address.locationAddress,
          googleAddress: (address.streetAddressGoogleMaps|length) ? address.streetAddressGoogleMaps : address.locationAddress,
          phone: address.phoneNumber,
          fax: address.fax,
          email: address.email,
          salesPhone: address.salesPhoneNumber,
          salesEmail: address.salesEmail
        } %}

        <div class="contact-headquarters__global-map">
          {#<div class="map" data-address="{{ globalOffice.googleAddress }}"></div>#}
          <a href="{{ macros.googleMapsUrl(globalOffice.googleAddress) }}" target="_blank" title="Google Map" class="map">          
          </a>
        </div>

        <div class="contact-headquarters__global-office">

          {% include '_components/_office' with { office: globalOffice }%}

        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}

{% block foot %}
{#
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCmxGlUnMLp8wVpSsJCsr-pKEJuO0Zv3WE"></script>
#}
{% endblock %}