{#
  Note:
  This is the how it works template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'how-it-works-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

{% set imageText = {
  'title': entry.heroTitle,
  'h1': true,
  'description': entry.heroText,
  'image': (entry.heroImage|length) ? entry.heroImage.one().url : '',
  'imagePosition': entry.heroImagePosition,
  'buttonOneLink': craft.entries.section('trialDownload').one.url,
  'buttonOneText': "Download the trial"|t,
  'buttonTwoLink': '',
  'buttonTwoText': '',
  'showDiscoverMoreButton': true,
  'discoverMoreButtonLink': 'feature-1',
  'entryType': 'How it works'
} %}

{% include '_components/_imageText' with { 'imageText': imageText } %}

{% if entry.featuresMatrix|length %}
  <div class="features-section">

    <div class="features-navigation">
      <div class="features-navigation__content">
        <a class="features-navigation__item is-active scroll-to" href="#feature-1">{% include '_icons/_icon-combine.svg' %}{{ "Combine"|t }}</a>
        <a class="features-navigation__item scroll-to" href="#feature-2">{% include '_icons/_icon-classify.svg' %}{{ "Classify"|t }}</a>
        <a class="features-navigation__item scroll-to" href="#feature-3">{% include '_icons/_icon-check.svg' %}{{ "Check"|t }}</a>
        <a class="features-navigation__item scroll-to" href="#feature-4">{% include '_icons/_icon-communicate.svg' %}{{ "Communicate"|t }}</a>
      </div>
    </div>
    <div id="feature-block-tower">{% include '_icons/_feature-tower-large.svg' %}</div>
    {% for block in entry.featuresMatrix.limit(4).all() %}
      <section class="feature-block {{ (loop.first) ? 'first' : '' }}" id="feature-{{ loop.index }}">
        <div class="feature-block__overlay"></div>
        <div class="feature-block__content">
          <div class="feature-mobile-icon">
            {% if loop.index == 1 %}
              <div class="feature-mobile-icon__content">{% include '_icons/_icon-combine.svg' %}{{ "Combine"|t }}</div>
            {% elseif loop.index == 2 %}
              <div class="feature-mobile-icon__content">{% include '_icons/_icon-classify.svg' %}{{ "Classify"|t }}</div>
            {% elseif loop.index == 3 %}
              <div class="feature-mobile-icon__content">{% include '_icons/_icon-check.svg' %}{{ "Check"|t }}</div>
            {% elseif loop.index == 4 %}
              <div class="feature-mobile-icon__content">{% include '_icons/_icon-communicate.svg' %}{{ "Communicate"|t }}</div>
            {% endif %}
          </div>
          {% set color = '' %}
          {% if loop.index == 1 %}
            {% set color = 'blue' %}
          {% elseif loop.index == 2 %}
            {% set color = 'red' %}
          {% elseif loop.index == 3 %}
            {% set color = 'green' %}
          {% elseif loop.index == 4 %}
            {% set color = 'purple' %}
          {% endif %}
          <h2 class="heading-2 feature-block__title-colored {{ color }}">{{ block.featureTitleColored|raw }}</h2>
          <h2 class="heading-2 feature-block__title">{{ block.featureTitle|raw }}</h2>
          {% if block.featureItems|length %}
            <div class="feature-block__list">
              {% for row in block.featureItems %}
                <div class="feature-block__list-item">
                  <div class="feature-block__icon">{% include "_icons/_icon-#{row.icon}.svg" %}</div>
                  <div class="feature-block__feature">{{ row.feature }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </section>
    {% endfor %}
  </div>

{% endif %}
{% if entry.linkToBanner|length %}
  {% set banners = entry.linkToBanner.all() %}
  {% for banner in banners %}
    {% if banner.type == 'banner' %}
      {% set link = "" %}
      {% if banner.linkExternal|length %}
        {% set link = banner.linkExternal %}
      {% elseif banner.linkInternal|length %}
        {% set link = banner.linkInternal.one.url() %}
      {% endif %}
      {% set banner = {
        'text': banner.bannerText,
        'link': link,
        'linkText': banner.linkText
      } %}
      {% include '_components/_banner' with {
        'banner': banner
      } %}
    {% elseif banner.type == 'testimonial' %}
      {% set testimonial = {
        'text': banner.bannerText,
        'image': banner.image,
        'authorName': banner.authorName,
        'authorTitle': banner.authorTitle,
        'linkInternal': banner.linkInternal
      } %}
      {% include '_components/_testimonial' with {
        'testimonial': testimonial
      } %}
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}

{% block foot %}
{% endblock %}