{#
  Note:
  This is the kitchensink.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'kitchensink-template' %}

{% set metaTitle = 'Kitchensink' %}
{% set metaDescription = 'This is a kitchensink page' %}
{% set metaImage = '' %}
{% set metaUrl = 'solibri-craft.text/kitchensink' %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}
  <section class="kitchensink">

    {% set hero = {
      title: 'Hero Title',
      text: 'Hero Text',
      backgroundType: '',
      backgroundUrl: '',
      buttonLink: '#',
      buttonText: 'Button Text',
      horizontalAlign: 'center',
      verticalAlign: 'middle',
    } %}

    {% include '_components/_hero' with {'hero': hero} %}

    {# {% include '_components/_sectionMatrix' with {'matrix': entry.sectionsMatrix} %} #}

    {% set articles = craft.entries.section('news').limit(3) %}

    {% include '_components/_articlesList' with {
      'articles': articles,
      'heading': 'Latest News',
      'footer': true
    } %}

    <header>
      <h2 class="heading-1">Headings</h2>
      <p>Heading tags from h1 - h6</p>
    </header>
    <div>
      <h1>h1. This is a very large heading.</h1>
      <h2>h2. This is a large heading.</h2>
      <h3>h3. This is a medium heading.</h3>
      <h4>h4. This is a moderate heading.</h4>
      <h5>h5. This is a small heading.</h5>
      <h6>h6. This is a tiny heading.</h6>
    </div>

    <header>
      <h4 class="heading-1">Wysiwyg</h2>
    </header>
    <div class="wysiwyg">
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget.</p>
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget.</p>
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget.</p>
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget.</p>
    </div>

    <header>
      <h2 class="heading-1">Buttons</h2>
    </header>

    <div class="buttons-section">
      <a class="button">Button</a><br>
      <a class="button has-outline">Button</a><br>
      <a class="button is-wide">Button</a><br>
      <div style="background-color:#103f62">
        <a class="button is-white">Button</a><br>
        <a class="button has-outline is-white">Button</a><br>
      </div>
    </div>

    <header>
      <h2 class="heading-1">Forms</h2>
    </header>
    {% set testForm = craft.sproutForms.form('testForm') %}

    <section class="form-section">
      <div class="form-section__content">
        {% if craft.app.request.getParam('ok') == 1 %}
            <div class="wysiwyg">
              {{ include(template_from_string("This is the thank you message"|replace({'<h1>': '<h3 class="heading-1">', '</h1>': "</h3>", '<h2>': '<h3 class="heading-2">', '</h2>': "</h3>", '<h3>': '<h3 class="heading-3">', '<h4>': '<h4 class="heading-4">', '<h5>': '<h5 class="heading-5">', '<h6>': '<h6 class="heading-6">', '<img src': '<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src'}))|raw) }}
            </div>
        {% endif %}
        {{ craft.sproutForms.displayForm(testForm.handle) }}
      </div>
    </section>

    {% set banner = {
      'bannerText': 'Start building better today',
      'linkInternal': '',
      'linkText': 'Download free trial',
    } %}

    {% include '_components/_banner' with {
      'banner': banner
    } %}

    {% set testimonial = {
      'image': '',
      'bannerText': 'Start building better today',
      'linkInternal': '',
      'linkText': 'Download free trial',
      'quoteAuthor': 'Model Checker User',
      'quoteAuthorTitle': 'Position',
    } %}

    {% include '_components/_testimonial' with {
      'testimonial': testimonial
    } %}

  </section>


    <div style="background-color: #ccc;">
      <a href="#" class="button">Download the trial</a><br /><br />
      <a href="#" class="button is-cyan">Download the trial</a><br /><br />
      <a href="#" class="button is-yellow">Download the trial</a><br /><br />
      <a href="#" class="button is-grey">Download the trial</a><br /><br />
      <a href="#" class="button is-dark-grey">Download the trial</a><br /><br />
      <a href="#" class="button is-white">Download the trial</a><br /><br />
      <a href="#" class="button has-outline">Download the trial</a><br /><br />
      <a href="#" class="button has-outline is-cyan">Download the trial</a><br /><br />
      <a href="#" class="button has-outline is-yellow">Download the trial</a><br /><br />
      <a href="#" class="button has-outline is-grey">Download the trial</a><br /><br />
      <a href="#" class="button has-outline is-dark-grey">Download the trial</a><br /><br />
      <a href="#" class="button has-outline is-white">Download the trial</a><br /><br />
      <a href="#" class="button is-wide">Download the trial</a><br /><br />
      <a href="#" class="button is-expanded">Download the trial</a><br /><br />
    </div>


{% endblock %}

{% block foot %}
{% endblock %}