{#
  Note:
  This is the press page template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'press-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

    {# Press materials #}
      <section class="press-materials-section">
        <header class="press-materials-section__header">
          <h1 class="heading-1">{{ entry.title|raw|nl2br }}</h1>
        </header>
        <div class="press-materials-section__content">

          {% if entry.logos|length %}
            <div class="press-materials-section__part">
              <div class="press-materials-section__title heading-5">{{ "Logos"|t }}</div>
              {% for logo in entry.logos.all() %}
                <div class="press-material">
                {% set thumb = {
                    width: 120,
                    quality: 80
                } %}  
                  <div class="press-material__thumbnail image-{{ logo.mimeType|replace('image/', '') }}">
                    {% if logo.kind == 'image' %}
                      {#<div class="press-material__thumbnail" style="background-image: url({{ logo.getUrl(thumb) }});"></div>#}
                      <img src="{{ logo.getUrl(thumb) }}" title="{{ logo.title }}">
                    {% else %}
                      {% include '_icons/_icon-pdf.svg' %}
                    {% endif %}
                  </div>
                  <div class="press-material__text">
                    <div class="press-material__title">{{ logo.title }}</div>
                    <div class="press-material__sub-title">.{{ logo.extension }}</div>
                  </div>
                  <a href="{{ logo.url }}" title="{{ 'Download'|t }} {{ logo.title }}" target="_blank" class="press-material__download">{% include '_icons/_icon-download.svg' %}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if entry.brandAndMarketingGuides|length %}
            <div class="press-materials-section__part">
              <div class="press-materials-section__title heading-5">{{ "Brand and marketing guides"|t }}</div>
              {% for guide in entry.brandAndMarketingGuides.all() %}
                <div class="press-material">
                  <div class="press-material__thumbnail">{% include '_icons/_icon-pdf.svg' %}</div>
                  <div class="press-material__text">
                    <div class="press-material__title">{{ guide.title }}</div>
                    <div class="press-material__sub-title">.{{ guide.extension }}</div>
                  </div>
                  <a href="{{ guide.url }}" title="{{ 'Download'|t }} {{ guide.title }}" target="_blank" class="press-material__download">{% include '_icons/_icon-download.svg' %}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}


          {% if entry.images|length %}
            <div class="press-materials-section__part">
              <div class="press-materials-section__title heading-5">{{ "Images"|t }}</div>
              {% for image in entry.images.all() %}
                {% set thumb = {
                    width: 120,
                    quality: 80
                } %}
                <div class="press-material">
                  <div class="press-material__thumbnail">
                    {% if image.kind == 'image' %}
                      <img src="{{ image.getUrl(thumb) }}" title="{{ image.title }}">
                    {% else %}
                      {% include '_icons/_icon-pdf.svg' %}
                    {% endif %}
                  </div>
                  <div class="press-material__text">
                    <div class="press-material__title">{{ image.title }}</div>
                    <div class="press-material__sub-title">.{{ image.extension }}</div>
                  </div>
                  <a href="{{ image.url }}" title="{{ 'Download'|t }} {{ image.title }}" target="_blank" class="press-material__download">{% include '_icons/_icon-download.svg' %}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      </section>
    
    {% set newsLanding = craft.entries.section('newsLanding').one.url %}

    {# Press releases #}
    {% set pressReleasesCategory = craft.categories.slug('press-releases') %}
    {% set pressReleases = craft.entries.section('news').relatedTo(pressReleasesCategory).limit(3).all() %}

    {% if pressReleases|length %}

      {% embed '_components/_articlesList' with { 
        'articles': pressReleases,
        'heading': 'Press releases'|t,
        'listCta': 'View all press releases'|t,
        'ctaLink': pressReleasesCategory.slug,
        'landingPageUrl': newsLanding
      } %}

      {% block content %}
        {% import '_helpers/_macros.twig' as macros %}
        <div class="cards-list">
          {% for article in pressReleases %}
            <div class="cards-list__item">
              {% set icon = '' %}
              {% set articleCard = {
                'link': article.url,
                'title': article.title,                 
                'date': article.postDate,
                'iconType': macros.getCategoriesIcon('pressrelease', 'small'),
                'category': 'Press release'|t
              } %}
              {% include '_components/_categoryCard' with { 'categoryCard' : articleCard }%}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
      {% endembed %}
    {% endif %}

  {% if entry.linkToBanner|length %}
    {% set banners = entry.linkToBanner.all() %}
      {% for banner in banners %}
        {% if banner.type == 'banner' %}
          {% set link = "" %}
          {% if banner.linkExternal|length %}
            {% set link = banner.linkExternal %}
          {% elseif banner.linkInternal|length %}
            {% set link = banner.linkInternal.one.url() %}
          {% endif %}
          {% set banner = {
            'text': banner.bannerText,
            'link': link,
            'linkText': banner.linkText
          } %}
          {% include '_components/_banner' with {
            'banner': banner
          } %}
        {% elseif banner.type == 'testimonial' %}
          {% set testimonial = {
            'text': banner.bannerText,
            'image': banner.image,
            'authorName': banner.authorName,
            'authorTitle': banner.authorTitle,
            'linkInternal': (banner.linkInternal|length) ? banner.linkInternal : ''
          } %}
          {% include '_components/_testimonial' with {
            'testimonial': testimonial
          } %}
        {% endif %}
      {% endfor %}
    {% endif %}

{% endblock %}

{% block foot %}
{% endblock %}