{#
  Note:
  This is the Search result page.
#}

{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'newsLanding-template' %}

{% set query = craft.app.request.getParam('q') %}
{% set result = '' %}

{% set metaTitle = "Search #{query}"|t({query:query}) %}
{% set metaDescription = "Search result for #{query}"|t({query:query}) %}

{% block head %}
{% endblock %}

{% block content %}

    <header class="search-page-header">
      {% if query|length < 1 %}

        {% set title = 'Your search is too short'|t %}
        {% set desc = 'Please try again (minimum 1 character)'|t %}

      {% else %}

        {% set result = craft.entries({
          search: {
            query: '*' ~ query|replace(' ', '* OR *')  ~ '*',
            subLeft: true,
            subRight: true
          },
          order: 'score'
        }).section('and, not banners, not primaryNavigation, not footerNavigation, not people') %}

        {% set amount = result|length %}

        {% set title = "Search results for #{query}"|t({query: query}) %}
        {% set desc = "#{amount} results found"|t({amount: amount}) %}

      {% endif %}

      <div class="search-page-header__content">
        <h1 class="heading-2">{{ title }}</h1>
        <p>{{ desc }}</p>


        <form action="{{ url('search') }}">

          <button>
            {% include '_icons/_search.svg' %}
          </button>

          <input data-input-focus type="text" name="q" type="text" aria-label="{{ 'Search solibri.com' }}" placeholder="{{ 'Search solibri.com' }}" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />
        </form>
      </div>

    </header>

    <section class="search-result-section">
      <div class="search-result-section__content">
        {% if result|length %}
          <div class="search-result-section__items">

            {% paginate result.limit(10) as entriesOnPage %}
            {% for result in entriesOnPage %}

              {% set description = '' %}

              {% if result.heroText is defined and result.heroText|length %}
                {% set description = result.heroText %}
              {% endif %}

              {% if result.description is defined and result.description|length %}
                {% set description = result.description %}
              {% endif %}

              {% if result.seoDescription is defined and result.seoDescription|length %}
                {% set description = result.seoDescription %}
              {% endif %}

              {% set url = (result.type == 'office') ?  "#{siteUrl}/contact?search=#{result.title}#officeSearchApp" : result.url %}

              <div class="search-result">
                <a href="{{ url }}" class="search-result__content">
                  <h3 class="search-result__title heading-5">{{ result.title }}</h3>
                  {% if description|length %}
                    <p class="search-result__desc">{{ description|raw }}</p>
                  {% endif %}
                  <span class="search-result__cta">{{ url }}</span>
                </a>
              </div>
            {% endfor %}

            {% include '_components/_pagination' with { 'pagination' : paginate, 'query': "?q=#{ query }" } %}

          </div>
        {% else %}

          <div class="search-result-section__empty">
            {% if query|length >= 1 %}
              <p>{{ 'Your search for "{query}" didn’t return any results'|t({query:query}) }}.</p>
            {% endif %}
            {% if search.suggestedSearches|length %}
              <h3 class="search-result-section__title">{{ 'Suggested searches'|t }}</h3>
              <ul class="search-result-section__list">
                {% for item in search.suggestedSearches.limit(5) %}
                  <li class="search-result-section__list-item">
                    {% set linkUrl = (item.searchLink|length) ? item.searchLink.one.url : url("search?q=#{item.searchTerm}") %}
                    <a href="{{ linkUrl }}" class="search-result-section__link is-search">
                      {% include '_icons/_search-small.svg' %}
                      {{ item.searchTerm }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

        {% endif %}
    </div>
  </section>

{% endblock %}


{% block foot %}
{% endblock %}