{#
  Note:
  This is the contact template.
#}
{% extends "_layouts/_master" %}

{% set additionalBodyClasses = 'contact-template' %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

{% if entry.questionsMatrix|length %}
  <section class="accordion-section blue-gradient">
    <div id="hero__tower--one">{% include '_icons/_tower-hero-1.svg' %}</div>
    <div id="hero__tower--two">{% include '_icons/_tower-hero-2.svg' %}</div>
    <header class="accordion-section__header">
      <h1 class="heading-1">{{ entry.heroTitle|raw }}</h1>
      {% if entry.heroText %}
        <p class="accordion-section__description">{{ entry.heroText|raw|nl2br }}</p>
      {% endif %}
    </header>
    <div class="accordion">
      {% for block in entry.questionsMatrix.all() %}
        <div class="accordion-tab">
          <div class="accordion-tab__question">{{ block.questionTitle }}</div>
          <span class="accordion-tab__solibri"><span class="accordion-tab__solibri__upper">{{ "Solibri's answer"|t }}</span>{% include '_icons/_arrow-small.svg' %}</span>
          <div href="#answer-{{ loop.index }}" class="accordion-tab__answer">
            <span class="accordion-tab__solibri__lower">{{ "Solibri's answer"|t }}</span>{{ block.answer|replace({'<p>': '', '</p>': ''})|raw }}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if entry.learnCategories|length %}
  {% set title = "Tips, tricks, tutorials and so much more"|t %}
  {% embed '_components/_cardsSection' with { 
    'title': title,
    'headingSize': 'heading-2',
    'cta': ''
  } %}
    {% block content %}
      {% import '_helpers/_macros.twig' as macros %}

      <div class="cards-section__content">
        <ul class="featured-learn-items">
          {% for learnCat in entry.learnCategories.all() %}
            {% set categoryCard = {
              'icon': true,
              'iconType': macros.getCategoriesIcon(learnCat.id),
              'link': learnCat.url,
              'title': learnCat.title,
              'subTitle': learnCat.subTitle,
              'duration': learnCat.videoDuration
            } %}
            <li>{% include '_components/_featuredLearnItem' with { 'article': categoryCard } %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
{% endif %}


{% set firstCompanyBlock = craft.entries.section('contact').one.companiesMatrix.one %}
{% set selectedCompany = firstCompanyBlock.company.one %}

{% include '_components/_officeSearchApp' with {
  defaultOfficeID: selectedCompany.id,
  background: craft.app.config.general.staticAssets ~ "/img/search_background.png",
  title: 'Questions?<br />Contact your local support team'|t,
} %}

{% endblock %}

{% block foot %}
{% endblock %}