{#
  Note:
  This is the homepage.
#}
{% extends "_layouts/_master" %}
    {# {% set localeEntry = craft.entries.id(entry.id).locale('').one() %} #}
{% import '_helpers/_macros.twig' as macros %}

  {% set browserLang = craft.app.config.general.browserLang %}
  {% set siteLang = currentSite.language|slice(0,2) %}
  {% set showingLang = "en" %}

  {% if siteLang == "de" or browserLang == "de" %}
    {% set showingLang = "de" %}
  {% elseif siteLang == "de" and browserLang == "en" %}
    {% set showingLang = "de" %}
  {% elseif browserLang == "ja" %}
    {% set showingLang = "ja" %}
  {% endif %}

{% set additionalBodyClasses = 'trialDownload-template' %}
{% set entry = (entry is defined) ? craft.entries.id(entry.id).site(showingLang).one() : craft.entries.section('trialDownload').locale(showingLang).one() %}

{% set metaTitle = (entry.seoTitle|length) ? entry.seoTitle : entry.title %}
{% set metaDescription = entry.seoDescription %}
{% set metaImage = (entry.seoImage|length) ? entry.seoImage.one : defaultSeoImage.image.one %}
{% set metaUrl = entry.url %}
{% set metaType = 'website' %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="showingLang" data-lang="{{showingLang}}">
    <div class="steps-navigation">
      <div class="steps-navigation__content">
        <div class="steps-navigation__title">
          <a href="{{siteUrl}}">
            <span class="steps-navigation__logo">{% include '_icons/_icon-secondary-logo.svg' %}</span>
          </a>
          <span>Solibri</span>
          <span class="steps-navigation__category-title"> {{macros.translate('Trial Program', showingLang, entry.translations)}}</span>
        </div>
        <div class="steps-nav">
          <ul>
            <li data-step="1">
              <span class="steps-label" onclick="trialDownloadApp.stepNavLink(1);">{{macros.translate('Step 1', showingLang, entry.translations)}}</span>
              <span class="steps-arrow">{% include '_icons/_steps-arrow.svg' %}</span>
            </li>
            <li data-step="2">
              <span class="steps-label" onclick="trialDownloadApp.stepNavLink(2);">{{macros.translate('Step 2', showingLang, entry.translations)}}</span>
              <span class="steps-arrow">{% include '_icons/_steps-arrow.svg' %}</span>
            </li>
            <li data-step="3">
              <span class="steps-label" onclick="trialDownloadApp.stepNavLink(3);">{{macros.translate('Step 3', showingLang, entry.translations)}}</span>
              <span class="steps-arrow">{% include '_icons/_steps-arrow.svg' %}</span>
            </li>
            <li data-step="thankyou">
              <span class="steps-label" onclick="trialDownloadApp.reset();">{{macros.translate('Back to the first step', showingLang, entry.translations)}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="steps-navigation is-sub">
      <div class="steps-navigation__content">
        <div class="steps-nav">
          <ul>
            <li data-step="1">
              <span class="steps-label" onclick="trialDownloadApp.stepNavLink(1);">{{macros.translate('Step 1', showingLang, entry.translations)}}</span>
              <span class="steps-arrow">{% include '_icons/_steps-arrow.svg' %}</span>
            </li>
            <li data-step="2">
              <span class="steps-label" onclick="trialDownloadApp.stepNavLink(2);">{{macros.translate('Step 2', showingLang, entry.translations)}}</span>
              <span class="steps-arrow">{% include '_icons/_steps-arrow.svg' %}</span>
            </li>
            <li data-step="3">
              <span class="steps-label" onclick="trialDownloadApp.stepNavLink(3);">{{macros.translate('Step 3', showingLang, entry.translations)}}</span>
              <span class="steps-arrow">{% include '_icons/_steps-arrow.svg' %}</span>
            </li>
            <li data-step="thankyou">
              <span class="steps-label" onclick="trialDownloadApp.reset();">{{macros.translate('Back to the first step', showingLang, entry.translations)}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="trialDownload" class="trial-download" :class="which_step">
      <transition name="fade">
        <div class="loading-indicator" v-show="is_loading">
          <div class="inner">
            {% include '_components/_loader' %}
            <transition appear name="appear">
              <p class="reset-button" v-show="is_timeout" v-cloak>
                <span @click="reset()">{{ 'We are having problems connecting to one of our services. Please try again later or start over by clicking this.'|t }}</span>
              </p>
            </transition>
          </div>
        </div>
      </transition>
      <transition appear name="appear">
        <div class="sections" v-cloak>
          <transition-group :name="direction" tag="div">
            <section class="step step-1" v-if="step === 1 && form.is_saved === false" key="step-1">
              {# TODO: Create/add fields - Title, Description, cards title and description #}
              <header>
                <h2 class="heading-2">{{entry.step1Title|raw|nl2br}}</h2>
                <p class="description">{{entry.step1Description|raw|nl2br}}</p>
                <div class="button is-yellow is-bigger" data-category="CTA" data-label="Sign up for the Trial" v-on:click="updateStorage(step += 1); updateHistory(); next();">{{macros.translate('Sign up now!', showingLang, entry.translations)}}</div>
              </header>
              <div class="content">
                <div>
                  {% embed '_components/_cardsModal' with { 
                  } %}
                    {% block content %}
                      <h2 class="heading-3">{{entry.step1ModalTitle}}</h2>
                      <p class="modal-description">{{entry.step1ModalDescription|raw}}</p>
                      {% if entry.step1ModalImages|length %}
                        <div class="modal-images">
                          {% for image in entry.step1ModalImages %}
                            <div class="modal-image modal-images__{{loop.index}}"><img src={{image.image.one.getUrl({width: 500})}} alt="{{image.caption}}"></div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endblock %} 
                  {% endembed %}
                </div>
              </div>
              <footer>
                <h2 class="heading-2">{{entry.step1FooterText|raw}}</h2>
                <div class="button has-outline is-white" data-category="CTA" data-label="Sign up for the Trial" v-on:click="updateStorage(step += 1); updateHistory(); next();">{{macros.translate('Get the Solibri Trial now', showingLang, entry.translations)}}</div>
              </footer>
            </section>

            <section class="step step-2" v-if="step === 2" key="step-2">
              <header>
                <h2 class="heading-2">{{entry.step2Title}}</h2>
              </header>
              <div class="register-form">
                <div>
                {% embed '_components/_cardsModal' with { 
                } %}
                  {% block content %}
                    {% import '_helpers/_macros.twig' as macros %}

                    <p v-if="error_message" class="trial-error"><% translated_error_message %></p>
                    {% set trialDownloadFormHandle = entry.step2Form.one().handle %}
                    {{ craft.sproutForms.displayForm(trialDownloadFormHandle) }}

                    {% set get_solibri_model_text = macros.translate('Get the Solibri Trial', showingLang, entry.translations) %}
                    {% set get_solibri_model_text__small = macros.translate('Get the Trial', showingLang, entry.translations) %}
                    <button class="button is-expanded form-check" v-on:click="form_check();">
                      <span class="big">{{ get_solibri_model_text }}</span>
                      <span class="small">{{ get_solibri_model_text__small }}</span>
                    </button>
                  {% endblock %} 
                {% endembed %}
                </div>
              </div>
              <footer>
              </footer>
            </section>

            <section class="step step-3" v-if="form.is_saved === true && step === 3" key="step-3">
              <header>
                <h2 class="heading-2">{{entry.thankYouSectionTitle|nl2br|raw}}</h2>
              </header>
              <footer>
                <p>{{entry.thankYouSectionDescription}}</p>
              </footer>
              <div class="learn-component">
                <div class="trial-download-list">
                  {% set categories = entry.thankYouSectionLearnCategories %}
                  {% for cat in categories.all() %}
                    <div class="trial-download-list__item">
                      {% set card = {
                        'icon': true,
                        'iconType': macros.getCategoriesIcon(cat.category.one.id),
                        'link': cat.category.one.url,
                        'title': cat.category.one.title,
                        'subTitle': cat.subTitle,
                        'duration': ''
                      } %}
                      {% include '_components/_featuredLearnItem' with { 'article': card } %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </section>
          </transition-group>
        </div>
      </transition>

      <div class="trial-download__background blue-gradient" :class="direction">
        <div class="towers">
          <div class="tower tower--one">{% include '_icons/_tower-hero-1.svg' %}</div>
          <div class="tower tower--two">{% include '_icons/_tower-hero-2.svg' %}</div>
        </div>
      </div>
      
      {# <section v-else>
      Opps, something went wrong. Please start from the beginning.
      <button class="button" v-on:click="reset">Reset</button>
      </section> #}
      {# <hr>
      <button class="button" v-on:click="reset">Reset</button>

      DEBUG<br>

        <pre>STEP: <% step %>
          CONTACT: <% contact %>
          FORM: <% form %>
          ERROR MESSAGE: <% error_message %>
        </pre>

      <button class="button" v-on:click="step = 1; updateHistory();">Back to the first step</button> #}
    </div>
  </div>
{% endblock %}

{% block foot %}
{% endblock %}