@import 'utils/helpers';
@import 'utils/settings';
@import 'utils/normalize';
@import 'utils/mediaQueries';
@import 'utils/typography';
@import 'utils/animations';

@import 'components/buttons';

//Globals
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  // remove 300ms delay on IE 10-11
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-color: $darkblue;
}
body {
  @include roboto;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $black;
}

.report-error {
  color: red;
  display: block;
}

.select-input {
  position: relative;
  outline: 0;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  margin: 0;
  border: 1px solid #e0e0e0;
  display: inline-flex;
  align-items: stretch;
  select {
    appearance: none;
    border: none;
    background: transparent;
    box-shadow: none;
    height: 100%;
    padding: 13px 25px 13px 20px;
    margin: 0;
    &:-ms-expand {
      display: none;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    right: 15px;
    padding: 0;
    margin-top: -3px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='10px' height='6px' viewBox='0 0 10 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Page-1-Copy-4' fill='%234A4A4A' points='9.04615972 0 5.01538657 4.03077314 0.984613428 0 2.84217094e-13 0.984613428 4.03115463 5.01538657 5.01538657 6 6 5.01538657 10.0307731 0.984613428'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.border-top {
  border-top: 1px solid $grey-light;
}

.border-bottom {
  border-bottom: 1px solid $grey-light;
}

.text-white {
  color: $white;
}

.text-blue {
  color: #3595f2;
}

.title {
  margin: 0;
}

.description {
  font-size: 16px;
  color: #484848;
}

.link {
  color: #3595f2;
  text-decoration: none;
}

.site-content {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 0 $gutter;
  @include mq(medium) {
    padding: 0 $gutter * 2;
  }
}

@include mq(small-only) {
  .hide-for-small {
    display: none;
  }
}

.paper {
  box-shadow: 0 1px 144px 6px rgba(21, 21, 21, 0.05);
  border-radius: 6px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  display: block;
  border: 1px solid #e0e0e0;
}

.container {
  width: 100%;
  max-width: $containerWidthLarge;
  margin: auto;
}

// Header

.reports-header {
  width: 100%;
  position: relative;
  z-index: 6000;
}

.reports-header__content {
  width: 100%;
  max-width: $containerWidthLarge;
  margin: 0 auto;
  @include mq(large) {
    display: flex;
    align-items: center;
    height: 100px;
  }
}

.reports-header__logo {
  height: 100%;
  line-height: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: $white;
  float: left;
  padding: 18px 0;
  a {
    display: inline-block;
    padding-right: $gutter;
    svg {
      width: 35px;
      height: 35px;
      * {
        fill: $white;
      }
    }
  }
  span {
    padding-left: 5px;
    color: #a7a7a7;
  }
  @include mq(large) {
    padding: 0;
    order: 1;
  }
}

.reports-header__actions {
  margin-left: auto;
  font-size: 16px;
  float: right;
  padding: $gutter 0;
  a {
    text-decoration: none;
    padding: 13px 25px;
  }
  @include mq(large) {
    padding: 0;
    order: 3;
    margin-left: $gutter;
  }
}

.date-chooser {
  position: relative;
  margin-bottom: $gutter;
  transition: opacity 0.2s linear;
  &__content {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    input {
      padding: 17px 20px;
      width: 100%;
      outline: 0;
      border: 0;
      background-color: $white;
      color: $black;
      border-radius: 5px;
      margin: 0;
      border: 1px solid #e0e0e0;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    svg {
      width: 13px;
      height: 8px;
    }
  }
  &.is-loading {
    .date-chooser__content {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &__picker {
    position: absolute;
    top: 100%;
    right: 0;
  }
  @include mq(medium) {
    margin-bottom: $gutter * 2;
  }
}

.search {
  margin-left: auto;
  position: relative;
  margin-bottom: $gutter;
  transition: opacity 0.2s linear;
  input {
    padding: 17px 20px;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: $white;
    color: $black;
    border-radius: 5px;
    margin: 0;
    border: 1px solid #e0e0e0;
    display: block;
    padding-right: 42px;
  }
  span {
    position: absolute;
    top: 0;
    right: $gutter;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }
  @include mq(medium) {
    margin-bottom: $gutter * 2;
  }
}

@media only screen and (min-width: 550px) {
  .reports-settings {
    display: flex;
    width: 100%;
  }
  .date-chooser {
    &__content {
      width: 250px;
    }
  }
}

@include mq(large) {
  .reports-settings {
    order: 2;
    justify-content: flex-end;
  }
  .date-chooser {
    margin-bottom: 0;
    &__content {
      input {
        padding-top: 13px;
        padding-bottom: 13px;
      }
    }
  }
  .search {
    margin-left: $gutter;
    width: 200px;
    margin-bottom: 0;
    input {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}

// Charts
.charts {
  margin-bottom: $gutter;
  @include mq(medium) {
    margin-bottom: $gutter * 2;
  }
}
.charts-header {
  border-bottom: 1px solid $grey-light;
  padding: $gutter;
}
.charts-content {
  display: block;
  @include mq(large) {
    display: flex;
    margin: 0 -$gutter;
  }
}
.charts-column {
  width: 100%;
  @include mq(large) {
    width: 33.33%;
    padding: $gutter;
    flex-grow: 1;
    flex-shrink: 1;
    margin: $gutter;
  }
}

.charts-number {
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s linear;
  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }
  &__title {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    padding: 24px 0;
    font-family: $roboto;
    color: #484848;
    margin: 0;
  }
  &__number {
    font-size: 18vw;
    text-align: center;
    color: #484848;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      display: block;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      padding: 24px 0;
      font-family: $roboto;
      color: #484848;
      margin: 0;
    }
  }
  @include mq(large) {
    &__number {
      font-size: 7vw;
    }
  }
}

.piechart {
  display: none;
  transition: opacity 0.2s linear;
  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }
  @include mq(large) {
    display: block;
  }
}

// List

.list {
  transition: opacity 0.2s linear;
  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }
}

.list-content {
  width: 100%;
  overflow-x: auto;
  table {
    border-collapse: collapse;
    border-top: 1px solid $grey-light;
    min-width: 100%;
  }
  th,
  td {
    white-space: nowrap;
    text-align: left;
    padding: $gutter;
    font-weight: normal;
    font-size: 16px;
  }
  td {
    color: #484848;
  }
  th.sortable {
    cursor: pointer;
  }
  thead {
    background-color: $white;
    tr {
      border-bottom: 1px solid $grey-light;
    }
  }
  thead.asc {
    svg {
      transform: rotate(180deg);
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $grey-light;
    }
    tr:nth-child(even) {
      background-color: $white;
    }
    tr:hover {
      background-color: $yellow;
    }
  }
}

.list-pagination {
  padding: $gutter;
  font-size: 16px;
  display: flex;
  color: #484848;
  &__column {
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    text-align: right;
    flex-direction: row-reverse;
    &:first-child {
      margin-left: 0;
      margin-right: auto;
      text-align: left;
    }
  }
  @include mq(medium) {
    &__column {
      flex-direction: row;
    }
  }
}

.pagination-amount {
  span {
    display: inline-block;
  }
  .pagination-amount__affix {
    display: none;
  }
  @include mq(medium) {
    .pagination-amount__affix {
      display: inline-block;
    }
  }
}

.pagination-button {
  border: none;
  background: transparent;
  cursor: pointer;
  svg {
    width: 7px;
    height: 11px;
    * {
      fill: #484848;
    }
  }
  &.is-prev {
    svg {
      transform: rotate(180deg);
    }
  }
}

//Date picker

$tablet: 768px;
$color-gray: rgba(0, 0, 0, 0.2);
$border-normal: 1px solid $color-gray;
$border: 1px solid #e4e7e7;
$transition-time: 0.3s;

// fade in
.asd__fade-enter-active,
.asd__fade-leave-active {
  transition: all 0.2s ease;
}

.asd__fade-enter,
.asd__fade-leave-active {
  opacity: 0;
}

// datepicker
.asd__list-complete-enter,
.asd__list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.asd__list-complete-leave-active {
  position: absolute;
  visibility: hidden;
}

.datepicker-trigger {
  position: relative;
  overflow: visible;
}
.asd {
  &__wrapper {
    border: $border-normal;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    background-color: white;
    &--full-screen {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: none;
      z-index: 100;
    }
  }
  &__inner-wrapper {
    transition: all $transition-time ease;
    position: relative;
  }
  &__datepicker-header {
    position: relative;
  }
  &__keyboard-shortcuts-trigger-wrapper {
    position: relative;
  }
  &__keyboard-shortcuts-trigger {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font: inherit;
    border-width: 26px 33px 0px 0px;
    border-top: 26px solid transparent;
    border-right: 33px solid rgb(0, 166, 153);
    span {
      color: rgb(255, 255, 255);
      position: absolute;
      bottom: 0px;
      right: -28px;
    }
  }
  &__keyboard-shortcuts-show {
    display: block !important;
  }
  &__keyboard-shortcuts-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 5px;
    z-index: 100;
    cursor: pointer;
  }
  &__keyboard-shortcuts-menu {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    overflow: auto;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 2px;
    padding: 22px;
    margin: 33px;
    text-align: left;
  }
  &__keyboard-shortcuts-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
  }
  &__keyboard-shortcuts-list {
    list-style: none;
    margin: 6px 0px;
    padding: 0px;
    white-space: initial;
  }
  &__keyboard-shortcuts-symbol {
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    background: rgb(242, 242, 242);
    padding: 2px 6px;
    margin-right: 4px;
  }
  &__change-month-button {
    position: absolute;
    top: 12px;
    z-index: 10;
    background: white;
    &--previous {
      left: 0;
      padding-left: 15px;
    }
    &--next {
      right: 0;
      padding-right: 15px;
    }
    > button {
      background-color: white;
      border: $border;
      border-radius: 3px;
      padding: 4px 8px;
      cursor: pointer;
      &:hover {
        border: 1px solid #c4c4c4;
      }
      > svg {
        height: 19px;
        width: 19px;
        fill: #82888a;
      }
    }
  }
  &__days-legend {
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 0 10px;
  }
  &__day-title {
    display: inline-block;
    width: percentage(1/7);
    text-align: center;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
    margin-left: -1px;
  }
  &__month-table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    width: 100%;
    max-width: 100%;
  }
  &__month {
    transition: all $transition-time ease;
    display: inline-block;
    padding: 15px;
    &--hidden {
      height: 275px;
      visibility: hidden;
    }
  }
  &__month-name {
    font-size: 1.3em;
    text-align: center;
    margin: 0 0 30px;
    line-height: 1.4em;
    font-weight: bold;
  }
  &__day {
    $size: 38px;
    line-height: $size;
    height: $size;
    padding: 0;
    overflow: hidden;
    &--enabled {
      border: $border;
      &:hover {
        background-color: #e4e7e7;
      }
      &:focus {
        outline: auto 5px Highlight;
        outline: auto 5px -webkit-focus-ring-color;
      }
    }
    &--disabled,
    &--empty {
      opacity: 0.5;
      button {
        cursor: default;
      }
    }
    &--empty {
      border: none;
    }
    &--disabled {
      &:hover {
        background-color: transparent;
      }
    }
  }
  &__day-button {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    color: inherit;
    text-align: center;
    user-select: none;
    font-size: 16px;
    font-weight: inherit;
    padding: 0;
  }
  &__action-buttons {
    min-height: 50px;
    padding-top: 10px;
    margin-bottom: 12px;
    button {
      display: block;
      position: relative;
      background: transparent;
      border: none;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:nth-child(1) {
        float: left;
        left: 15px;
      }
      &:nth-child(2) {
        float: right;
        right: 15px;
      }
    }
  }
  &__mobile-header {
    border-bottom: $border-normal;
    position: relative;
    padding: 15px 15px 15px 15px !important;
    text-align: center;
    height: 50px;
    h3 {
      font-size: 20px;
      margin: 0;
    }
  }
  &__mobile-only {
    display: none;
    @media (max-width: 600px) {
      display: block;
    }
  }
  &__mobile-close {
    border: none;
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 5px;
    z-index: 100;
    cursor: pointer;
    &__icon {
      position: relative;
      font-size: 1.6em;
      font-weight: bold;
      padding: 0;
    }
  }
}

// Footer
.reports-footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #5f686f;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  letter-spacing: 0.07em;
  padding: $gutter * 2 $gutter;
  a {
    color: #5f686f;
    text-decoration: none;
    &:hover {
      color: #5f686f;
    }
  }
  @include mq(large) {
    font-size: 11px;
    letter-spacing: 0.06em;
    line-height: 1.18;
  }
}

.reports-login-view {
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: $gutter;
  @include mq(medium) {
    padding: $gutter * 2;
  }
}

.reports-logo {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: $white;
  padding: $gutter * 2 0;
  a {
    display: inline-block;
    padding-right: $gutter;
    svg {
      width: 35px;
      height: 35px;
      * {
        fill: $white;
      }
    }
  }
  span {
    padding-left: 5px;
    color: #a7a7a7;
  }
}

.form {
  margin: 0;
  padding: 0;
}

.text-field {
  padding: 17px 20px;
  width: 100%;
  outline: 0;
  border: 0;
  background-color: $white;
  color: $black;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid #e0e0e0;
}

.checkbox-field {
  input {
  }
  label {
    position: relative;
    left: 6px;
    top: 1px;
    font-size: 16px;
    color: #484848;
  }
}

.login-action {
  @include mq(medium) {
    display: flex;
    align-items: center;
    padding: $gutter/2 0 $gutter * 2 0;
    .checkbox-field {
      margin-right: auto;
    }
    .forgot-field {
      margin: 0;
      padding: 0;
      margin-left: auto;
    }
  }
}

.back-to-login {
  margin-top: $gutter * 2;
  display: block;
  svg {
    transform: rotate(180deg);
    margin-right: 12px;
    fill: currentColor;
    width: 25px;
    height: 10px;
  }
}

.export-button {
  display: none;
  @include mq(large) {
    display: inline-block;
    padding: 13px 20px;
    font-size: 16px;
    margin-left: 15px;
  }
}

#donwload-csv-hidden {
  display: none;
}
